// -----------------------------------------------------------------------------
// This file contains all styles related to the rating and badge component.
// -----------------------------------------------------------------------------

.rating-input {
  float: left;
  position: relative;
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/

  input {
    position: absolute;
    top: 0;
    width: 1.625rem;
    height: 1.625rem;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 0;

    &:checked ~ label {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9343 20.4504C13.2478 20.2655 13.637 20.2655 13.9505 20.4504L20.0672 24.0589C20.827 24.5072 21.7528 23.8236 21.548 22.9655L19.9411 16.2329C19.8536 15.8661 19.9798 15.4813 20.2676 15.2376L25.5998 10.7225C26.2797 10.1467 25.9241 9.03635 25.0363 8.96272L17.973 8.37699C17.6057 8.34653 17.2849 8.11643 17.1382 7.77824L14.3598 1.37075C14.0117 0.567842 12.8731 0.56784 12.5249 1.37074L9.74656 7.77824C9.59991 8.11643 9.2791 8.34653 8.91174 8.37699L1.84851 8.96272C0.96063 9.03635 0.605023 10.1467 1.28494 10.7225L6.61719 15.2376C6.90496 15.4813 7.0312 15.8661 6.94366 16.2329L5.33679 22.9655C5.13199 23.8236 6.05776 24.5072 6.81758 24.0589L12.9343 20.4504Z' fill='%23FFD578'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }

  label {
    float: right;
    position: relative;
    height: 1.625rem;
    width: 1.625rem;
    margin: 0.625rem 0.25rem;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9343 20.6179C13.2478 20.433 13.637 20.433 13.9505 20.6179L20.0672 24.2264C20.827 24.6747 21.7528 23.9911 21.548 23.133L19.9411 16.4004C19.8536 16.0336 19.9798 15.6487 20.2676 15.4051L25.5998 10.8899C26.2797 10.3142 25.9241 9.20383 25.0363 9.1302L17.973 8.54447C17.6057 8.51401 17.2849 8.28391 17.1382 7.94572L14.3598 1.53823C14.0117 0.735322 12.8731 0.735321 12.5249 1.53822L9.74656 7.94572C9.59991 8.28391 9.2791 8.51401 8.91174 8.54447L1.84851 9.1302C0.96063 9.20383 0.605023 10.3142 1.28494 10.8899L6.61719 15.4051C6.90496 15.6487 7.0312 16.0336 6.94366 16.4004L5.33679 23.133C5.13199 23.9911 6.05776 24.6747 6.81758 24.2264L12.9343 20.6179Z' fill='%23DEE7F3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;

    &:not(.rating-input__result):hover, &:not(.rating-input__result):hover ~ label {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9343 20.4504C13.2478 20.2655 13.637 20.2655 13.9505 20.4504L20.0672 24.0589C20.827 24.5072 21.7528 23.8236 21.548 22.9655L19.9411 16.2329C19.8536 15.8661 19.9798 15.4813 20.2676 15.2376L25.5998 10.7225C26.2797 10.1467 25.9241 9.03635 25.0363 8.96272L17.973 8.37699C17.6057 8.34653 17.2849 8.11643 17.1382 7.77824L14.3598 1.37075C14.0117 0.567842 12.8731 0.56784 12.5249 1.37074L9.74656 7.77824C9.59991 8.11643 9.2791 8.34653 8.91174 8.37699L1.84851 8.96272C0.96063 9.03635 0.605023 10.1467 1.28494 10.7225L6.61719 15.2376C6.90496 15.4813 7.0312 15.8661 6.94366 16.2329L5.33679 22.9655C5.13199 23.8236 6.05776 24.5072 6.81758 24.0589L12.9343 20.4504Z' fill='%23FFD578'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:not(.rating-input__result):hover {
      @include transform(scale(1.4));
    }

    &.rating-input__result {
      cursor: auto;

      &.active, &.active ~ label {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9343 20.4504C13.2478 20.2655 13.637 20.2655 13.9505 20.4504L20.0672 24.0589C20.827 24.5072 21.7528 23.8236 21.548 22.9655L19.9411 16.2329C19.8536 15.8661 19.9798 15.4813 20.2676 15.2376L25.5998 10.7225C26.2797 10.1467 25.9241 9.03635 25.0363 8.96272L17.973 8.37699C17.6057 8.34653 17.2849 8.11643 17.1382 7.77824L14.3598 1.37075C14.0117 0.567842 12.8731 0.56784 12.5249 1.37074L9.74656 7.77824C9.59991 8.11643 9.2791 8.34653 8.91174 8.37699L1.84851 8.96272C0.96063 9.03635 0.605023 10.1467 1.28494 10.7225L6.61719 15.2376C6.90496 15.4813 7.0312 15.8661 6.94366 16.2329L5.33679 22.9655C5.13199 23.8236 6.05776 24.5072 6.81758 24.0589L12.9343 20.4504Z' fill='%23FFD578'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }
    }
  }
}

/* .rating-input #star-0 {
  left: 0;
}
.rating-input #star-1 {
  left: 2.25rem;
}
.rating-input #star-2 {
  left: 4.5rem;
}
.rating-input #star-3 {
  left: 6.75rem;
}
.rating-input #star-4 {
  left: 9rem;
}
.rating-input #star-5 {
  left: 11.25rem;
} */