// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  padding: 0.625rem 2.175rem;
  font-size: 1.125rem; // 18px
  font-weight: bold;
  line-height: 1.667; // 21px
  border-radius: 0.5rem;
}

.btn-green {
  color: #fff;
  background-color: $btn-green;
  border: 3px solid $btn-green;

  &:hover:not(.disabled) {
    color: #fff;
    background-color: $btn-green-hover;
    border-color: $btn-green-hover;
    box-shadow: 0px 9px 20px $btn-green-shadow;
  }
}

.btn-red {
  color: #fff;
  background-color: $btn-red;
  border: 3px solid $btn-red;

  &:hover:not(.disabled) {
    color: #fff;
    background-color: $btn-red-hover;
    border-color: $btn-red-hover;
    box-shadow: 0px 9px 20px $btn-red-shadow;
  }
}

.btn-green, .btn-red {
  &:active:not(.disabled), &.active:not(.disabled) {
    color: #fff;
    background-color: $heading-color;
    border-color: $heading-color;
    outline: none;
  }

  &.disabled {
    color: $main-blue;
    background-color: $middle-grey;
    border-color: $middle-grey;
  }
}

.btn-outline {
  color: $heading-color;
  background-color: #fff;
  border: 3px solid $middle-grey;

  &:hover:not(.disabled) {
    color: $heading-color;
    background-color: #fff;
    border-color: $text-color;
  }

  &:active:not(.disabled), &.active:not(.disabled) {
    color: #fff;
    background-color: $heading-color;
    border-color: $heading-color;
    outline: none;
  }

  &.disabled {
    color: $middle-grey;
    background-color: #fff;
    border-color: $middle-grey;
  }
}

// buttons with elements (arrows etc)
.btn-prev, .btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    background-image: url('../img/button-icon.png');
    background-repeat: no-repeat;
  }

  &.disabled {
    &::after {
      color: $main-blue;
    }

    &.btn-outline {
      &::after {
        color: $middle-grey;
      }
    }
  }

  &.btn-outline:not(.disabled) {
    color: $heading-color;

    &:active:not(.disabled), &.active:not(.disabled) {
      color: #fff;
    }
  }
}

.btn-prev {
  padding-left: 3.025rem;

  &::after {
    content: '';
    left: 24px;
    width: 10px;
    height: 18px;
    background-position: 0px 0px;
  }

  &.disabled {
    &::after {
      background-position: 0px -18px;
    }

    &.btn-outline {
      &::after {
        background-position: 0px -54px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: 0px -36px;
    }
  }
}

.btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  padding-right: 3.025rem;

  &::after {
    right: 24px;
  }
}

.btn-next {
  &::after {
    content: '';
    width: 10px;
    height: 18px;
    background-position: 0px -72px;
  }

  &.disabled {
    &::after {
      background-position: -10px 0px;
    }

    &.btn-outline {
      &::after {
        background-position: -10px -36px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: -10px -18px;
    }
  }
}

.btn-download {
  &::after {
    content: '';
    width: 14px;
    height: 15px;
    background-position: -85px -24px;
  }

  &.disabled {
    &::after {
      background-position: -85px -39px;
    }

    &.btn-outline {
      &::after {
        background-position: -85px -69px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: -85px -54px;
    }
  }
}

.btn-cancel {
  &::after {
    content: '';
    width: 15px;
		height: 16px;
		background-position: -10px -54px;
  }

  &.disabled {
    &::after {
      background-position: -10px -70px;
    }

    &.btn-outline {
      &::after {
        background-position: -25px -16px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: -25px 0px;
    }
  }
}

.btn-plus {
  padding-right: 3.5rem;

  &::after {
    content: '';
    width: 24px;
		height: 24px;
		background-position: -55px -22px;
  }

  &.disabled {
    &::after {
      background-position: -55px -46px;
    }

    &.btn-outline {
      &::after {
        background-position: -85px 0px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: -55px -70px;
    }
  }
}

.btn-mail {
  padding-right: 3.5rem;

  &::after {
    content: '';
    width: 30px;
		height: 22px;
		background-position: -25px -32px;
  }

  &.disabled {
    &::after {
      background-position: -25px -54px;
    }

    &.btn-outline {
      &::after {
        background-position: -55px 0px;
      }
    }
  }

  &.btn-outline:not(.disabled):not(:active):not(.active) {
    &::after {
      background-position: -25px -76px;
    }
  }
}

.btn-empty {
  min-height: 56px;

  &.btn {
    padding-left: 2rem;
    padding-right: 2rem;

    &::after {
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}

.btn-link {
  padding: 0;
  color: $main-blue;
  @include font(1rem, 400, inherit);
  vertical-align: inherit;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &.btn-back {
    padding-left: 1.875rem;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5693 6.88428L9.24958 13.204' stroke='%23DEE7F3' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.24902 13.2041L15.5688 19.5238' stroke='%23DEE7F3' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 26px;
  }
}


