// -----------------------------------------------------------------------------
// This file contains all styles related to the catalogue of the site.
// -----------------------------------------------------------------------------

.catalogue {
  position: absolute;
  width: 100%;
  margin-top: 0.75rem;
  left: 0;
  background-color: #fff;
  z-index: 2;
}