// -----------------------------------------------------------------------------
// This file contains all styles related to the catalogue of the site.
// -----------------------------------------------------------------------------

.catalogue, .catalogue-reg {
  position: absolute;
  width: 100%;
  // margin-top: 0.75rem;
  left: 0;
  top: 0;
  @include transform(translateX(100%));
  // box-shadow: 0px 10px 12px rgba(39, 97, 146, 0.15);
  background-color: #fff;
  z-index: 2;
  @include transition(all, 0.3s);

  &.active {
    @include transform(translateX(0));
    @include transition(all, 0.3s);
  }  

  &__back, &__backR {
    border-bottom: 1px dashed $middle-grey;

    &::before {
      width: 10px;
			height: 18px;
      background: url('../img/button-icon.png') 0px -36px no-repeat;
    }
  }

  &__crossboard {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -48px -49px no-repeat;
      background-size: 169px;
    }
  }

  &__p2p {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -122px -49px no-repeat;
      background-size: 169px;
    }
  }

  &__p2r {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') 0px -98px no-repeat;
      background-size: 169px;
    }
  }

  &__by-email {
    &::before {
      width: 26px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -48px -1px no-repeat;
      background-size: 169px;
    }
  }

  &__by-phone {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -25px -26px no-repeat;
      background-size: 169px;
    }
  }

  &__receive {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') 0px -50px no-repeat;
      background-size: 169px;
    }
  }

  &__mobile {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -72px -75px no-repeat;
      background-size: 169px;
    }
  }

  &__utility {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -75px -124px no-repeat;
      background-size: 169px;
    }
  }

  &__kindergarten {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -97px -1px no-repeat;
      background-size: 169px;
    }
  }

  &__internet {
    &::before {
      width: 24px;
			height: 24px;
      background: url('../img/sprite-catalogue.png') -24px -74px no-repeat;
      background-size: 169px;
    }
  }

  &__tv {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -145px -100px no-repeat;
      background-size: 169px;
    }
  }

  &__phone {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -48px -99px no-repeat;
      background-size: 169px;
    }
  }

  &__security {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -96px -99px no-repeat;
      background-size: 169px;
    }
  }

  &__transport {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -145px -49px no-repeat;
      background-size: 169px;
    }
  }

  &__penalty {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -145px 0px no-repeat;
      background-size: 169px;
    }
  }

  &__tourism {
    &::before {
      width: 25px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') 0px -123px no-repeat;
      background-size: 169px;
    }
  }

  &__banks {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -121px 0px no-repeat;
      background-size: 169px;
    }
  }

  &__education {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -97px -49px no-repeat;
      background-size: 169px;
    }
  }

  &__business {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') 0px 0px no-repeat;
      background-size: 169px;
    }
  }

  &__charity {
    &::before {
      width: 24px;
			height: 25px;
      background: url('../img/sprite-catalogue.png') -73px 0px no-repeat;
      background-size: 169px;
    }
  }
}