// -----------------------------------------------------------------------------
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

.list {
  li {
    position: relative;
    margin-bottom: 0.6875rem;
    padding-left: 1.25rem;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      // top: 50%;
      // @include transform(translateY(-50%));
    }
  }

  &--circle {
    li {
      &::before {
        top: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $btn-red;
      }
    }
  }

  &--minus {
    li {
      &::before {
        top: 8px;
        width: 14px;
        height: 2px;
        background-color: $heading-color;
      }
    }
  }
}

.list-ordered {
  counter-reset: ordered-counter;

  li {
    counter-increment: ordered-counter;

    &::before {
      content: counter(ordered-counter) ". ";
      top: 0;
      color: $btn-red;
      font-weight: bold;
    }
  }
}