// -----------------------------------------------------------------------------
// This file contains all styles related to the logo display.
// -----------------------------------------------------------------------------

.logo-color, .logo-red, .logo-white {
  width: 120px;
  height: 36px;
  background-size: 100%;
}

.logo-color {
  background-image: url('../img/logo-color.svg');
}

.logo-red {
  background-image: url('../img/logo-red.svg');
}

.logo-white {
  background-image: url('../img/logo-white.svg');
}