// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





// font family
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;

// colors
$heading-color: #172A3A;
$text-color: #30485B;
$main-blue: #7B9AA9;
$middle-grey: #E1EDF1;

$btn-red: #E84F35;
$btn-main: #17B890;


// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

