// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.main-header {
  position: sticky;
  top: 0;
  // padding: 0.5rem 0 0.375rem;
  padding: 0.5625rem 0;
  border-bottom: 2px solid $light-grey;
  background-color: #ffffff;
  z-index: 1000;

  @include until($lg) {
    padding: 0.75rem 0 0.625rem;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;

  @include until($lg) {
    min-height: auto;
  }

  > nav {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2.5rem;

    @include until($lg) {
      display: none;
    }
  }

  &__item {
    margin-left: 0.5rem;

    &.main-nav__item-mobile {
      margin-left: 0;
    }

    .dropdown-menu {
      min-width: 19.875rem;
      margin-top: 0.6875rem;
      padding: 0;
      border: none;
      border-radius: $border-radius;
      box-shadow: 0px 4px 20px $box-shadow;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -9px;
        right: 1rem;
        border-radius: 2px;
        border-style: solid;
        border-width: 0 9px 9px 9px;
        border-color: transparent transparent #ffffff transparent;
        filter: drop-shadow(0px 4px 20px $box-shadow);
      }
    }

    .dropdown-item {
      position: relative;
      padding: 1rem 1.5rem 1rem 3.625rem;
      font-size: 1rem;
      color: $heading-color;
      line-height: 1;

      &:focus, &:hover {
        background-color: $light-grey;
      }

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &::before {
        position: absolute;
        content: '';
        left: 1rem;
        top: 50%;
        @include transform(translateY(-50%));
      }

      &::after {
        position: absolute;
        content: '';
        right: 1rem;
        top: 50%;
        @include transform(translateY(-50%));
      }

      &--empty {
        &::after {
          right: auto;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $btn-red;
        }

        &.dropdown-templates {
          &::after {
            left: 2rem;
            top: calc(50% + 9px);
          }
        }

        &.dropdown-cards {
          &::after {
            left: 2.125rem;
            top: calc(50% + 5px);
          }
        }

        &.dropdown-notifications {
          &::after {
            left: 1.875rem;
            top: 1.25rem;
          }
        }
      }

      @include until($lg) {
        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
  
        &:last-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.dropdown-templates {
          &::after {
            left: 1rem;
          }
        }

        &.dropdown-cards {
          &::after {
            left: 1.125rem;
          }
        }

        &.dropdown-notifications {
          &::after {
            left: 0.875rem;
          }
        }
      }
    }

    .dropdown-login {
      border-bottom: 1px dashed $middle-grey;

      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -77px -26px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-archive {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -54px -51px no-repeat;
        background-size: 154px;
      }

      &--new {
        &::before {
          width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -2px -1px no-repeat;
        background-size: 154px;
        }
      }
    }

    .dropdown-bonus {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -2px -26px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-account {
      &::before {
        width: 24px;
			  height: 26px;
        background: url('../img/header-icon-2.0.png') -77px -1px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-templates {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -27px -27px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-cards {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -52px -2px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-ipayplus {
      &::before {
        width: 24px;
			  height: 26px;
        background: url('../img/header-icon-2.0.png') -102px -30px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-profile {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -52px -26px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-getpayment {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -130px 0 no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-recurrent {
      &::before {
        width: 24px;
			  height: 24px;
        background: url('../img/header-icon-2.0.png') -130px -24px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-notifications {
      &::before {
        width: 24px;
			  height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3C12.2761 3 12.5 2.77614 12.5 2.5C12.5 2.22386 12.2761 2 12 2C11.7239 2 11.5 2.22386 11.5 2.5C11.5 2.77614 11.7239 3 12 3Z' stroke='%23172A3A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 19.5H3C3.45 19.5 5.5 17.7273 5.5 15C5.5 12.2727 4.8 4.5 12 4.5C19.2 4.5 18.5 12.2727 18.5 15C18.5 17.7273 20.1 19.5 21 19.5Z' stroke='%23172A3A' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M10 21C10 21.5 10.6667 22.5 12 22.5C13.3333 22.5 14 21.5 14 21' stroke='%23172A3A' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") center no-repeat;
      }
    }

    .dropdown-statistics {
      &::before {
        width: 24px;
			  height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.61521 23.9999H2.17791C0.977475 23.9999 0 23.0645 0 21.9158V8.40198C0 7.25326 0.977475 6.31787 2.17791 6.31787H2.61521C3.81565 6.31787 4.79312 7.25326 4.79312 8.40198V21.9158C4.79312 23.0645 3.81565 23.9999 2.61521 23.9999Z' fill='%23172A3A'/%3E%3Cpath d='M12.2187 23.9997H11.7814C10.581 23.9997 9.60352 23.0643 9.60352 21.9156V12.1925C9.60352 11.0438 10.581 10.1084 11.7814 10.1084H12.2187C13.4192 10.1084 14.3966 11.0438 14.3966 12.1925V21.9156C14.3966 23.0643 13.4192 23.9997 12.2187 23.9997Z' fill='%23172A3A'/%3E%3Cpath d='M21.8223 24H21.385C20.1846 24 19.207 23.0646 19.207 21.9159V2.0841C19.207 0.935382 20.1846 0 21.385 0H21.8223C23.0227 0 24.0002 0.935382 24.0002 2.0841V21.9159C24.0002 23.0646 23.0227 24 21.8223 24Z' fill='%23172A3A'/%3E%3C/svg%3E") center no-repeat;
      }
    }

    .dropdown-logout {
      border-bottom: 1px dashed $middle-grey;

      &::before {
        width: 24px;
			  height: 26px;
        background: url('../img/header-icon-2.0.png') -29px -51px no-repeat;
        background-size: 154px;
      }
    }

    .dropdown-safety {
      &::before {
        width: 24px;
			  height: 30px;
        background: url('../img/header-icon-2.0.png') -103px 0 no-repeat;
        background-size: 154px;
      }
    }

    &--search {
      margin-left: 0;

      @include until($lg) {
        span {
          display: none;
        }
      }
    }

    &--p2p {
      margin-left: 1.25rem;
      // margin-left: 0.5rem;

      // .dropdown-menu {
      //   min-width: auto;
      //   margin-top: 0.25rem;
      //   padding-top: 0.375rem;
      //   padding-bottom: 0.375rem;
      //   box-shadow: 0 4px 20px $card-shadow;

      //   &::before {
      //     display: none;
      //   }
      // }

      // .dropdown-item {
      //   padding-left: 2.625rem;
      //   padding-right: 0.625rem;

      //   &::before {
      //     left: 0.625rem;
      //     background-image: url('../img/menu-catalogue.png');
      //     background-size: 169px;
      //     background-repeat: no-repeat;
      //     z-index: 1;
      //   }

      //   &:focus, &:hover {
      //     border-radius: 0;
      //     text-decoration: none;
      //     background-color: $light-grey;
      //   }

      //   &.active {
      //     color: $btn-red;
      //     background-color: #ffffff;
      //   }
      // }

      // &.show {
      //   .main-nav__p2p {
      //     background-color: $light-grey;

      //     &::before {
      //       background-position: -122px -49px;
      //     }
      //   }
      // }
    }

    &--mobile {
      margin-left: 1.25rem;
      margin-right: auto;
    }

    &--bonuses {
      margin-left: 1rem;
    }

    &--lang {
      .dropdown-menu {
        min-width: auto;
        width: 5rem;
        margin-top: 0.25rem;

        &::before {
          display: none;
        }
      }

      .dropdown-item {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;

        &.active {
          font-weight: 700;
          color: $btn-red;
          background-color: #ffffff;
        }
      }

      &.show {
        .main-nav__lang {
          background-color: $light-grey;
        }
      }
    }
  }

  &__p2p {
    // display: block;
    // position: relative;
    // height: 3.125rem;
    // padding: 0.9375rem 2.25rem 0.9375rem 2.5rem;
    // border-radius: $border-radius;

    // &::before, &::after {
    //   position: absolute;
    //   content: '';
    //   top: 50%;
    //   @include transform(translateY(-50%));
    //   background-position: center;
    //   background-repeat: no-repeat;
    // }

    // &::before {
    //   width: 24px;
    //   height: 24px;
    //   left: 0.5rem;
    //   background-image: url('../img/menu-catalogue.png');
    //   background-size: 169px;
    //   background-position: -122px -49px;
    // }

    // &::after {
    //   left: auto;
    //   width: 24px;
    //   height: 24px;
    //   margin-left: 0.375rem;
    //   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.13867 8.02393L10 12.8853' stroke='%234F6E7A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12.8853L14.8613 8.02391' stroke='%234F6E7A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    // }

    // span {
    //   color: $heading-color;
    // }

    // &:hover {
    //   text-decoration: none;

    //   &::before {
    //     background-position: -122px -74px;
    //   }
    // }
  }

  &__link {
    display: block;
    height: 2.75rem;
    padding: 0.8125rem 0.5rem 0.75rem 0.5rem;
    line-height: 1.171875;
    border-radius: 0.5rem;

    span {
      line-height: 1.171875;
      color: $heading-color;
    }

    &:hover {
      text-decoration: none;
      background-color: $light-grey;
    }
  }

  &__icon {
    display: block;
    position: relative;
    padding-left: 2.25rem;
    color: $text-color;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }

    &--safety {
      color: $text-color;

      &::before {
        width: 33px;
        height: 32px;
        background: url("../img/header-secure-img.svg") 0 0 no-repeat;
        background-size: contain;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &--bonus {
      color: $heading-color;

      &::before {
        width: 27px;
        height: 27px;
        margin-top: -1px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    span {
      display: block;
      color: $dark-green;
      line-height: 1.25;
    }
  }

  &__search {
    padding-left: 2.5rem;
    // padding: 1px 0 1px 1.75rem;
    color: $heading-color;
    // background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87256 18.4326C14.7727 18.4326 18.7451 14.5302 18.7451 9.71632C18.7451 4.90243 14.7727 1 9.87256 1C4.97238 1 1 4.90243 1 9.71632C1 14.5302 4.97238 18.4326 9.87256 18.4326Z' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M21.3587 21.0005L16.1513 15.8848' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9342 20.3683C15.8684 20.3683 19.8684 16.3683 19.8684 11.4341C19.8684 6.49995 15.8684 2.5 10.9342 2.5C5.99997 2.5 2 6.49995 2 11.4341C2 16.3683 5.99997 20.3683 10.9342 20.3683Z' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M22.4994 22.9994L17.2559 17.7559' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    background-size: 24px;

    &:hover {
      // color: $heading-color;
      text-decoration: none;
      // background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87256 18.4326C14.7727 18.4326 18.7451 14.5302 18.7451 9.71632C18.7451 4.90243 14.7727 1 9.87256 1C4.97238 1 1 4.90243 1 9.71632C1 14.5302 4.97238 18.4326 9.87256 18.4326Z' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M21.3587 21.0005L16.1513 15.8848' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
    }
    
  }

  &__bonus {
    font-size: 1rem;
    font-weight: bold;
  }

  &__lang {
    display: block;
    position: relative;
    height: 3.125rem;
    padding: 0.9375rem 1.75rem 0.9375rem 0.5rem;
    border-radius: 0.5rem;
    color: $heading-color;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: auto;
      width: 16px;
      height: 16px;
      @include transform(translateY(-50%));
      margin-left: 0.375rem;
      background: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95898 6.51758L8.89759 10.1636' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.89746 10.1641L12.8361 6.51806' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
    }

    &:hover {
      color: $heading-color;
      text-decoration: none;
    }
  }

  &__nav-mobile {
    display: none;

    @include until($lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .main-nav__item--search {
      margin-left: 0.5rem;
      margin-right: auto;
    }

    .main-nav__search {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.42931 16.0586C12.2287 16.0586 15.3086 12.9787 15.3086 9.17934C15.3086 5.38001 12.2287 2.30005 8.42931 2.30005C4.62996 2.30005 1.54999 5.38001 1.54999 9.17934C1.54999 12.9787 4.62996 16.0586 8.42931 16.0586Z' stroke='%23E84F35' stroke-width='1.54' stroke-miterlimit='10'/%3E%3Cpath d='M17.3345 18.0846L13.297 14.0471' stroke='%23E84F35' stroke-width='1.54' stroke-miterlimit='10'/%3E%3C/svg%3E");
      background-position: center;
    }
  }

  &__item-account {
    font-size: 0.875rem;
    text-align: right;
    text-transform: uppercase;

    &--registered {
      margin-top: 2px;
      font-size: 0.625rem;
    }

    span {
      display: block;
      font-weight: 500;
      color: $main-blue;

      &+span {
        color: $heading-color;
      }
    }

    & > .btn {
      height: 2.25rem;
      margin-right: 0.5rem;
      padding: 11px 11px 11px 31px;
      font-size: 0.8125rem;
      line-height: 1.172;
      font-weight: 500;
      border: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_562_36)'%3E%3Cpath d='M1.66669 14.3333V14.0866C1.66669 13.02 2.30002 12.06 3.28002 11.64L6.33335 10.3333V9.66665L5.92002 9.25331C5.33335 8.66665 5.00002 7.86665 5.00002 7.02665V3.98665C5.00002 3.27998 5.37335 2.61998 5.98669 2.26665C6.52002 1.95331 7.33335 2.33331 7.00002 1.66665C6.65335 0.973313 9.48002 1.95331 10.0134 2.26665C10.6267 2.62665 11 3.27998 11 3.98665V7.03331C11 7.86665 10.6667 8.66665 10.08 9.25998L9.66669 9.66665V10.3333L12.72 11.64C13.7 12.06 14.3334 13.02 14.3334 14.0866V14.3333' stroke='white' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_562_36'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-position: left 0.6875rem center;
      background-repeat: no-repeat;
    }
  }

  &__item-mobile {
    .navbar-collapse {
      position: absolute;
      width: 100%;
      margin-top: 0.75rem;
      left: 0;
      z-index: 100;
      box-shadow: 0px 10px 12px $card-shadow;
      overflow-x: hidden;
      background-color: #fff;

      &__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 63px);
        padding: 1.5rem 1.5rem 0;
        @include transition(all, 0.3s);
        background-color: #fff;
        overflow-y: auto;
      }
    }

    .main-nav__mobile-next {
      position: relative;
      margin-bottom: 1.5rem;
      padding-left: 3.25rem;
      text-align: left;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.42191 9.97619H5.05429C4.19619 9.97619 3.5 9.28 3.5 8.42191V5.05429C3.5 4.19619 4.19619 3.5 5.05429 3.5H8.42191C9.28 3.5 9.97619 4.19619 9.97619 5.05429V8.42191C9.97619 9.28 9.28 9.97619 8.42191 9.97619Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.9457 9.97619H15.5781C14.72 9.97619 14.0238 9.28 14.0238 8.42191V5.05429C14.0238 4.19619 14.72 3.5 15.5781 3.5H18.9457C19.8038 3.5 20.5 4.19619 20.5 5.05429V8.42191C20.5 9.28 19.8038 9.97619 18.9457 9.97619Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.42191 20.5H5.05429C4.19619 20.5 3.5 19.8038 3.5 18.9457V15.5781C3.5 14.72 4.19619 14.0238 5.05429 14.0238H8.42191C9.28 14.0238 9.97619 14.72 9.97619 15.5781V18.9457C9.97619 19.8038 9.28 20.5 8.42191 20.5Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.9457 20.4999H15.5781C14.72 20.4999 14.0238 19.8037 14.0238 18.9456V15.578C14.0238 14.7199 14.72 14.0237 15.5781 14.0237H18.9457C19.8038 14.0237 20.5 14.7199 20.5 15.578V18.9456C20.5 19.8037 19.8038 20.4999 18.9457 20.4999Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33337 14.8612L13.1947 9.99985' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.1946 10L8.33324 5.13866' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");;
      background-position: left 0.75rem center, right 0.75rem center;
      background-repeat: no-repeat, no-repeat;
    }

    .dropdown-item {
      padding-left: 2.625rem;

      &::before {
        left: 0;
      }

      &.dropdown-logout {
        border-bottom: 0;
        border-top: 1px solid $middle-grey;
      }
    }
  }
  
  .main-nav__mobile-title {
    font-size: 1.125rem;
    line-height: 1.172;
    font-weight: 700;
  }

  .mobile-login {
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $light-grey;

    .btn {
      padding-left: calc(1rem - 3px);
      padding-right: calc(1rem - 3px);
    }
  }

  .mobile-nav-support {
    & > li {
      border-bottom: 1px solid $middle-grey;

      &:first-child {
        border-top: 1px solid $middle-grey;
      }
    }

    .mobile-nav-support__item {
      display: block;
      padding: 1.125rem 1rem 1.125rem 3rem;
      line-height: 1.25;
      color: $heading-color;
      text-decoration: none;
      background-position: left center;
      background-repeat: no-repeat;

      &--viber {
        background-image: url('../img/icons/viber-color.svg');
      }

      &--telegram {
        background-image: url('../img/icons/telegram-color.svg');
      }
    }
  }

  .mobile-nav-list {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $middle-grey;

    & > li {
      & > a {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        line-height: 1.171875;
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .mobile-lang {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    span, a {
      color: $heading-color;
    }

    &__list {
      display: flex;

      li {
        margin-left: 1rem;

        &.active {
          a {
            color: $btn-red;
          }
        }
      }

      a {
        font-weight: 700;
      }
    }
  }

  .mobile-nav-social {
    display: flex;
    align-items: center;

    & > li {
      & + li {
        margin-left: 1.25rem;
      }

      & > a {
        display: block;
      }
    }
  }

  &__opener {
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    padding: 11px 10px;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  @include until($xl) {
    &__item {
      &--p2p, &--mobile {
        margin-left: 0;
      }

      &--bonuses {
        margin-left: 0.5rem;
      }
    }

    &__nav {
      padding-left: 1.25rem;
    }
    
    &__icon {
      &--safety {
        min-height: 1.75rem;

        span {
          display: none;
        }
      }
    }
  }
}

.btn {
  &.btn-account {
    width: 12.25rem;
    padding: 0.4375rem calc(2.5rem - 3px) 0.4375rem calc(3rem - 3px);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 3px solid $heading-color;
    background-color: $heading-color;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.11102 7.16663L8.0001 11.0557' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 11.0557L11.8891 7.16659' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 21.5V21.13C2.5 19.53 3.45 18.09 4.92 17.46L9.5 15.5V14.5L8.88 13.88C8 13 7.5 11.8 7.5 10.54V5.97997C7.5 4.91997 8.06 3.92997 8.98 3.39997C9.78 2.92997 11 3.49997 10.5 2.49997C9.98 1.45997 14.22 2.92997 15.02 3.39997C15.94 3.93997 16.5 4.91997 16.5 5.97997V10.55C16.5 11.8 16 13 15.12 13.89L14.5 14.5V15.5L19.08 17.46C20.55 18.09 21.5 19.53 21.5 21.13V21.5' stroke='white' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat, no-repeat;
    background-position: right calc(1rem - 3px) center, left calc(1rem - 3px) center;
  
    &:hover {
      color: #fff;
    }
  
    &:active:not(.btn-account--not-registered), &.active:not(.btn-account--not-registered), &[aria-expanded="true"] {
      color: #fff;
      background-color: $btn-green-hover;
      border-color: $btn-green-hover;
      box-shadow: 0px 9px 20px $btn-green-shadow;
    }

    &:focus {
      box-shadow: none;
    }

    &.btn-account--not-registered {
      padding-right: calc(1rem - 3px);
      background-image: none, url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 21.5V21.13C2.5 19.53 3.45 18.09 4.92 17.46L9.5 15.5V14.5L8.88 13.88C8 13 7.5 11.8 7.5 10.54V5.97997C7.5 4.91997 8.06 3.92997 8.98 3.39997C9.78 2.92997 11 3.49997 10.5 2.49997C9.98 1.45997 14.22 2.92997 15.02 3.39997C15.94 3.93997 16.5 4.91997 16.5 5.97997V10.55C16.5 11.8 16 13 15.12 13.89L14.5 14.5V15.5L19.08 17.46C20.55 18.09 21.5 19.53 21.5 21.13V21.5' stroke='white' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

/* mobile opener button */
.nav-opener {
  position: absolute;
  width: 22px;
  height: 19px;
  top: 11px;
  left: 10px;
  border-radius: 0;
  background: transparent;

  &:before,
  &:after,
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
    background: $heading-color;
    @include transition(all, 0.3s);
  }

  &:before {
    content: '';
    top: 8px;
  }

  &:after {
    content: '';
    top: 16px;
  }
}

.main-nav__opener[aria-expanded=true] {
  .nav-opener {
    width: 24px;

    span {
      opacity: 0;
    }

    &:before {
      top: 7px;
      @include transform(rotate(45deg));
      // background: $btn-red;
    }

    &:after {
      top: 7px;
      @include transform(rotate(-45deg));
      // background: $btn-red;
    }
  }
}

// /* p2p element */
// .main-nav__item, .nav-p2p {
//   .dropdown-p2p {
//     &::before {
//       width: 24px;
//       height: 24px;
//       background-position: -122px -49px;
//     }

//     &.active {
//       &::before {
//         background-position: -122px -74px;
//       }
//     }
//   }

//   .dropdown-p2p-tel {
//     &::before {
//       width: 24px;
//       height: 24px;
//       background-position: -25px -25px;
//     }

//     &.active {
//       &::before {
//         background-position: -49px -25px;
//       }
//     }
//   }

//   .dropdown-p2p-email {
//     &::before {
//       width: 26px;
//       height: 24px;
//       background-position: -48px 0;
//     }

//     &.active {
//       &::before {
//         background-position: 0 -25px;
//       }
//     }
//   }

//   .dropdown-p2p-crossboard {
//     &::before {
//       width: 24px;
//       height: 24px;
//       background-position: -48px -49px;
//     }

//     &.active {
//       &::before {
//         background-position: -72px -49px;
//       }
//     }
//   }
// }