// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.main-header {
  padding: 0.75rem 0 0.625rem;
  border-bottom: 2px solid $light-grey;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include until($md) {
      display: none;
    }
  }

  &__item {
    margin-left: 1.86rem;

    .dropdown-menu {
      min-width: 19.875rem;
      margin-top: 3.125rem;
      padding: 0;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 20px rgba(97, 144, 183, 0.2);

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -9px;
        right: 1rem;
        border-radius: 2px;
        border-style: solid;
        border-width: 0 9px 9px 9px;
        border-color: transparent transparent #ffffff transparent;
        filter: drop-shadow(0px 4px 20px rgba(97, 144, 183, 0.2));
      }
    }

    .dropdown-item {
      position: relative;
      padding: 0.938rem 1.5rem 0.938rem 3.65rem;
      color: $heading-color;
      line-height: 1.1875;

      &:focus, &:hover {
        text-decoration: underline;
        background-color: #fff;
      }

      &::before {
        position: absolute;
        content: '';
        left: 1rem;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }

    .dropdown-login {
      border-bottom: 1px dashed $middle-grey;

      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') -50px -25px no-repeat;
      }
    }

    .dropdown-archive {
      &::before {
        width: 24px;
			  height: 24px;
			  background: url('../img/header-icons.png') 0px 0px no-repeat;
      }
    }

    .dropdown-bonus {
      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') -74px 0px no-repeat;
      }
    }

    .dropdown-account {
      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') -25px -25px no-repeat;
      }
    }

    .dropdown-templates {
      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') 0px -25px no-repeat;
      }
    }

    .dropdown-cards {
      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') -49px 0px no-repeat;
      }
    }

    .dropdown-profile {
      &::before {
        width: 24px;
			  height: 25px;
			  background: url('../img/header-icons.png') -25px -50px no-repeat;
      }
    }

    .dropdown-logout {
      border-top: 1px dashed $middle-grey;

      &::before {
        width: 25px;
			  height: 25px;
			  background: url('../img/header-icons.png') 0px -50px no-repeat;
      }
    }
  }

  &__icon {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    color: $text-color;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }

    &--safety {
      color: $text-color;

      &::before {
        width: 24px;
        height: 28px;
        margin-top: -2px;
        background:url('../img/header-icons.png') -49px -50px no-repeat;
      }
    }

    &--bonus {
      color: $heading-color;

      &::before {
        width: 27px;
        height: 27px;
        margin-top: -1px;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.9648' cy='13.3535' r='13' fill='%23FFF0D0'/%3E%3Cpath d='M21.5873 11.1338L16.405 10.6299L14.3463 5.61683C14.2021 5.26574 13.7275 5.26574 13.5833 5.61683L11.5246 10.6295L6.34227 11.1334C5.97958 11.1687 5.83272 11.6421 6.10668 11.8941L10.0168 15.4963L8.87259 20.8207C8.79238 21.1933 9.17638 21.4859 9.48986 21.2908L13.965 18.5045L18.4401 21.2912C18.7536 21.4863 19.1372 21.1937 19.0574 20.8211L17.9131 15.4967L21.8233 11.8945C22.0969 11.6421 21.95 11.1687 21.5873 11.1338Z' fill='%23FFD578'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }
    }

    span {
      display: block;
      line-height: 1.25;
    }
  }

  &__bonus {
    font-size: 1rem;
    font-weight: bold;
  }

  &__nav-mobile {
    display: none;

    @include until($md) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__item-account {
    margin-right: 7px;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: $main-blue;
  }

  &__opener {
    display: block;
    position: relative;
    width: 44px;
    height: 39px;
    padding: 11px;
  }
}

.btn {
  &.btn-account {
    padding: 0.438rem 2.998rem 0.438rem 2.018rem;
    color: #fff;
    border: 3px solid $heading-color;
    background-color: $heading-color;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85352 6.18555L7.49953 9.83156' stroke='white' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 9.83154L11.146 6.18554' stroke='white' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 0.65rem center;
    background-size: 16px;
  
    &:hover {
      color: #fff;
    }
  
    &:active, &.active, &[aria-expanded="true"] {
      color: #fff;
      background-color: $btn-green-hover;
      border-color: $btn-green-hover;
      box-shadow: 0px 9px 20px $btn-green-shadow;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

/* mobile opener button */
.nav-opener {
  position: absolute;
  width: 22px;
  height: 17px;
  top: 11px;
  left: 11px;
  border-radius: 0px;
  background: transparent;

  &:before,
  &:after,
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0px;
    background: $heading-color;
    @include transition(all, 0.3s);
  }

  &:before {
    content: '';
    top: 7px;
  }

  &:after {
    content: '';
    top: 14px;
  }
}
.main-nav__opener[aria-expanded="true"] {
  .nav-opener {
    // height: 24px;

    span {
      opacity: 0;
    }

    &:before {
      top: 7px;
      @include transform(rotate(45deg));
      background: $btn-red;
    }

    &:after {
      top: 7px;
      @include transform(rotate(-45deg));
      background: $btn-red;
    }
  }
}
