// -----------------------------------------------------------------------------
// This file contains all styles related to the main content of the site.
// -----------------------------------------------------------------------------

.homepage-wrapper {
  padding: 0 0 2.5rem;

  h1 {
    font-size: 2.25rem;

    @include until($sm) {
      font-size: 1.5rem;
      text-align: left;
    }
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;

  @include until($lg) {
    .breadcrumb-wrapper {
      order: 1;
    }
  }
}

.main-content {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  @include until($lg) {
    padding-top: 1rem;
  }
}