// -----------------------------------------------------------------------------
// This file contains all styles related to the main content of the site.
// -----------------------------------------------------------------------------

.main-wrapper {
  display: flex;
  flex-direction: column;

  @include until($lg) {
    .breadcrumb-wrapper {
      order: 1;
    }
  }
}

.main-content {
  padding: 2.25rem 15px;

  @include until($lg) {
    padding-top: 1rem;
  }
}

.category-text {
  h2, h3, h4 {
    margin-bottom: 1rem;
    color: $text-color;
  }
}

.category-title {
  border-bottom: 1px solid $middle-grey;
}

.category-templates {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: $light-grey;

  &__text, p, span {
    color: $main-blue;

    p {
      margin-bottom: 0.5rem;
    }
  }
}