/*-- Image image1 --*/
	/*-- Rect archive-min --*/
		.archive-min{
			width:24px;
			height:24px;
			background:url('../images/image1.png') 0px 0px no-repeat;
		}
	/*-- Rect catalogue-min --*/
		.catalogue-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -24px 0px no-repeat;
		}
	/*-- Rect credit card back 2-min --*/
		.credit-card-back-2-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -49px 0px no-repeat;
		}
	/*-- Rect favorite star 3-min --*/
		.favorite-star-3-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') 0px -25px no-repeat;
		}
	/*-- Rect grid4 2-min --*/
		.grid4-2-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -25px -25px no-repeat;
		}
	/*-- Rect home house 3-min --*/
		.home-house-3-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -74px 0px no-repeat;
		}
	/*-- Rect login-min --*/
		.login-min{
			width:29px;
			height:28px;
			background:url('../images/image1.png') 0px -50px no-repeat;
		}
	/*-- Rect logout-min --*/
		.logout-min{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -74px -25px no-repeat;
		}
	/*-- Rect options settings gear 3-min --*/
		.options-settings-gear-3-min{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -50px -25px no-repeat;
		}
	/*-- Rect safety-min --*/
		.safety-min{
			width:24px;
			height:28px;
			background:url('../images/image1.png') -29px -50px no-repeat;
		}
/*-- Base64Rects --*/
