// --------------------------------------------------------------------------
// This file contains all styles related to the landing triple cashback widget
// --------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.landing-wrapper {
  padding-top: 1.75rem;
  padding-bottom: 2.5rem;

  h1 {
    font-size: 2.625rem;
    color: #ffffff;
    white-space: nowrap;
  }

  h2 {
    line-height: 1.3;
  }

  .btn-landing {
    max-width: 15.625rem;
    padding: 0.75rem 1rem;
    color: #ffffff;
    border-color: $btn-red;
    background-color: $btn-red;
  }

  @include until($lg) {
    padding-top: 1rem;

    .btn-landing {
      display: block;
      max-width: none;
    }

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  @include until($md) {
    h1 {
      font-size: 1.5rem;
      white-space: normal;
    }

    h2 {
      font-size: 1.25rem;
    }
  }

  @include until($sm) {
    padding-top: 0.875rem;
    padding-bottom: 2.5rem;

    .btn-landing {
      max-width: none;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
      font-size: 1rem;
    }
  }
}

.landing-header {
  position: relative;
  max-width: 79.375rem;
  margin: auto;
  border-radius: 1.5rem;
  background-color: $heading-color;
  background: $heading-color url("data:image/svg+xml,%3Csvg width='42' height='26' viewBox='0 0 42 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.25 25.2495C19.0155 25.2495 24.5 19.765 24.5 12.9995C24.5 6.23402 19.0155 0.749512 12.25 0.749512C5.48451 0.749512 0 6.23402 0 12.9995C0 19.765 5.48451 25.2495 12.25 25.2495Z' fill='%23EA001B'/%3E%3Cpath d='M29.75 25.2495C36.5155 25.2495 42 19.765 42 12.9995C42 6.23402 36.5155 0.749512 29.75 0.749512C22.9845 0.749512 17.5 6.23402 17.5 12.9995C17.5 19.765 22.9845 25.2495 29.75 25.2495Z' fill='%23FFA200' fill-opacity='0.8'/%3E%3C/svg%3E") right 1.75rem bottom 1.75rem no-repeat;
  overflow: hidden;
  z-index: 2;

  &::before, &::after {
    position: absolute;
    content: '';
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    z-index: -1;
  }

  &::before {
    top: 63px;
    right: -100px;
    border: 1px solid rgba(#FFB533, 0.25);
    background-color: rgba(255, 181, 51, 0.04);
  }

  &::after {
    right: 60px;
    bottom: -105px;
    border: 1px solid rgba(#EA001B, 0.25);
    background-color: rgba(234, 0, 27, 0.04);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p {
      font-size: 1.5rem;
      color: #ffffff;

      &.extra-small {
        font-size: 0.75rem;
      }
    }

    .landing-header__date {
      color: $btn-red;
      font-weight: 700;
    }

    .landing-header__subtitle {
      max-width: 33.75rem;
    }
  }

  &__img {
    margin-left: -5.625rem;
    padding-top: 5rem;
  }

  @include until($lg) {
    &__content {
      p {
        font-size: 1rem;
      }

      .landing-header__date {
        font-size: 1.25rem;
      }
    }

    &__img {
      margin-left: 0;
      padding-top: 1.5rem;
    }
  }

  @include until($md) {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-position: right 0.625rem bottom 1.125rem;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      right: -270px;
    }

    &::after {
      display: none;
    }

    &__content {
      .landing-header__date {
        font-size: 1rem;
      }
    }

    &__img {
      padding-top: 2.75rem;

      img {
        max-width: 100%;
      }
    }
  }
}

.landing-conditions {
  padding-top: 2.5rem;

  &__title {
    margin-bottom: 1.5rem;
    font-size: 2rem;

    span {
      font-family: $heading-font;
      font-weight: 700;
    }
  }

  p {
    font-size: 1.125rem;
    color: $heading-color;

    &.landing-conditions__subtitle {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }

  ul {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    
    li {
      position: relative;
      padding-left: 1.625rem;
      color: $heading-color;

      &::before {
        position: absolute;
        content: '';
        left: 12px;
        top: 8px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $heading-color;
      }
    }

    span {
      color: $btn-red;
      font-weight: 700;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  @include until($md) {
    padding-top: 1.5rem;

    &__title {
      margin-bottom: 1rem;
    }

    p {  
      &.landing-conditions__subtitle {
        margin-bottom: 1rem;
      }
    }

    h3:not(.h1) {
      font-size: 1.25rem;
    }
  }
}

.landing-condition {
  padding-bottom: 2.5rem;

  & > span {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 700;
    line-height: calc(3rem + 1px);
    text-align: center;
    border-radius: 50%;
    background-color: $btn-red;
  }

  p {
    font-size: 1.125rem;
  }

  @include until($md) {
    padding-bottom: 0.875rem;

    & > span {
      margin-bottom: 1rem;
    }
  }
}

.landing-promo {
  padding-top: 133px;

  &__card {
    border-radius: 0.5rem;
    background-color: $heading-color;
  }

  &__img {
    position: relative;
    margin-top: -133px;
    margin-left: 100px;

    .image-2 {
      position: absolute;
      left: -72px;
      bottom: -18px;
      box-shadow: 0px 3.69172px 14.7669px rgba(97, 144, 183, 0.25);
      border-radius: 14.7669px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 2.0625rem;
    font-size: 1.5rem;

    p {
      color: #ffffff;
      font-weight: 700;
    }
  }

  @include until($xl) {
    &__text {
      padding-left: 0;
    }
  }

  @include until($lg) {
    padding-top: 124px;

    &__img {
      margin-left: 0;
      margin-top: -110px;
      margin-bottom: 104px;
      text-align: center;

      .image-2 {
        left: 50%;
        transform: translateX(-50%);
        bottom: -82px;
      }
    }

    &__text {
      flex-direction: column;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      font-size: 1.5rem;
      text-align: center;
    }

    .btn-landing {
      margin-bottom: 2.125rem;
    }
  }

  @include until($sm) {
    &__card  {
      margin-left: -15px;
      margin-right: -15px;

      & > .row {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__text {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.landing-bottom {
  padding-top: 3.625rem;

  .btn-landing {
    max-width: 21.875rem;
    margin: 0 auto;
  }

  @include until($md) {
    padding-top: 1.5rem;
  }
}