/*-- Image image1 --*/
	/*-- Rect business-icon --*/
		.business-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') 0px 0px no-repeat;
		}
	/*-- Rect business-icon-red --*/
		.business-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -24px 0px no-repeat;
		}
	/*-- Rect by-email-icon --*/
		.by-email-icon{
			width:26px;
			height:25px;
			background:url('../images/image1.png') -48px 0px no-repeat;
		}
	/*-- Rect by-email-icon-red --*/
		.by-email-icon-red{
			width:26px;
			height:25px;
			background:url('../images/image1.png') 0px -25px no-repeat;
		}
	/*-- Rect by-phone-icon --*/
		.by-phone-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -26px -25px no-repeat;
		}
	/*-- Rect by-phone-icon-red --*/
		.by-phone-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -50px -25px no-repeat;
		}
	/*-- Rect charity-icon --*/
		.charity-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -74px 0px no-repeat;
		}
	/*-- Rect charity-icon-red --*/
		.charity-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -74px -25px no-repeat;
		}
	/*-- Rect constructor-icon --*/
		.constructor-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') 0px -50px no-repeat;
		}
	/*-- Rect constructor-icon-red --*/
		.constructor-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -24px -50px no-repeat;
		}
	/*-- Rect crossboard-icon --*/
		.crossboard-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -48px -50px no-repeat;
		}
	/*-- Rect crossboard-icon-red --*/
		.crossboard-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -72px -50px no-repeat;
		}
	/*-- Rect detsadu-icon --*/
		.detsadu-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -98px 0px no-repeat;
		}
	/*-- Rect detsadu-icon-red --*/
		.detsadu-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -98px -25px no-repeat;
		}
	/*-- Rect education-icon --*/
		.education-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -98px -50px no-repeat;
		}
	/*-- Rect education-icon-red --*/
		.education-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') 0px -75px no-repeat;
		}
	/*-- Rect internet-icon --*/
		.internet-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -24px -75px no-repeat;
		}
	/*-- Rect internet-icon-red --*/
		.internet-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -48px -75px no-repeat;
		}
	/*-- Rect mobile-icon --*/
		.mobile-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -72px -75px no-repeat;
		}
	/*-- Rect mobile-icon-red --*/
		.mobile-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -96px -75px no-repeat;
		}
	/*-- Rect money-icon --*/
		.money-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -122px 0px no-repeat;
		}
	/*-- Rect money-icon-red --*/
		.money-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -122px -25px no-repeat;
		}
	/*-- Rect p2p-icon --*/
		.p2p-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -122px -50px no-repeat;
		}
	/*-- Rect p2p-icon-red --*/
		.p2p-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -122px -75px no-repeat;
		}
	/*-- Rect p2r-icon --*/
		.p2r-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') 0px -100px no-repeat;
		}
	/*-- Rect p2r-icon-red --*/
		.p2r-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -24px -100px no-repeat;
		}
	/*-- Rect phone-icon --*/
		.phone-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -48px -100px no-repeat;
		}
	/*-- Rect phone-icon-red --*/
		.phone-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -72px -100px no-repeat;
		}
	/*-- Rect security-icon --*/
		.security-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -96px -100px no-repeat;
		}
	/*-- Rect security-icon-red --*/
		.security-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -120px -100px no-repeat;
		}
	/*-- Rect shtrafu-icon --*/
		.shtrafu-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -146px 0px no-repeat;
		}
	/*-- Rect shtrafu-icon-red --*/
		.shtrafu-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -146px -25px no-repeat;
		}
	/*-- Rect tourism --*/
		.tourism{
			width:25px;
			height:25px;
			background:url('../images/image1.png') 0px -125px no-repeat;
		}
	/*-- Rect tourism-red --*/
		.tourism-red{
			width:25px;
			height:25px;
			background:url('../images/image1.png') -25px -125px no-repeat;
		}
	/*-- Rect transport-icon --*/
		.transport-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -146px -50px no-repeat;
		}
	/*-- Rect transport-icon-red --*/
		.transport-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -146px -75px no-repeat;
		}
	/*-- Rect tv-icon --*/
		.tv-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -146px -100px no-repeat;
		}
	/*-- Rect tv-icon-red --*/
		.tv-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -50px -125px no-repeat;
		}
	/*-- Rect utility-icon --*/
		.utility-icon{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -74px -125px no-repeat;
		}
	/*-- Rect utility-icon-red --*/
		.utility-icon-red{
			width:24px;
			height:25px;
			background:url('../images/image1.png') -98px -125px no-repeat;
		}
/*-- Base64Rects --*/
