// -----------------------------------------------------------------------------
// This file contains all styles related to the about payment process widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.about-payment-process {
  padding-top: 1.9375rem;
  padding-bottom: 1.75rem;
  background-color: $light-grey;
}