// -----------------------------------------------------------------------------
// This file contains all styles related to the account cards widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.account-cards {
  & > .row {
    margin-left: -12px;
    margin-right: -12px;

    & > [class^=col] {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}





.account-cards {
  &__text {
    color: $main-blue;
  }
}

.account-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 22.5rem;
  // height: 8.125rem;
  height: 163px;
  // padding: 1.375rem 1.25rem 1.175rem;
  padding: 1.5rem;
  font-family: $text-font;
  border-radius: 1.25rem;
  // box-shadow: 0px 5px 20px $box-shadow;
  box-shadow: 0px 5px 20px rgba(97, 144, 183, 0.35);

  &__header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
  }

  &__bank, &__type {
    display: flex;
    align-items: center;
    height: 1.875rem;
    background-repeat: no-repeat;
    background-size: auto 1.875rem;

    img {
      max-height: 1.875rem;
      width: auto;
      max-width: 100%;
    }
  }

  &__bank {
    flex-grow: 1;
    margin-right: 0.5rem;
    background-position: left center;
  }

  &__type {
    flex-shrink: 0;
    flex-basis: 33%;
    justify-content: flex-end;
    background-position: right center;

    &.card-title-mark.type-card-visa,
    &.card-title-mark.type-card-mc,
    &.card-title-mark.type-card-prostir {
      width: auto;
      height: auto;
    }
  }

  &__body {
    // flex-grow: 1;
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
    // padding-top: 1.125rem;
    // padding-bottom: 0.375rem;
  }

  &__purpose {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.172;
    color: $text-color;
  }

  &__card {
    font-size: 1.125rem;
    line-height: 1.1667;
  }

  .account-card__edit {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid $light-grey;
    border-radius: 0.375rem;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='18' viewBox='0 0 6 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.00003' cy='2.57132' r='2.14286' fill='%237C9CAC'/%3E%3Ccircle cx='3.00003' cy='9.00003' r='2.14286' fill='%237C9CAC'/%3E%3Ccircle cx='3.00003' cy='15.4285' r='2.14286' fill='%237C9CAC'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.97168 12C3.50211 12 4.01082 12.2107 4.38589 12.5858C4.76097 12.9609 4.97168 13.4696 4.97168 14C4.97168 14.5304 4.76097 15.0391 4.38589 15.4142C4.01082 15.7893 3.50211 16 2.97168 16C2.44125 16 1.93254 15.7893 1.55747 15.4142C1.18239 15.0391 0.97168 14.5304 0.97168 14C0.97168 13.4696 1.18239 12.9609 1.55747 12.5858C1.93254 12.2107 2.44125 12 2.97168 12ZM2.97168 6C3.50211 6 4.01082 6.21071 4.38589 6.58579C4.76097 6.96086 4.97168 7.46957 4.97168 8C4.97168 8.53043 4.76097 9.03914 4.38589 9.41421C4.01082 9.78929 3.50211 10 2.97168 10C2.44125 10 1.93254 9.78929 1.55747 9.41421C1.18239 9.03914 0.97168 8.53043 0.97168 8C0.97168 7.46957 1.18239 6.96086 1.55747 6.58579C1.93254 6.21071 2.44125 6 2.97168 6ZM2.97168 0C3.50211 0 4.01082 0.210714 4.38589 0.585786C4.76097 0.960859 4.97168 1.46957 4.97168 2C4.97168 2.53043 4.76097 3.03914 4.38589 3.41421C4.01082 3.78929 3.50211 4 2.97168 4C2.44125 4 1.93254 3.78929 1.55747 3.41421C1.18239 3.03914 0.97168 2.53043 0.97168 2C0.97168 1.46957 1.18239 0.960859 1.55747 0.585786C1.93254 0.210714 2.44125 0 2.97168 0Z' fill='%237C9CAC'/%3E%3C/svg%3E");
    // background-image: url("data:image/svg+xml,%3Csvg width='5' height='19' viewBox='0 0 5 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='%237C9CAC'/%3E%3Ccircle cx='2.5' cy='9.5' r='2.5' fill='%237C9CAC'/%3E%3Ccircle cx='2.5' cy='16.5' r='2.5' fill='%237C9CAC'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.97168 12C3.50211 12 4.01082 12.2107 4.38589 12.5858C4.76097 12.9609 4.97168 13.4696 4.97168 14C4.97168 14.5304 4.76097 15.0391 4.38589 15.4142C4.01082 15.7893 3.50211 16 2.97168 16C2.44125 16 1.93254 15.7893 1.55747 15.4142C1.18239 15.0391 0.97168 14.5304 0.97168 14C0.97168 13.4696 1.18239 12.9609 1.55747 12.5858C1.93254 12.2107 2.44125 12 2.97168 12ZM2.97168 6C3.50211 6 4.01082 6.21071 4.38589 6.58579C4.76097 6.96086 4.97168 7.46957 4.97168 8C4.97168 8.53043 4.76097 9.03914 4.38589 9.41421C4.01082 9.78929 3.50211 10 2.97168 10C2.44125 10 1.93254 9.78929 1.55747 9.41421C1.18239 9.03914 0.97168 8.53043 0.97168 8C0.97168 7.46957 1.18239 6.96086 1.55747 6.58579C1.93254 6.21071 2.44125 6 2.97168 6ZM2.97168 0C3.50211 0 4.01082 0.210714 4.38589 0.585786C4.76097 0.960859 4.97168 1.46957 4.97168 2C4.97168 2.53043 4.76097 3.03914 4.38589 3.41421C4.01082 3.78929 3.50211 4 2.97168 4C2.44125 4 1.93254 3.78929 1.55747 3.41421C1.18239 3.03914 0.97168 2.53043 0.97168 2C0.97168 1.46957 1.18239 0.960859 1.55747 0.585786C1.93254 0.210714 2.44125 0 2.97168 0Z' fill='%237C9CAC'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 5px;
    }

    // span, span::before, span::after {
    //   display: inline-block;
    //   width: 5px;
    //   height: 5px;
    //   border-radius: 50%;
    //   background-color: $middle-grey;
    // }

    // span {
    //   position: relative;
    // }

    // span::before, span::after {
    //   position: absolute;
    //   content: '';
    // }

    // span::before {
    //   left: 0;
    //   top: -7px;
    // }

    // span::after {
    //   left: 0;
    //   bottom: -7px;
    // }

    &:hover {
      background-color: $light-grey;
    }
  }

  // &__delete {
  //   align-self: flex-end;
  // }

  // &__delete-button {
  //   display: block;
  //   width: 1.875rem;
  //   height: 1.875rem;
  //   border: 2px solid $btn-red;
  //   border-radius: $border-radius;
  //   background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47008 1.65191H5.31008C5.39808 1.65191 5.47008 1.57991 5.47008 1.49191V1.65191H11.5501V1.49191C11.5501 1.57991 11.6221 1.65191 11.7101 1.65191H11.5501V3.09191H12.9901V1.49191C12.9901 0.785914 12.4161 0.211914 11.7101 0.211914H5.31008C4.60408 0.211914 4.03008 0.785914 4.03008 1.49191V3.09191H5.47008V1.65191ZM15.5501 3.09191H1.47008C1.11608 3.09191 0.830078 3.37791 0.830078 3.73191V4.37191C0.830078 4.45991 0.902078 4.53191 0.990078 4.53191H2.19808L2.69208 14.9919C2.72408 15.6739 3.28808 16.2119 3.97008 16.2119H13.0501C13.7341 16.2119 14.2961 15.6759 14.3281 14.9919L14.8221 4.53191H16.0301C16.1181 4.53191 16.1901 4.45991 16.1901 4.37191V3.73191C16.1901 3.37791 15.9041 3.09191 15.5501 3.09191ZM12.8961 14.7719H4.12408L3.64008 4.53191H13.3801L12.8961 14.7719Z' fill='%23E84F35'/%3E%3C/svg%3E%0A") center no-repeat;
  //   background-size: 12px;
  // }

  // &__confirm {
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   padding: 0.9375rem 0.75rem;
  //   width: 100%;
  //   height: 100%;
  //   color: #fff;
  //   border-radius: 1.25rem;
  //   background-color: $btn-red;

  //   h4 {
  //     margin-bottom: 0.25rem;
  //   }
  // }

  // &__confirm-delete {
  //   margin-top: 0.45rem;
  // }

  // &__confirm-cancel {
  //   display: block;
  //   position: absolute;
  //   right: 0.85rem;
  //   top: 0.85rem;
  //   width: 0.75rem;
  //   height: 0.75rem;
  //   background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54492 1.54541L12.454 12.4545' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.454 1.54541L1.54492 12.4545' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  //   background-size: 14px;
  // }

  // &__confirm-purpose {
  //   font-size: 0.85rem;
  // }

  // &__confirm-btn {
  //   position: relative;
  //   padding: 0 0 0 1.5rem;
  //   @include font(1rem, 400, 1);
  //   color: #fff;
  //   background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47008 1.65191H5.31008C5.39808 1.65191 5.47008 1.57991 5.47008 1.49191V1.65191H11.5501V1.49191C11.5501 1.57991 11.6221 1.65191 11.7101 1.65191H11.5501V3.09191H12.9901V1.49191C12.9901 0.785914 12.4161 0.211914 11.7101 0.211914H5.31008C4.60408 0.211914 4.03008 0.785914 4.03008 1.49191V3.09191H5.47008V1.65191ZM15.5501 3.09191H1.47008C1.11608 3.09191 0.830078 3.37791 0.830078 3.73191V4.37191C0.830078 4.45991 0.902078 4.53191 0.990078 4.53191H2.19808L2.69208 14.9919C2.72408 15.6739 3.28808 16.2119 3.97008 16.2119H13.0501C13.7341 16.2119 14.2961 15.6759 14.3281 14.9919L14.8221 4.53191H16.0301C16.1181 4.53191 16.1901 4.45991 16.1901 4.37191V3.73191C16.1901 3.37791 15.9041 3.09191 15.5501 3.09191ZM12.8961 14.7719H4.12408L3.64008 4.53191H13.3801L12.8961 14.7719Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") left center no-repeat;
  //   background-size: 16px;

  //   &::after {
  //     position: absolute;
  //     content: '';
  //     right: 0;
  //     bottom: 1px;
  //     width: calc(100% - 1.5rem);
  //     height: 1px;
  //     background-color: #ffffff;
  //   }

  //   &:hover {
  //     color: #ffffff;
  //   }
  // }

  // &__mobile-wrapper {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   align-items: center;
  //   padding: 1rem 3rem;
  // }

  // &__mobile {
  //   display: none;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 0;
  //   overflow: hidden;
  //   z-index: 1001;
  //   color: #fff;
    
  //   background-color: $btn-red;

  //   h4 {
  //     font-size: 1.3125rem;
  //   }
  // }

  // &__mobile-title {
  //   padding-top: 4.5rem;
  //   background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11H41' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31 21V33M24 20.76V33V20.76ZM17 21V33V21Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29 11H19V7C19 5.9 19.9 5 21 5H27C28.1 5 29 5.9 29 7V11Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M37 11V39C37 41.2 35.2 43 33 43H15C12.8 43 11 41.2 11 39V11' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center top no-repeat;
  //   background-size: 48px;
  // }

  // &__mobile-text {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   text-align: center;
  //   span {
  //     padding-top: 0.75rem;
  //     padding-bottom: 0.75rem;
  //     color: #fff;
  //   }
  // }

  // &__mobile-delete {
  //   margin-top: 3rem;
  //   text-align: center;
  // }

  // &__mobile-btn {
  //   padding: 1.125rem 4.491rem;
  //   font-size: 1.125rem;
  //   font-weight: bold;
  //   color: $heading-color;
  //   text-decoration: none;
  //   background: #fff;

  //   &:hover, &:active, &:focus {
  //     color: $heading-color;
  //   }
  // }

  // &__mobile-cancel {
  //   position: static;
  //   width: auto;
  //   height: auto;
  //   margin-top: 0.5rem;
  //   padding: 1.125rem 4.491rem;
  //   font-weight: bold;
  //   color: #fff;
  //   background: none;

  //   &:hover {
  //     color: #fff;
  //   }
  // }
}

.card-add__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.125rem;
  max-width: 22.5rem;
  border: 2px dashed #DEE7F3;
  border-radius: 1.25rem;
  @include font(1.125rem, bold, 1.667);
  color: $main-blue;
  background-color: #fff;

  span {
    padding-right: 0.625rem;
    @include font(1.375rem, bold, 1.667);
    color: $main-blue;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;

    span {
      color: $text-color;
    }
  }

  @include until($md) {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: $border-radius;
  }
}
