// ------------------------------------------------------------------------------
// This file contains all styles related to the account ipay+ widget
// ------------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.statistics-header {
  padding: 2.5rem;
  border-radius: 0.5rem;
  background-color: $btn-red;

  &__content {
    h1, p {
      color: #ffffff;
    }
  
    h1 {
      font-size: 2rem;
      line-height: 1.3;
    }
  
    p {
      font-size: 1.125rem;
      line-height: 1.4;
    }
  }
}

.snowflake {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 37px;
    height: 37px;
    background: url("../img/account-statistics/snowflake.svg") center no-repeat;
    animation: 10s linear infinite showflake-rotate;
  }

  &.statistics-header__content {
    &::before {
      top: -40px;
      left: 110px;
    }
  }

  &.statistics-header__img {
    &::before {
      bottom: 68px;
      left: -34px;
      animation-direction: reverse;
    }
  }
}

@keyframes showflake-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress-card {
  display: flex;
  align-items: center;
  width: 100%;

  &__img {
    flex: 0 0 4rem;
    max-width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__progress {
    flex-grow: 1;
  }

  .progress-wrapper {
    display: flex;
  
    .progress {
      flex-basis: 0;
      flex-grow: 1;
    }
  
    span {
      flex: 0 0 51px;
      max-width: 51px;
      text-align: right;
      line-height: 1.1875;
    }
  }

  &:nth-of-type(4n-3) {
    .progress-card__img {
      background-color: $btn-red-hover;
    }
  }

  &:nth-of-type(4n-2) {
    .progress-card__img {
      background-color: $orange;
    }
  }

  &:nth-of-type(4n-1) {
    .progress-card__img {
      background-color: $blue;
    }
  }

  &:nth-of-type(4n) {
    .progress-card__img {
      background-color: $btn-green-hover;
    }
  }
}
