// -----------------------------------------------------------------------------
// This file contains all styles related to the account main widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.account-main {

  .form-search {
    &.focused {
      .form-search__title {
        color: $heading-color;

        @include until($md) {
          font-size: 1.25rem;
        }
      }
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .form-group {
    &.select-input-wrapper {
      margin-bottom: 0;
    }
  }

  &__empty {
    color: $main-blue;
  }

  &__period-img {
    max-width: 12rem;
    margin-top: 1rem;
  }

  &__empty-img {
    max-width: 8.75rem;
    margin-top: 1rem;
  }

  &__templates-img {
    max-width: 8.75rem;
  }

  &__templates-text {
    p {
      padding-left: 0.75rem;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include until($md) {
    h2 {
      margin-bottom: 1rem;
    }

    &__templates-text {
      p {
        padding-left: 0;
      }
    }
  }
}

.account-title {
  display: flex;
  align-items: center;

  &__img {
    width: 56px;
    height: 56px;
    background-image: url('../img/account-sprite.png');
    background-size: 112px;
    background-repeat: no-repeat;

    &--day {
      background-position: 0 0;
    }

    &--morning {
      background-position: -56px 0;
    }

    &--night {
      background-position: 0 -56px;
    }
  
    &--sunset {
      background-position: -56px -56px;
    }
  }

  h1 {
    padding-left: 0.75rem;
    margin-bottom: 0;
    font-family: $text-font;
    @include font(1.875rem, 400, 1.167);
    color: $text-color;

    @include until($md) {
      font-size: 1.25rem;
    }
  }
}

.account-subtitle {
  margin-bottom: 0;
  font-size: 1.25rem;
  color: $main-blue;

  @include until($md) {
    font-size: 1rem;
  }
}