// -----------------------------------------------------------------------------
// This file contains all styles related to the account templates widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.account-templates {
  h3 {
    position: relative;
  }
}

.template-card-wrapper .template-card__button {
  position: absolute;
  right: 1rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.bill-card__content {
 text-decoration: none;
}

.template-card-wrapper .dropdown-menu .dropdown-item:focus {
  outline: none;
}

.template-card-wrapper .dropdown-menu [id^="edit-form"] .dropdown-item:last-of-type,
.template-card-wrapper .dropdown-menu [id^="edit-template-card-form"] .dropdown-item:last-of-type {
  border-bottom: 1px solid $middle-grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.template-card-wrapper .dropdown-menu [id^="edit-form"] .dropdown-item::before,
.template-card-wrapper .new-template-card .dropdown-menu [id^="edit-form"] .dropdown-item::before,
.template-card-wrapper .dropdown-menu [id^="edit-template-card-form"] .dropdown-item::before,
.template-card-wrapper .new-template-card .dropdown-menu [id^="edit-template-card-form"] .dropdown-item::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5717 5.52433L12.0674 3.02002L3.05186 12.0355L5.55617 14.5399L14.5717 5.52433Z' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0703 3.02201L13.0691 2.02326C13.6216 1.47076 14.5211 1.47076 15.0736 2.02326L15.5766 2.52618C16.1291 3.07868 16.1291 3.97826 15.5766 4.53076L14.5778 5.52951' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.05314 12.0391L1.79939 14.8582C1.53731 15.4532 2.13939 16.0624 2.73439 15.7932L5.55356 14.5395' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.template-card-wrapper .dropdown-menu [id^="delete-form"] .dropdown-item::before,
.template-card-wrapper .new-template-card .dropdown-menu [id^="delete-form"] .dropdown-item::before,
.template-card-wrapper .dropdown-menu [id^="delete-template-card-form"] .dropdown-item::before,
.template-card-wrapper .new-template-card .dropdown-menu [id^="delete-template-card-form"] .dropdown-item::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.63477 4.42676H18.6348' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.6348 9.42664V15.4266M10.1348 9.30664V15.4266V9.30664ZM6.63477 9.42664V15.4266V9.42664Z' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.6348 4.42676H7.63477V2.42676C7.63477 1.87676 8.08477 1.42676 8.63477 1.42676H11.6348C12.1848 1.42676 12.6348 1.87676 12.6348 2.42676V4.42676Z' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.6348 4.42676V18.4268C16.6348 19.5268 15.7348 20.4268 14.6348 20.4268H5.63477C4.53477 20.4268 3.63477 19.5268 3.63477 18.4268V4.42676' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.template-card-wrapper .new-template-card .dropdown-menu .dropdown-item,
.template-card-wrapper .new-template-card .dropdown-menu [id^="edit-form"] .dropdown-item,
.template-card-wrapper .new-template-card .dropdown-menu [id^="delete-form"] .dropdown-item {
  padding: 0.9375rem 1rem 0.875rem 3rem;
  color: $heading-color;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  &:hover {
    text-decoration: none;
    background-color: $light-grey;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.bill-card {
  &.template-card {
    &.user-card-template {
      height: 5.5rem;
      padding: 0;
      border: 0;

      .dropdown-menu {
        margin-top: 5.6875rem;
        border: 0;

        .dropdown-item {
          &:hover {
            text-decoration: none;
          }
        }
      }

      .bill-card__content {
        max-height: none;
        padding: 0.9375rem 4rem 0.9375rem 1.5rem;
      }
    }
  }
}

.user-card-template {
  .user-card-template__text {
    word-break: break-all;
    font-size: 0.875rem;

    &:first-child {
      margin-bottom: 0.5rem;
      line-height: 1.17;
      font-weight: 700;
    }

    &:last-child {
      color: #172A3A;
    }
  }

  .account-card__type {
    float: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 0.5rem;
    margin-bottom: 1px;
    vertical-align: bottom;
    border-radius: 2px;
    background-color: #F0F5FA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 4px);
  }
}

.card-title-mark.type-card-mc {
  background-image:url("../img/logo_mc.svg");
}
.card-title-mark.type-card-visa {
  background-image:url("../img/logo-visa.svg");
}
.card-title-mark.type-card-cirus {
  background-image:url("../img/logo_ms.png");
}
.card-title-mark.type-card-prostir {
  background-image:url("../img/logo_prostir-small.svg");
}

.bill-card {
  &.new-template-card {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    align-items: initial;
    height: 7.5rem;
    padding: 1rem;
    border: 0;
    box-shadow: 0 4px 20px $card-shadow;
  
    &:hover {
      box-shadow: 0 4px 5px $template-shadow-hover;
    }
  
    .new-template-card__row {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
    }
  
    .new-template-card__img {
      flex: 0 0 2.625rem;
      max-width: 2.625rem;
      height: 2.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $light-grey;
      border-radius: 0.5rem;
      background-color: #fff;

      img {
        flex: 0 0 auto;
        max-width: calc(100% - 8px);
        max-height: calc(100% - 8px);
      }
    }
  
    .new-template-card__content {
      flex-basis: 0;
      flex-grow: 1;
      padding-left: 0.5rem;
      padding-right: 2.625rem;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -moz-box;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
    }
  
    .new-template-card__payment {
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-right: 2.5rem;
      padding-top: 0.5rem;
  
      p {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        margin-bottom: 0;
        line-height: 1;
  
        &:not(:last-child) {
          span {
            &:last-child {
              font-size: 0.875rem;
              font-weight: 700;
            }
          }
        }
  
        & + p {
          margin-top: 0.375rem;
        }
  
        span {
          font-size: 0.75rem;
          line-height: 1.17;
          vertical-align: middle;
  
          &:first-child {
            color: $main-blue;
          }
        }
      }
    }

    .template-card-recurrent {
      display: block;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.5rem;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_358_6884)'%3E%3Cpath d='M9.49991 16.5C13.642 16.5 16.9999 13.1421 16.9999 9C16.9999 4.85786 13.642 1.5 9.49991 1.5C5.35777 1.5 1.99991 4.85786 1.99991 9C1.99991 13.1421 5.35777 16.5 9.49991 16.5Z' stroke='%230C6858' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.09122 12.4091L9.50031 9.68182V5.25' stroke='%230C6858' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_358_6884'%3E%3Crect width='18' height='18' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .template-card__button {
      margin: 0;
      // top: 1rem;
      top: 1.4375rem;
      // width: 2.625rem;
      width: 1.75rem;
      // height: 2.625rem;
      height: 1.75rem;
      border: 0;
      border-radius: 0.25rem;
      outline: none;
      background-color: transparent;
  
      &:hover,
      &[aria-expanded="true"] {
        background-color: $light-grey;
      }
    }
  
    .dropdown-menu {
      // width: 100%;
      width: 10.3125rem;
      // margin-top: 7.75rem;
      margin-top: 3.5rem;
      margin-right: 1rem;
      right: 0;
      left: auto !important;
      transform: none !important;
      padding: 0.5rem;
      border: 0;
    }
  
    .template-date-old {
      color: $btn-red;
    }
  
    .template-date-recent {
      color: $btn-green;
    }
  }
}

.template-add__button {
  &.template-add__button--new {
    height: 7.5rem;
  }
}

// .template-card-wrapper {
//   .template-card-recurrent {
//     display: block;
//     position: absolute;
//     bottom: 1rem;
//     right: 1rem;
//     width: 1.5rem;
//     height: 1.5rem;
//     border-radius: 0.5rem;
//     background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_358_6884)'%3E%3Cpath d='M9.49991 16.5C13.642 16.5 16.9999 13.1421 16.9999 9C16.9999 4.85786 13.642 1.5 9.49991 1.5C5.35777 1.5 1.99991 4.85786 1.99991 9C1.99991 13.1421 5.35777 16.5 9.49991 16.5Z' stroke='%230C6858' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.09122 12.4091L9.50031 9.68182V5.25' stroke='%230C6858' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_358_6884'%3E%3Crect width='18' height='18' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
//     background-position: center;
//     background-repeat: no-repeat;
//   }
// }

/* account templates with tabs */
.account-tabs {
  padding-bottom: 0.4375rem;
  border-bottom: 2px solid $middle-grey;
}

.templates-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .templates-nav__link {
    display: block;
    position: relative;
    padding: 0.625rem;
    color: $text-color;
    line-height: 1.1875;
    border-radius: 0.5rem;
    background-color: $light-grey;

    &::after {
      position: absolute;
      content: '';
      bottom: -0.5rem;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: 700;
      color: $heading-color;
      background-color: $danger;

      &::after {
        border-bottom-color: $btn-red;
      }
    }
  }
}

@include until($md) {
  .templates-nav {
    .templates-nav__link {
      font-size: 0.9375rem;
    }
  }
}

.templates-groups {
  .templates-groups__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17167;
    color: $heading-color;
  }

  .templates-groups__popover {
    font-size: 0.875rem;

    span {
      color: $btn-red;
      vertical-align: middle;
    }
  }

  .templates-groups__question {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    vertical-align: middle;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C6.41775 0 4.87103 0.469192 3.55544 1.34824C2.23985 2.22729 1.21447 3.47672 0.608967 4.93853C0.00346629 6.40034 -0.15496 8.00887 0.153721 9.56072C0.462403 11.1126 1.22433 12.538 2.34315 13.6569C3.46197 14.7757 4.88743 15.5376 6.43928 15.8463C7.99113 16.155 9.59966 15.9965 11.0615 15.391C12.5233 14.7855 13.7727 13.7602 14.6518 12.4446C15.5308 11.129 16 9.58225 16 8C16 6.94942 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM8.8 13.6H7.2V12H8.8V13.6ZM10.456 7.4L9.736 8.136C9.41378 8.41387 9.16124 8.76345 8.99868 9.15665C8.83612 9.54986 8.76807 9.97571 8.8 10.4H7.2V10C7.20152 9.15148 7.53789 8.33786 8.136 7.736L9.128 6.728C9.2784 6.58132 9.39771 6.40584 9.47881 6.21204C9.5599 6.01823 9.60112 5.81008 9.6 5.6C9.6 5.17565 9.43143 4.76869 9.13137 4.46863C8.83132 4.16857 8.42435 4 8 4C7.57566 4 7.16869 4.16857 6.86863 4.46863C6.56857 4.76869 6.4 5.17565 6.4 5.6H4.8C4.8 4.75131 5.13715 3.93737 5.73726 3.33726C6.33738 2.73714 7.15131 2.4 8 2.4C8.8487 2.4 9.66263 2.73714 10.2627 3.33726C10.8629 3.93737 11.2 4.75131 11.2 5.6C11.2004 6.2749 10.9328 6.92235 10.456 7.4Z' fill='%23E84F35'/%3E%3C/svg%3E");
    cursor: pointer;
  }

  &__card {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 4.6875rem;
    padding: 0.5rem 1rem;
    border: 1px solid $middle-grey;
    border-radius: 0.5rem;

    &:hover {
      text-decoration: none;
    }
  }

  &__card-img {
    flex: 0 0 2rem;
    max-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $danger;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.84764 1.9472L9.40042 1.72359L9.84764 1.9472ZM10.2948 1.05279L10.7421 1.27639L10.2948 1.05279ZM11.1893 1H17.5712V0H11.1893V1ZM10.2948 2.17081L10.7421 1.27639L9.84763 0.829179L9.40042 1.72359L10.2948 2.17081ZM1.57129 2.99999H8.95321V1.99999H1.57129V2.99999ZM1.07129 13.5V3.49999H0.0712891V13.5H1.07129ZM17.5713 14H1.57129V15H17.5713V14ZM18.0713 2.50001V13.5H19.0713V2.50001H18.0713ZM18.0712 1.49999V2.49996H19.0712V1.49999H18.0712ZM18.5713 1.99999C18.8474 1.99999 19.0712 2.22383 19.0712 2.49996H18.0712C18.0712 2.77612 18.2951 2.99999 18.5713 2.99999V1.99999ZM19.0713 2.50001C19.0713 2.22386 18.8474 1.99999 18.5713 1.99999V2.99999C18.2951 2.99999 18.0713 2.77614 18.0713 2.50001H19.0713ZM17.5713 15C18.3997 15 19.0713 14.3284 19.0713 13.5H18.0713C18.0713 13.7761 17.8474 14 17.5713 14V15ZM0.0712891 13.5C0.0712891 14.3284 0.742863 15 1.57129 15V14C1.29515 14 1.07129 13.7761 1.07129 13.5H0.0712891ZM1.57129 1.99999C0.742862 1.99999 0.0712891 2.67156 0.0712891 3.49999H1.07129C1.07129 3.22384 1.29515 2.99999 1.57129 2.99999V1.99999ZM9.40042 1.72359C9.31573 1.89298 9.14259 1.99999 8.95321 1.99999V2.99999C9.52136 2.99999 10.0408 2.67898 10.2948 2.17081L9.40042 1.72359ZM17.5712 1C17.8474 1 18.0712 1.22385 18.0712 1.49999H19.0712C19.0712 0.67157 18.3997 0 17.5712 0V1ZM11.1893 0C10.6211 0 10.1017 0.321003 9.84763 0.829179L10.7421 1.27639C10.8268 1.107 10.9999 1 11.1893 1V0Z' fill='%23E84F35'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__card-content {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 0.5rem;
  }

  &__card-address {
    color: $heading-color;
  }

  &__card-counter {
    font-size: 0.875rem;
  }

  &__add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 4.6875rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $light-grey;

    &:hover {
      text-decoration: none;
    }

    & > span {
      margin-left: 0.5rem;
      font-size: 0.875rem;
      color: $heading-color;
    }
  }
}

.account-templates {
  .account-templates__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17167;
    color: $heading-color;
  }

  .account-templates__filter {
    padding-right: 1.75rem;
    font-size: 0.875rem;
    color: $main-blue;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.13867 8.52393L10 13.3853' stroke='%237C9CAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 13.3853L14.8613 8.52391' stroke='%237C9CAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: right center;
    background-repeat: no-repeat;

    &:hover {
      text-decoration: none;
    }

    & ~ .dropdown-menu {
      width: 100%;
      min-width: 15.625rem;
      margin-top: 0.375rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 4px 20px $card-shadow;

      .dropdown-item {
        padding: 0.75rem 0.5rem;
        color: $heading-color;
        border-radius: 0.5rem;
        background-repeat: no-repeat;
    
        &:hover, &:active {
          background-color: $light-grey;
        }
      }
    }
  }
}

.templates-group {
  .templates-group__title {
    font-size: 1.3125rem;
  }

  .dropdown-menu {
    // margin-top: 2.5rem;
    right: 0;
    left: auto !important;
    transform: none !important;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 20px $card-shadow;

    .dropdown-item {
      padding: 1rem 1rem 1rem 2.5rem;
      color: $heading-color;
      line-height: 1;
      border-radius: 0.5rem;
      background-position: left 0.5rem center;
      background-repeat: no-repeat;

      &--edit {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.14556 13.6179L17.2634 1.5L22.2132 6.44975L10.0953 18.5676L3.47485 20.2383L5.14556 13.6179Z' stroke='%23172A3A' stroke-linejoin='round'/%3E%3Cpath d='M5.24268 13.5208L10.1924 18.4705' stroke='%23172A3A' stroke-linecap='round'/%3E%3C/svg%3E");
      }

      &--delete {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3936_17664)'%3E%3Cpath d='M3.5 5.5H20.5' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 10.4999V16.4999M12 10.3799V16.4999V10.3799ZM8.5 10.4999V16.4999V10.4999Z' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5 5.5H9.5V3.5C9.5 2.95 9.95 2.5 10.5 2.5H13.5C14.05 2.5 14.5 2.95 14.5 3.5V5.5Z' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.5 5.5V19.5C18.5 20.6 17.6 21.5 16.5 21.5H7.5C6.4 21.5 5.5 20.6 5.5 19.5V5.5' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3936_17664'%3E%3Crect width='24' height='24' rx='8' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }

      &:focus, &:hover {
        background-color: $light-grey;
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      color: $btn-red;
    }

    &[aria-expanded=true] {
      svg {
        transform: rotate(180deg);
      }
    }

    .dropdown-menu {
      min-width: 15.625rem;
      margin-top: 2.5rem;
    }
  }

  .templates-group__filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: $danger;

    svg {
      transition: transform 0.3s ease-in-out;
    }

    &:focus {
      outline: none;
    }
  }

  &__empty {
    padding-top: 3.5rem;
  }

  &__add {
    margin-top: 2rem;

    & > .dropdown {
      display: inline-block;
    }

    .dropdown-menu {
      min-width: 330px;
      left: 50% !important;
      right: 0 !important;
      transform: translateX(-50%) !important;
    }

    .dropdown-item {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1543 4.52173V19.6578' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.7097 12.0898H4.59863' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  .templates-group__add-btn {
    min-width: 300px;
    padding: 0.8125rem 1rem 0.875rem;
    line-height: 1.5;
    background-color: $middle-grey;

    span {
      padding-left: 1.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      color: $heading-color;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2.332V13.664C13 14.4 12.404 14.996 11.668 14.996H4.332C3.596 14.996 3 14.4 3 13.664V2.332C3 1.596 3.596 1 4.332 1H11.664C12.404 1 13 1.596 13 2.332Z' stroke='%23172A3A' stroke-width='0.811471' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33203 11H8.00003' stroke='%23172A3A' stroke-width='0.811471' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33203 8H10.668' stroke='%23172A3A' stroke-width='0.811471' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33203 5H10.668' stroke='%23172A3A' stroke-width='0.811471' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

  &__cards {
    margin-top: 2.5rem;

    & ~ .templates-group__add {
      & > .dropdown {
        display: block;
      }

      .templates-group__add-btn {
        width: 100%;
      }
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 6.5rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 10px $template-shadow-hover;

    &-check {
      flex: 0 0 0.75rem;
      max-width: 0.75rem;
      height: 0.75rem;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: $orange;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 2.625rem;
      height: 2.625rem;
      border: 2px solid $light-grey;
      border-radius: 0.5rem;
      background-color: #fff;

      img {
        flex: 0 0 auto;
        max-width: calc(100% - 8px);
        max-height: calc(100% - 8px);
      }
    }

    &-content {
      flex-grow: 1;
      width: 0;
      margin-right: 0.75rem;
      padding-left: 1rem;
    }

    .templates-group__card-title {
      line-height: 1.171875;
      font-weight: 700;
      color: $heading-color;
    }

    .templates-group__card-account {
      font-size: 0.875rem;
      color: $main-blue;
    }

    &-col {
      display: flex;
      flex-direction: column;
      flex: 0 0 8.0625rem;

      & > span {
        flex: 0 0 auto;

        &:first-child {
          font-size: 0.875rem;
          color: $main-blue;
        }

        &:last-child {
          font-weight: 500;
          line-height: 1.171875;
          color: $heading-color;
        }
      }
    }

    &-pay {
      flex: 0 0 17.5625rem;
      display: flex;
      align-items: center;

      .btn {
        flex: 0 0 8.5rem;
        max-width: 8.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    .templates-group__card-btn {
      flex-shrink: 0;
      position: relative;
      width: 1.75rem;
      height: 1.75rem;
      border: 0;
      border-radius: 0.5rem;
      outline: none;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.97168 12C3.50211 12 4.01082 12.2107 4.38589 12.5858C4.76097 12.9609 4.97168 13.4696 4.97168 14C4.97168 14.5304 4.76097 15.0391 4.38589 15.4142C4.01082 15.7893 3.50211 16 2.97168 16C2.44125 16 1.93254 15.7893 1.55747 15.4142C1.18239 15.0391 0.97168 14.5304 0.97168 14C0.97168 13.4696 1.18239 12.9609 1.55747 12.5858C1.93254 12.2107 2.44125 12 2.97168 12ZM2.97168 6C3.50211 6 4.01082 6.21071 4.38589 6.58579C4.76097 6.96086 4.97168 7.46957 4.97168 8C4.97168 8.53043 4.76097 9.03914 4.38589 9.41421C4.01082 9.78929 3.50211 10 2.97168 10C2.44125 10 1.93254 9.78929 1.55747 9.41421C1.18239 9.03914 0.97168 8.53043 0.97168 8C0.97168 7.46957 1.18239 6.96086 1.55747 6.58579C1.93254 6.21071 2.44125 6 2.97168 6ZM2.97168 0C3.50211 0 4.01082 0.210714 4.38589 0.585786C4.76097 0.960859 4.97168 1.46957 4.97168 2C4.97168 2.53043 4.76097 3.03914 4.38589 3.41421C4.01082 3.78929 3.50211 4 2.97168 4C2.44125 4 1.93254 3.78929 1.55747 3.41421C1.18239 3.03914 0.97168 2.53043 0.97168 2C0.97168 1.46957 1.18239 0.960859 1.55747 0.585786C1.93254 0.210714 2.44125 0 2.97168 0Z' fill='%237C9CAC'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $light-grey;
      }

      &[aria-expanded=true] {
        background-color: $light-grey;
      }
    }

    .dropdown-menu {
      margin-top: 1.875rem;
    }

    &--recent {
      >.templates-group__card-check {
        background-color: $btn-green;
      }
    }
  }

  @include until($xl) {
    &__card {
      align-items: flex-start;

      &-check {
        margin-top: 0.875rem;
      }

      &-col {
        &--last {
          flex-direction: row;
          flex-basis: 100%;
          order: 2;
          padding-left: 5.375rem;
        }
      }

      &-pay {
        flex-basis: 100%;
        flex-grow: 1;
        order: 2;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 6.875rem;
        border-top: 1px solid $middle-grey;
      }
    }
  }

  @include until($sm) {
    .templates-group__add-btn {
      width: 100%;
    }

    &__empty {
      padding-top: 5rem;
    }

    &__add {
      margin-top: 5rem;
    }

    &__cards {
      margin-top: 1rem;

      & ~ .templates-group__add {
        margin-top: 1.5rem;
      }
    }

    &__card {
      padding: 1rem;

      &-check {
        display: none;
      }

      &-col {
        &--last {
          padding-left: 3.625rem;

          & > span {
            &:last-child {
              font-weight: 400;
              color: $dark-orange;
            }
          }
        }
      }

      &-pay {
        justify-content: space-between;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &--recent {
        .templates-group__card-col {
          &--last {
            & > span {
              &:last-child {
                color: $btn-green;
              }
            }
          }
        }
      }
    }
  }
}

.modal-group-delete {
  .modal-content {
    border-width: 0;
    border-radius: 1rem;
  }

  .modal-header {
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    border-bottom-width: 0;

    .close {
      align-self: flex-end;
      margin: 0;
      padding: 0.25rem 0.4375rem;
      opacity: 0.8;
    }
  }
}