// -----------------------------------------------------------------------------
// This file contains all styles related to the payment bill details widget.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';


// accordion table (payment bill details)
.archive-bill {
  font-family: $text-font;
  font-weight: bold;

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.657rem 0.9193rem;
    line-height: 1.1875rem;
    border-radius: $border-radius;
    box-shadow: 0px 4px 20px $card-shadow;
    background-color: #fff;

    @include until($md) {
      padding-top: 2rem;
    }
  }

  &__title, &__details {
    flex-basis: auto;
    padding: 0 4rem 0 1rem;
  }

  &__amount {
    flex-grow: 1;
    font-size: 1.5rem;

    @include until($md) {
      text-align: right;
    }
  }

  &__details {
    position: relative;
    font-weight: normal;
    padding-right: 4rem;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 3.5rem;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.27881 8.44434L10.1402 13.3057' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.1401 13.3057L15.0015 8.44432' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      @include transition(all, 0.3s);
      // z-index: 1000;
    }

    &[aria-expanded="true"] {
      &::after {
        @include transform(rotate(180deg));
      }
    }

    @include until($md) {
      display: none;
    }
  }

  &__collapse {
    margin-top: -4px;
    padding: 0.85rem 1rem;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $light-grey;

    .table {
      margin-bottom: 0;
    }

    @include until($md) {
      padding-bottom: 0;
    }
  }

  &__mobile {
    display: none;
    margin-top: -4px;
    padding: 0.85rem 1rem;
    font-weight: normal;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $light-grey;

    .archive-bill__details {
      display: block;
      padding-left: 0;
    }

    @include until($md) {
      display: block;
    }
  }

  .yapomoga-payment-row {
    color: #25AEDA;
    border-top: 1px solid transparent;
    border-bottom: 0;

    &-border {
      height: 0.25rem;
      border-bottom: 1px dashed $middle-grey;
    }

    td {
      height: 2.75rem;
      padding-top: 0.5625rem;
      padding-bottom: 0.5rem;
      background-color: #D9EDFF;
      
      &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      padding-left: 1.6875rem;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3997 11.0114C17.8631 8.82666 19.5444 7.76353 20.7835 7.57936C21.1693 7.53064 21.5622 7.50725 21.9793 7.57936C23.0189 7.85318 23.1912 8.27707 22.8235 8.79353C22.0407 9.653 21.3124 10.5612 20.7009 11.5727C20.307 12.2178 19.9655 13.1084 19.8214 14.9189C19.768 16.7831 18.8866 18.2399 17.3997 19.4014V11.0114ZM14.4409 20.8348C13.1646 21.1213 11.9597 21.0307 10.8234 20.5971L13.3439 16.8766H14.4409V20.8348ZM8.39257 19.0682L10.354 16.3085C9.63065 15.9938 9.06953 15.5504 8.67665 14.9794C8.28377 14.4103 8.08632 13.6716 8.08632 12.7683C8.08632 12.1612 8.21929 11.6302 8.48726 11.1761C8.75321 10.722 9.09371 10.3527 9.50573 10.0623C9.86638 9.81378 10.3026 9.62766 10.8194 9.50683C11.3342 9.386 11.9245 9.32656 12.5914 9.32656H15.4101C15.3657 9.04202 15.3264 8.74773 15.2811 8.45832C14.9708 6.49382 14.3422 4.1181 13.8879 1.17038C13.5947 -0.307863 11.4379 -0.501779 11.4601 1.26101C11.4691 1.98892 11.6475 2.70515 11.7411 3.42819C11.9194 4.53517 11.9144 5.70159 11.8117 6.89919C11.4984 8.17962 10.0366 5.54275 9.88754 5.29427C8.95973 3.74684 8.26261 1.8983 7.23809 1.32922C6.40296 0.975492 5.36736 1.61473 5.6313 2.73633C5.68167 3.17581 6.54904 4.57025 7.44562 6.21318C7.89491 7.03659 8.28981 7.98961 8.71594 8.78184C8.89525 9.30219 8.68169 9.35092 8.3291 9.23593C6.61552 8.24979 5.23943 6.77739 3.40295 5.25334C2.5245 4.52445 0.990245 5.90233 1.78407 6.89822C3.137 8.59572 4.86065 9.75044 6.35763 11.0845C7.16254 11.8017 6.78477 12.4078 5.59504 12.1739C4.10812 11.8806 2.73203 11.1576 1.24411 10.4949C1.04565 10.4062 0.789773 10.3916 0.587287 10.4725C-0.00304454 10.7074 -0.0896803 11.2881 0.0715025 11.9361C0.187353 12.4039 0.533896 12.743 1.03356 12.934C2.09032 13.3394 3.06245 13.6882 4.07085 14.2388C4.81632 14.6451 5.82472 15.4763 6.26394 16.1789C6.82708 17.0793 7.25723 17.9514 7.90599 18.6063C8.06617 18.768 8.22836 18.921 8.39257 19.0682ZM14.4409 14.727H13.5041C13.0568 14.727 12.6992 14.7075 12.4262 14.6695C12.1522 14.6344 11.9164 14.535 11.7139 14.3742C11.5356 14.2349 11.3946 14.0566 11.2939 13.8412C11.1931 13.6249 11.1417 13.3793 11.1417 13.1084C11.1417 12.8453 11.1901 12.6046 11.2858 12.3893C11.3805 12.1729 11.5185 11.9985 11.6978 11.864C11.9335 11.6867 12.1743 11.5853 12.4242 11.5551C12.673 11.5249 13.0286 11.5113 13.489 11.5113H14.443V14.727H14.4409Z' fill='%2356CCF2'/%3E%3C/svg%3E%0A");
      background-position: left center;
      background-repeat: no-repeat;

      span {
        margin-right: 0.25rem;
        color: #25AEDA;
      }

      .popover {
        &.popover-main {
          background-color: #25AEDA;

          &.bs-popover-auto[x-placement^=right], 
          &.bs-popover-right {
            & > .arrow::after {
              border-right-color: #25AEDA;
            }
          }

          &.bs-popover-auto[x-placement^=bottom], 
          &.bs-popover-bottom {
            & > .arrow::after {
              border-bottom-color: #25AEDA;
            }
          }

          &.bs-popover-auto[x-placement^=left], 
          &.bs-popover-left {
            & > .arrow::after {
              border-left-color: #25AEDA;
            }
          }

          &.bs-popover-auto[x-placement^=top], 
          &.bs-popover-top {
            & > .arrow::after {
              border-top-color:#25AEDA;
            }
          }
        }
      }
    }

    .question-popover {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-bottom: 1px;
      border-radius: 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5C6.41775 0.5 4.87103 0.969192 3.55544 1.84824C2.23985 2.72729 1.21447 3.97672 0.608967 5.43853C0.00346629 6.90034 -0.15496 8.50887 0.153721 10.0607C0.462403 11.6126 1.22433 13.038 2.34315 14.1569C3.46197 15.2757 4.88743 16.0376 6.43928 16.3463C7.99113 16.655 9.59966 16.4965 11.0615 15.891C12.5233 15.2855 13.7727 14.2602 14.6518 12.9446C15.5308 11.629 16 10.0822 16 8.5C16 7.44942 15.7931 6.40914 15.391 5.43853C14.989 4.46793 14.3997 3.58601 13.6569 2.84315C12.914 2.10028 12.0321 1.511 11.0615 1.10896C10.0909 0.706926 9.05058 0.5 8 0.5ZM8.8 14.1H7.2V12.5H8.8V14.1ZM10.456 7.9L9.736 8.636C9.41378 8.91387 9.16124 9.26345 8.99868 9.65665C8.83612 10.0499 8.76807 10.4757 8.8 10.9H7.2V10.5C7.20152 9.65148 7.53789 8.83786 8.136 8.236L9.128 7.228C9.2784 7.08132 9.39771 6.90584 9.47881 6.71204C9.5599 6.51823 9.60112 6.31008 9.6 6.1C9.6 5.67565 9.43143 5.26869 9.13137 4.96863C8.83132 4.66857 8.42435 4.5 8 4.5C7.57566 4.5 7.16869 4.66857 6.86863 4.96863C6.56857 5.26869 6.4 5.67565 6.4 6.1H4.8C4.8 5.25131 5.13715 4.43737 5.73726 3.83726C6.33738 3.23714 7.15131 2.9 8 2.9C8.8487 2.9 9.66263 3.23714 10.2627 3.83726C10.8629 4.43737 11.2 5.25131 11.2 6.1C11.2004 6.7749 10.9328 7.42235 10.456 7.9Z' fill='%2325AEDA'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    @include until($sm) {
      &-border {
        height: 0.625rem;
      }

      td {
        height: auto;

        &:first-child {
          padding-top: 0.75rem;
          padding-left: 1rem;
          font-size: 1rem;
          border-top-right-radius: 0.5rem;
          border-bottom-left-radius: 0;
        }

        &:last-child {
          padding-bottom: 0.75rem;
          padding-left: 1rem;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0.5rem;
        }
      }
    }
  }
}