// -------------------------------------------------------------------------------
// This file contains all styles related to the autopayment create widget
// -------------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.modal-autopayment {
  .modal-content {
    border: 0;
    border-radius: 0.5rem;
  }

  .modal-header {
    padding: 1.5rem 5.125rem 1rem 1.5rem;
    border-bottom: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0.625rem 0.8125rem;
    border-top-right-radius: 0.5rem;
    opacity: 1;

    &:focus {
      outline: none;
    }
  }

  .modal-body {
    padding: 0rem 1.5rem 1.5rem;

    .form-label {
      top: 1.0625rem;
      font-size: 1rem;
    }

    .form-input {
      font-size: 1rem;

      &:focus, &.filled {
        & ~ .form-label {
          top: 10px;
          font-size: 0.875rem;
          line-height: 1.17;
        }
      }
    }

    h3 {
      font-size: 1.3125rem;
    }
  }

  .modal-autopayment__pay {
    padding-left: 4.25rem;
    color: #172A3A;
    background-position: left center;
    background-repeat: no-repeat;

    &--googlepay {
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='21' viewBox='0 0 52 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9524 10.2272V16.124H22.0684V1.5625H27.063C28.3288 1.5625 29.4082 1.98161 30.2913 2.81982C31.1941 3.65803 31.6455 4.68142 31.6455 5.89C31.6455 7.12782 31.1941 8.15122 30.2913 8.97968C29.418 9.80814 28.3386 10.2175 27.063 10.2175H23.9524V10.2272ZM23.9524 3.35588V8.43387H27.1022C27.848 8.43387 28.476 8.18046 28.9666 7.68338C29.4671 7.1863 29.7222 6.58201 29.7222 5.89975C29.7222 5.22723 29.4671 4.63269 28.9666 4.13561C28.476 3.61904 27.8578 3.36562 27.1022 3.36562H23.9524V3.35588Z' fill='%23172A3A'/%3E%3Cpath d='M36.5717 5.83154C37.9651 5.83154 39.0641 6.20191 39.8688 6.94266C40.6734 7.6834 41.0757 8.69705 41.0757 9.98361V16.124H39.28V14.74H39.2015C38.4263 15.8803 37.3862 16.4456 36.0909 16.4456C34.9821 16.4456 34.0597 16.124 33.314 15.471C32.5682 14.8179 32.1953 14.009 32.1953 13.0343C32.1953 12.0012 32.5878 11.1824 33.3728 10.5781C34.1578 9.96411 35.2078 9.66196 36.5129 9.66196C37.6315 9.66196 38.5539 9.86665 39.2702 10.276V9.84715C39.2702 9.19413 39.0151 8.64832 38.495 8.19022C37.9749 7.73213 37.3666 7.50796 36.6699 7.50796C35.6199 7.50796 34.7858 7.94656 34.1775 8.8335L32.5191 7.80036C33.4317 6.48456 34.7858 5.83154 36.5717 5.83154ZM34.1382 13.0635C34.1382 13.5509 34.3443 13.9602 34.7662 14.2819C35.1783 14.6035 35.669 14.7692 36.2283 14.7692C37.0231 14.7692 37.7296 14.4768 38.3478 13.892C38.966 13.3072 39.28 12.6249 39.28 11.8355C38.6913 11.3774 37.8768 11.1435 36.8269 11.1435C36.0615 11.1435 35.4237 11.3286 34.9134 11.6893C34.3933 12.0694 34.1382 12.5275 34.1382 13.0635Z' fill='%23172A3A'/%3E%3Cpath d='M51.3195 6.15332L45.0394 20.5003H43.0965L45.4319 15.4808L41.291 6.15332H43.3419L46.3249 13.3073H46.3641L49.2687 6.15332H51.3195Z' fill='%23172A3A'/%3E%3Cpath d='M16.4585 9.03808C16.4585 8.42794 16.4035 7.84412 16.3015 7.28271H8.4043V10.4991L12.9524 10.5001C12.768 11.5703 12.1743 12.4825 11.2647 13.0907V15.1775H13.972C15.5528 13.7243 16.4585 11.5761 16.4585 9.03808Z' fill='%234285F4'/%3E%3Cpath d='M11.2645 13.0905C10.5109 13.5954 9.54043 13.8907 8.40511 13.8907C6.21199 13.8907 4.35152 12.4229 3.68524 10.4443H0.892578V12.5964C2.27616 15.3235 5.11985 17.1949 8.40511 17.1949C10.6757 17.1949 12.5833 16.4531 13.9718 15.1763L11.2645 13.0905Z' fill='%2334A853'/%3E%3Cpath d='M3.42362 8.84816C3.42362 8.2926 3.51683 7.75556 3.68659 7.25069V5.09863H0.893927C0.321852 6.22632 0 7.49923 0 8.84816C0 10.1971 0.322833 11.47 0.893927 12.5977L3.68659 10.4456C3.51683 9.94076 3.42362 9.40372 3.42362 8.84816Z' fill='%23FABB05'/%3E%3Cpath d='M8.40511 3.8041C9.64444 3.8041 10.7542 4.22808 11.6305 5.05655L14.0297 2.67545C12.5725 1.32749 10.6728 0.5 8.40511 0.5C5.12083 0.5 2.27616 2.37135 0.892578 5.09846L3.68524 7.25051C4.35152 5.27195 6.21199 3.8041 8.40511 3.8041Z' fill='%23E94235'/%3E%3C/svg%3E");
    }

    &--applepay {
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='23' viewBox='0 0 56 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1421 4.80078C9.80566 4.80078 8.72754 5.60938 8.03125 5.60938C7.30127 5.60938 6.32422 4.8457 5.16748 4.8457C2.96631 4.8457 0.731445 6.67627 0.731445 10.1016C0.731445 12.2466 1.5625 14.5039 2.58447 15.9751C3.44922 17.1992 4.22412 18.21 5.32471 18.21C6.41406 18.21 6.89697 17.4912 8.25586 17.4912C9.62598 17.4912 9.94043 18.1875 11.1421 18.1875C12.3438 18.1875 13.1411 17.0981 13.8936 16.02C14.7246 14.7734 15.084 13.5605 15.0952 13.5044C15.0278 13.4819 12.7368 12.5498 12.7368 9.92188C12.7368 7.65332 14.5337 6.64258 14.6348 6.56396C13.4556 4.8457 11.6475 4.80078 11.1421 4.80078ZM10.5244 3.35205C11.0635 2.68945 11.4453 1.79102 11.4453 0.881348C11.4453 0.757812 11.4341 0.634277 11.4116 0.533203C10.5356 0.566895 9.45752 1.11719 8.81738 1.86963C8.32324 2.44238 7.85156 3.35205 7.85156 4.26172C7.85156 4.39648 7.87402 4.54248 7.88525 4.5874C7.94141 4.59863 8.03125 4.60986 8.12109 4.60986C8.91846 4.60986 9.9292 4.0708 10.5244 3.35205Z' fill='%23172A3A'/%3E%3Cpath d='M19.5097 1.80225V18.0078H22.4072V12.6958H25.9223C29.2016 12.6958 31.4926 10.4946 31.4926 7.28271C31.4926 4.01465 29.2802 1.80225 26.0459 1.80225H19.5097ZM22.4072 4.22803H25.2822C27.3711 4.22803 28.5503 5.29492 28.5503 7.28271C28.5503 9.21436 27.3374 10.2925 25.271 10.2925H22.4072V4.22803Z' fill='%23172A3A'/%3E%3Cpath d='M36.9291 16.02C35.6938 16.02 34.8066 15.4023 34.8066 14.3691C34.8066 13.3696 35.5365 12.8081 37.0976 12.707L39.8715 12.5273V13.5044C39.8715 14.9307 38.6137 16.02 36.9291 16.02ZM36.1093 18.21C37.7153 18.21 39.0629 17.5137 39.748 16.3232H39.9389V18.0078H42.623V9.61865C42.623 7.01318 40.8486 5.47461 37.6928 5.47461C34.7729 5.47461 32.7402 6.85596 32.5155 9.02344H35.1435C35.4018 8.19238 36.2778 7.74316 37.558 7.74316C39.0629 7.74316 39.8715 8.41699 39.8715 9.61865V10.6519L36.7045 10.8428C33.7172 11.0225 32.0439 12.3027 32.0439 14.5264C32.0439 16.7725 33.7397 18.21 36.1093 18.21Z' fill='%23172A3A'/%3E%3Cpath d='M45.7235 22.4663C48.475 22.4663 49.789 21.4556 50.8334 18.4009L55.2694 5.72168H52.327L49.4633 15.3125H49.2724L46.3974 5.72168H43.3427L47.7338 18.064L47.5878 18.603C47.2284 19.7373 46.5658 20.1865 45.3866 20.1865C45.1957 20.1865 44.7802 20.1753 44.6229 20.1416V22.4214C44.8026 22.4551 45.5551 22.4663 45.7235 22.4663Z' fill='%23172A3A'/%3E%3C/svg%3E");
    }
  }

  .modal-autopayment__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;

    svg {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    span {
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-left: 1rem;
      font-size: 0.875rem;
      color: #DE7800;
    }
  }

  @include at-least($sm) {
    .modal-dialog {
      max-width: 540px;
      margin-top: 5rem;
    }
  }

  @include until($md) {
    h3 {
      font-size: 1.3125rem;
    }
  }
}

.datepickers-container {
  z-index: 1051;
}