// -----------------------------------------------------------------------------
// This file contains all styles related to the catalogue widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.catalogue {
  position: relative;
  border-right: 1px solid $middle-grey;

  &__list {
    & > li {
      &:not(:last-child) {
        margin-bottom: 5px;
      } 
    }
  }

  &__item {
    display: block;
    position: relative;
    padding: 0.937rem 1.5rem 0.938rem 4.25rem;
    font-size: 1.125rem;
    color: $heading-color;
    line-height: 1.1667;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      text-decoration: none;
      background-color: $light-grey;
    }

    &:active, &.active {
      color: $light-grey;
      text-decoration: none;
      background-color: $btn-red;

      span {
        &:not(.badge) {
          color: $light-grey;
        }
      }
    }

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:not(.badge) {
        color: $heading-color;
      }

      &.badge {
        position: absolute;
        right: 1rem;
        top: 50%;
        @include transform(translateY(-50%));
        font-size: 0.75rem;

        &~span {
          padding-right: 3rem;
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      left: 0.625rem;
      top: 50%;
      @include transform(translateY(-50%));
      // background-image: url('../img/menu-catalogue-2.0.png');
      background-image: url('../img/menu-catalogue-2.1.png');
      background-size: 194px;
      background-repeat: no-repeat;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      left: -2px;
      top: 0;
      width: 3.125rem;
      height: 100%;
      box-shadow: 0px 3px 10px rgba(23, 42, 58, 0.1);
      border-radius: $border-radius;
      background-color: #fff;
    }
  }

  &__crossboard {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -48px -49px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -72px -49px;
      }
    }
  }

  &__p2p {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -122px -49px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -122px -74px;
      }
    }
  }

  &__p2r {
    &::before {
      width: 24px;
			height: 24px;
      background-position: 0 -98px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -24px -98px;
      }
    }
  }

  &__by-email {
    &::before {
      width: 26px;
			height: 24px;
      background-position: -48px -1px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: 0 -25px;
      }
    }
  }

  &__by-phone {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -25px -25px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -49px -25px;
      }
    }
  }

  &__receive {
    &::before {
      width: 24px;
			height: 24px;
      background-position: 0 -50px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -24px -50px;
      }
    }
  }

  &__mobile {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -72px -74px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -96px -74px;
      }
    }
  }

  &__utility {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -74px -124px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -97px -124px;
      }
    }
  }

  &__kindergarten {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -97px -1px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -97px -25px;
      }
    }
  }

  &__internet {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -24px -74px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -48px -74px;
      }
    }
  }

  &__tv {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -145px -98px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -50px -122px;
      }
    }
  }

  &__phone {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -48px -99px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -72px -99px;
      }
    }
  }

  &__security {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -96px -98px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -120px -98px;
      }
    }
  }

  &__transport {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -145px -49px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -145px -73px;
      }
    }
  }

  &__penalty {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -145px 0;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -145px -25px;
      }
    }
  }

  &__tourism {
    &::before {
      width: 25px;
			height: 24px;
      background-position: 0 -123px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -25px -123px;
      }
    }
  }

  &__banks {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -121px 0;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -121px -24px;
      }
    }
  }

  &__education {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -97px -49px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: 0 -74px;
      }
    }
  }

  &__business {
    &::before {
      width: 24px;
			height: 24px;
      background-position: 0 0;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -24px 0;
      }
    }
  }

  &__charity {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -73px 0;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -73px -24px;
      }
    }
  }

  &__budget {
    &::before {
      width: 24px;
			height: 26px;
      background-position: -121px -122px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -145px -122px;
      }
    }
  }

  &__army {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -169px 0;
    }
  }

  &__credits {
    &::before {
      width: 24px;
			height: 24px;
      background-image: url("../img/icons/icon-loans.svg");
      background-position: center;
      background-size: 24px;
    }

    &:active, &.active, &--red {
      &::before {
        background-image: url("../img/icons/icon-loans-red.svg");
      }
    }
  }

  &__getpayment {
    &::before {
      width: 24px;
			height: 24px;
      background-position: -169px -25px;
    }

    &:active, &.active, &--red {
      &::before {
        background-position: -169px -49px;
      }
    }
  }
}

.catalogue {
  &--icons {
    .catalogue__item {
      display: flex;
      align-items: center;
      height: 3.125rem;
      margin-right: 0.5rem;
      padding: 0 1.5rem 0 0;
      border-radius: 0.5rem;

      &::before, &::after {
        display: none;
      }

      span {
        line-height: 1.667;
      }

      &.active {
        background-color: $danger;

        span:not(.badge) {
          color: $btn-red;
        }
      }

      &:active:not(.active) {
        background-color: $light-grey;

        span:not(.badge) {
          color: $heading-color;
        }
      }

      &--online-payment {
        background-color: $btn-red;

        span:not(.badge) {
          color: #ffffff;
        }

        &:hover {
          background-color: #FF6A51;
        }

        &:active:not(.active) {
          background-color: #FF6A51;

          span:not(.badge) {
            color: #ffffff;
          }
        }
      }
    }

    .catalogue__item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 3.125rem;
      max-width: 3.125rem;
      height: 100%;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
}

/* catalogue mobile */
.catalogue-mobile {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  @include transform(translateX(100%));
  background-color: #fff;
  z-index: 2;
  @include transition(all, 0.3s);

  &.active {
    @include transform(translateX(0));
    @include transition(all, 0.3s);
  }

  .catalogue-mobile__back {
    display: block;
    height: 3.125rem;
    margin-left: 15px;
    margin-right: 15px;
    padding: 1rem 1rem 1rem 2.75rem;
    color: $heading-color;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6667 5.63879L6.80539 10.5001' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.80542 10.5L11.6668 15.3613' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
  }

  .catalogue {
    height: calc(100vh - 113px);
    border-right: 0;
    overflow: auto;

    &__item {
      margin-right: 0;
      padding: 0.938rem 1.5rem 0.938rem 3.65rem;
      font-size: 1rem;
      border-radius: 0;
      
      &::before {
        left: 1rem;
      }
  
      &::after {
        display: none;
      }

      &:active, &.active {
        color: $heading-color;
        background-color: #ffffff;
  
        span {
          &:not(.badge) {
            color: $heading-color;
            font-weight: bold;
          }
        }
      }
    }

    li {
      margin-bottom: 0;
    }

    span {
      line-height: 1.1875;
    }
  }
}

.catalogue-mobile {
  .catalogue--icons {
    .catalogue__list {
      padding-top: 0.9375rem;
    }

    li {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }

    .catalogue__list-title {
      height: 3.125rem;
      padding: 0.9375rem;
      font-weight: 700;
      line-height: 1.171875;
      color: $heading-color;
    }

    .catalogue__item {
      padding: 0;
      border-radius: 0.5rem;

      span {
        // line-height: 1.171875;
      }

      &.active, &:active {
        color: $btn-red;
        background-color: $danger;

        span {
          color: $btn-red;
          font-weight: 400;
        }
      }
    }

    .catalogue__item-icon {
      flex-basis: 1.5rem;
      max-width: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 1.125rem;
      box-shadow: none;
      background-color: transparent;
    }
  }
}