// -----------------------------------------------------------------------------
// This file contains all styles related to the utility category text widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.category-text {
  h2, h3, h4 {
    margin-bottom: 1rem;
    color: $text-color;
  }
}

.homepage-wrapper {
  .category-text {
    h2 {
      color: $heading-color;
    }
  }
}