// -----------------------------------------------------------------------------
// This file contains all styles related to the credits online page.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.credits-online {
  &__title {
    margin-bottom: 1rem;
  }

  @include until($md) {
    &__title {
      margin-bottom: 0.5rem;
    }
  }

  .tab-content {
    padding-top: 2.25rem;
  }
}

.company-card {
  position: relative;
  margin-bottom: 2.25rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 8px 1px rgba(15, 53, 85, 0.1);
  background-color: #ffffff;

  &.hidden {
    display: none;
  }

  .company-card__top-service {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    padding: 0.3125rem 0.5rem 0.3125rem 1.75rem;
    line-height: 1.1875;
    font-weight: 700;
    color: $dark-orange;
    border-radius: 0.5rem;
    background-color: $yellow;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35458 14.4776C7.74847 14.2253 8.25153 14.2253 8.64542 14.4776L11.5024 16.3071C12.4069 16.8862 13.5548 16.0751 13.3229 15.0207L12.5221 11.3788C12.4289 10.9547 12.5677 10.5127 12.8862 10.22L15.6057 7.72043C16.3797 7.00905 15.9452 5.7097 14.9018 5.61579L11.4398 5.30416C10.9892 5.2636 10.5993 4.97188 10.4303 4.54897L9.11647 1.26C8.71166 0.246666 7.28834 0.246666 6.88353 1.26L5.56966 4.54897C5.40071 4.97188 5.01078 5.2636 4.56025 5.30416L1.09818 5.61579C0.0548481 5.7097 -0.379731 7.00905 0.394261 7.72043L3.11378 10.22C3.43225 10.5127 3.57112 10.9547 3.47787 11.3788L2.67708 15.0207C2.44524 16.0751 3.59315 16.8862 4.49756 16.3071L7.35458 14.4776Z' fill='%23DE7800'/%3E%3C/svg%3E");
    background-position: left 0.5rem center;
    background-repeat: no-repeat;
    cursor: default;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  .company-card__title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__img-wrapper {
    flex: 0 0 auto;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 8.75rem;
    padding: 0.5rem;
    border: 1px solid $light-grey;
    border-radius: 0.5rem;
    border-radius: 0.5rem;

    img {
      max-width: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 0;
    padding-left: 1.25rem;
    padding-right: 1rem;
  }

  &__conditions {
    display: flex;
    flex-wrap: wrap;
  }

  &__conditions-item {
    flex-grow: 1;
    max-width: 100%;


    p {
      font-size: 0.875rem;

      &:last-of-type {
        span {
          font-weight: 700;
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }

  .company-card__question {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    vertical-align: middle;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C6.41775 0 4.87103 0.469192 3.55544 1.34824C2.23985 2.22729 1.21447 3.47672 0.608967 4.93853C0.00346629 6.40034 -0.15496 8.00887 0.153721 9.56072C0.462403 11.1126 1.22433 12.538 2.34315 13.6569C3.46197 14.7757 4.88743 15.5376 6.43928 15.8463C7.99113 16.155 9.59966 15.9965 11.0615 15.391C12.5233 14.7855 13.7727 13.7602 14.6518 12.4446C15.5308 11.129 16 9.58225 16 8C16 6.94942 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM8.8 13.6H7.2V12H8.8V13.6ZM10.456 7.4L9.736 8.136C9.41378 8.41387 9.16124 8.76345 8.99868 9.15665C8.83612 9.54986 8.76807 9.97571 8.8 10.4H7.2V10C7.20152 9.15148 7.53789 8.33786 8.136 7.736L9.128 6.728C9.2784 6.58132 9.39771 6.40584 9.47881 6.21204C9.5599 6.01823 9.60112 5.81008 9.6 5.6C9.6 5.17565 9.43143 4.76869 9.13137 4.46863C8.83132 4.16857 8.42435 4 8 4C7.57566 4 7.16869 4.16857 6.86863 4.46863C6.56857 4.76869 6.4 5.17565 6.4 5.6H4.8C4.8 4.75131 5.13715 3.93737 5.73726 3.33726C6.33738 2.73714 7.15131 2.4 8 2.4C8.8487 2.4 9.66263 2.73714 10.2627 3.33726C10.8629 3.93737 11.2 4.75131 11.2 5.6C11.2004 6.2749 10.9328 6.92235 10.456 7.4Z' fill='%2394ADBB'/%3E%3C/svg%3E");
    cursor: pointer;
  }

  .company-checklist {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      margin-top: 0.25rem;
      padding-left: 1.75rem;
      padding-top: 1px;
      background-position: left top;
      background-repeat: no-repeat;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &.checklist-plus {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='10' fill='%2309BC8A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.42857 14.5L4.5 10.6612L5.60786 9.5787L8.42857 12.3273L14.3921 6.5L15.5 7.59021L8.42857 14.5Z' fill='white'/%3E%3C/svg%3E");
      }

      &.checklist-minus {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='10' fill='%23DEE7F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8571 6.5L14 7.64283L11.1427 10.5L14 13.3572L12.8571 14.5L9.99988 11.6428L7.14286 14.4998L6 13.357L8.85702 10.5L6.00001 7.64307L7.14286 6.50024L9.99988 9.35719L12.8571 6.5Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 277px;
  }

  .company-card__buttons-link {
    display: inline-block;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    line-height: 1.3;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    span:last-child {
      position: relative;
      padding-left: 28px;

      &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.63867 8.02386L10.5 12.8852' stroke='%233B566E' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 12.8852L15.3613 8.02385' stroke='%233B566E' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
      }
    }

    &[aria-expanded=false] {
      .company-card__buttons-show {
        display: inline;
      }

      .company-card__buttons-hide {
        display: none;
      }
    }

    &[aria-expanded=true] {
      span:last-child {
        &::after {
          transform: rotate(180deg);
        }
      }
      
      .company-card__buttons-show {
        display: none;
      }

      .company-card__buttons-hide {
        display: inline;
      }
    }
  }

  .bank-card__cvv-button.question-popover {
    position: relative;
    top: 1px;
    right: auto;
    margin-top: 0;
  }

  &__collapse {
    margin-top: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-top: 1px solid $light-grey;
  }

  &__collapse-info {
    & + .company-card__collapse-info {
      margin-top: 1.25rem;
    }

    & > p {
      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__collapse-list {
    li {
      & + li {
        margin-top: 0.5rem;
      }
    }
  }

  @include until($xl) {
    &__buttons {
      width: 220px;
    }
  }

  @include until($lg) {
    &__conditions-item {
      margin-bottom: 0.75rem;

      &:last-of-type {
        margin-bottom: 0.5rem;
      }
    }

    &__buttons {
      flex: 1 1 100%;
      width: 100%;
      margin-top: 1.5rem;

      .btn-block {
        max-width: 300px;
      }

      .company-card__buttons-link {
        &[aria-expanded=true] {
          display: none;
        }
      }
    }

    .company-card__buttons-link {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    &__collapse {
      margin-top: 0;
      padding-bottom: 0;
      border-top: 0;
    }

    &__collapse-info {
      &--address, & + .company-card__collapse-info {
        margin-top: 0.75rem;
      }
    }
  }

  @include until($md) {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    box-shadow: 0px 4px 20px 0 rgba(39, 97, 146, 0.15);

    .company-card__top-service {
      left: 1.5rem;
      top: 0;
      padding: 0.25rem 0.25rem 0.25rem 1.25rem;
      font-size: 0.75rem;
      border-radius: 0 0 0.25rem 0.25rem;
      background-position: left 0.25rem center;
      background-size: 0.75rem;
    }

    .company-card__title {
      padding-left: 0.75rem;
      word-break: break-word;
    }

    &__row {
      flex-direction: column;
    }

    &__img-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;
    }

    &__img {
      width: 8.5625rem;
      height: 4rem;
      padding: 1.125rem;
    }

    &__content {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      .company-card__checklist {
        li {
          margin-top: 0.5rem;
        }
      }
    }

    &__conditions-item {
      margin-bottom: 0.5rem;

      .h3 {
        font-size: 1.25rem;
      }

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }

    &__buttons {
      margin-top: 1rem;
    }
    
    &__collapse-info {
      &--license, & + .company-card__collapse-info {
        margin-top: 0.75rem;
      }
    }
  }
}

.credits-info {
  padding: 2.25rem 3rem;
  border-radius: 0.75rem;
  background-color: $light-grey;

  .list {
    padding-left: 0.5rem;
  }

  &__contents {
    position: relative;

    .credits-info__button {
      display: block;
      position: relative;
      padding: 1rem;
      color: $heading-color;
      border-radius: 0.5rem;
      background-color: $middle-grey;
  
      &:hover {
        text-decoration: none;
      }
  
      &::after {
        position: absolute;
        content: '';
        top: 1rem;
        right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1665 9.62866L12.0001 15.4623' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15.4623L17.8336 9.62867' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
      }
  
      &[aria-expanded=true] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .dropdown-menu {
      width: 100%;
      margin-top: 0;
      padding: 1rem;
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: $middle-grey;
      z-index: 999;

      li {
        & + li {
          margin-top: 1rem;
        }

        a {
          color: $heading-color;
          font-weight: 700;
        }
      }
    }
  }

  @include until($md) {
    padding: 1.5rem;

    h3 {
      font-size: 1.25rem;
    }
  }
}

.credits-nav-wrapper {
  // overflow: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.credits-nav {
  // padding-bottom: 0.4375rem;
  // border-bottom: 2px solid $middle-grey;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .nav {
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $middle-grey;
  }

  &__item {
    flex: 0 0 auto;

    & ~ .credits-nav__item {
      margin-left: 0.5rem;

      .credits-nav__link {
        &::before {
          left: -0.5rem;
          width: 0.5rem;
        }
      }
    }
  }

  .credits-nav__link {
    display: block;
    position: relative;
    padding: 0.625rem;
    color: $text-color;
    line-height: 1.1875;
    border-radius: 0.5rem;
    background-color: $light-grey;

    &::before, &::after {
      position: absolute;
      content: '';
      bottom: -0.625rem;
      height: 0;
      border-bottom: 2px solid $middle-grey;
    }

    &::after {
      left: 0;
      width: 100%;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: 700;
      color: $heading-color;
      background-color: $danger;

      &::after {
        border-bottom-color: $btn-red;
      }
    }
  }
}

.credits-form {
  margin-bottom: 0.5rem;

  &__field {
    width: 306px;
  }

  @include until($lg) {
    &__field {
      width: 252px;
    }
  }

  @include until($md) {
    margin-bottom: 1.5rem;

    &__field {
      width: auto;
    }
  }
}