// -----------------------------------------------------------------------------
// This file contains all styles related to the account password recovery widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.diia-verif-page {
  .diia-verif-page__phone {
    font-size: 1.5625rem;
  }

  .diia-verif-page__timer {
    span {
      font-size: 1.875rem;
      line-height: 1.2;
      color: #E84F35;
    }
  }

  &__progress {
    height: 4px;
    width: 100%;
    background-color: #DEE7F3;

    & > div {
      height: 100%;
      background-color: #E84F35;
      transition: width 1s steps(1000, end);
    }
  }

  .diia-verif-page__docs-title {
    font-size: 1.125rem;
  }

  .diia-verif-page__skip {
    color: #64B3F7;
  }
}

.diia-verif-account {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $light-grey;

  &__icon {
    flex: 0 0 2.5rem;
    margin-right: 1rem;
  }

  &__content {
    flex-grow: 1;
  }

  &__title, a {
    line-height: 1.171875;
  }
}

.diia-verif-success {
  &--page {
    padding-top: 1.75rem;
    padding-bottom: 2.75rem;
  }

  .diia-verif-success__skip {
    color: #64B3F7;
  }

  @include until($md) {
    &--page {
      h2 {
        font-size: 1.125rem;
      }
    }
  }
}

.diia-verif-bills {
  margin-bottom: 1.5rem;

  & > .row {
    margin-left: -4px;
    margin-right: -4px;

    [class^=col] {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .diia-verif-bills__item {
    display: block;
    height: 2.75rem;
    padding: 0.5625rem 1.25rem;
    font-weight: 700;
    border: 1px solid #94ADBB;
    border-radius: 3rem;
    color: $heading-color;
    text-decoration: none;
  }
}

.modal {
  .modal-header {
    &.modal-header--diia-call {
      flex-direction: column-reverse;
      align-items: center;
      padding: 1.25rem;
      padding-bottom: 1rem;
      border-bottom-width: 0;
    }
  
    .close {
      position: relative;
      align-self: flex-end;
      top: -0.5rem;
      right: -0.5rem;
      margin: 0;
      margin-bottom: -0.5rem;
      padding: 0.25rem 0.4375rem;
      opacity: 0.8;
    }
  }

  .modal-body {
    &.modal-body--diia-call {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-bottom: 2rem;
    }

    &.modal-body--diia-success {
      padding: 0 1.25rem 1.25rem;

      .diia-verif-bills {
        margin-bottom: 0;
      }
    }
  }

  @include until($sm) {
    .modal-header {
      .close {
        margin-bottom: 1.5rem;
      }
    }
  }
}
