// -----------------------------------------------------------------------
// This file contains all styles related to the p2p fast payment rating widget
// -----------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.fastPayment-rating {
  margin-top: 1.5rem;
  margin-bottom: 2.375rem;

  &__banner {
    padding: 0.875rem;
    text-align: center;
    border-radius: 0.5rem;

    .fastPayment-rating__banner-title {
      @include font(1.125rem, 700, 1.5rem);
      color: $btn-red;

      & + p {
        line-height: 1.5rem;
      }
    }

    &--top {
      background-color: $light-green;

      .fastPayment-rating__banner-title {
        display: inline-block;
        margin-bottom: 0.5rem;
        padding-left: 2.375rem;
        color: $btn-green;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H11V12H5ZM18 12H13V22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V12H18ZM18.791 7C18.9377 6.51378 19.0082 6.00779 19 5.5C19 3.57 17.43 2 15.5 2C13.878 2 12.795 3.482 12.096 5.085C11.407 3.57 10.269 2 8.5 2C6.57 2 5 3.57 5 5.5C5 6.096 5.079 6.589 5.209 7H2V11H11V9H13V11H22V7H18.791ZM7 5.5C7 4.673 7.673 4 8.5 4C9.388 4 10.214 5.525 10.698 7H8C7.626 7 7 7 7 5.5ZM15.5 4C16.327 4 17 4.673 17 5.5C17 7 16.374 7 16 7H13.523C14.033 5.424 14.774 4 15.5 4Z' fill='%2309BC8A'/%3E%3C/svg%3E") left center no-repeat;
      }
    }

    &--nottop {
      background-color: $danger;

      .fastPayment-rating__banner-title {
        padding: 0 3.75rem;
      }
    }
  }

  &__banner-record {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.875rem;
    margin-right: -0.875rem;
    padding-top: 0.5rem;
    border-top: 1px dashed $pink;

    span {
      line-height: 1.5;
    }
  }

  &__record-amount {
    margin-left: 1.75rem;
    padding-left: 2rem;
    font-weight: 700;
    background: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 21.5C14.1421 21.5 17.5 18.1421 17.5 14C17.5 9.85786 14.1421 6.5 10 6.5C5.85786 6.5 2.5 9.85786 2.5 14C2.5 18.1421 5.85786 21.5 10 21.5Z' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 4.5C10.8284 4.5 11.5 3.82843 11.5 3C11.5 2.17157 10.8284 1.5 10 1.5C9.17157 1.5 8.5 2.17157 8.5 3C8.5 3.82843 9.17157 4.5 10 4.5Z' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L13.5 17.5' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 5.5L1.5 7.5' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 5.5L18.5 7.5' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 4.5V6.5' stroke='%23E84F35' stroke-width='1.3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") left top no-repeat;
  }

  &__info {
    padding-top: 0.75rem;
  }

  &__share {
    max-width: 20.5rem;
    margin: 2.5rem auto 0;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 3.5rem;
    border-radius: 0.5rem;

    &--facebook {
      background-color: #4E6297;

      &:hover {
        background-color: darken(#4E6297, 5%);
      }
    }

    &--telegram {
      background-color: #2F89CE;

      &:hover {
        background-color: darken(#2F89CE, 5%);
      }
    }

    &--viber {
      background-color: #7C509A;

      &:hover {
        background-color: darken(#7C509A, 5%);
      }
    }
  }

  @include until($xl) {
    &__banner {
      &--nottop {
        .fastPayment-rating__banner-title {
          padding: 0 1.5rem;
        }
      }
    }
  }

  @include until($sm) {
    margin-bottom: 0;

    &__banner {
      text-align: left;

      .fastPayment-rating__banner-title {
        font-size: 1rem;
      }

      &--nottop {
        .fastPayment-rating__banner-title {
          padding: 0;
        }
      }
    }

    &__banner-record {
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
    }

    &__info {
      padding-top: 0.125rem;
    }

    &__share {
      margin-top: 2rem;
    }

    &__card {
      width: 5.625rem;
      height: 2.625rem;

      img {
        width: 1.5rem;
      }
    }
  }
}

// fast payment rate
.fastPayment-rate {
  &__row {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid $middle-grey;
    cursor: pointer;

    &-img, &-arrow {
      flex-shrink: 0;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      background-color: $light-grey;
    }

    &-info {
      flex-grow: 1;
      padding-left: 0.875rem;
      padding-right: 0.875rem;

      span {
        font-size: 1.125rem;

        &:last-child {
          font-weight: 700;
          color: $heading-color;
        }
      }
    }

    &-arrow {
      transition: transform 0.2s;
    }

    &[aria-expanded="true"] {
      .fastPayment-rate__row-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__collapse {
    padding-top: 1.5rem;

    .nav {
      margin-bottom: 1rem;
    }

    .nav-item {
      margin-right: 1.25rem;
    }

    .nav-link {
      padding: 0;
      color: $text-color;
      line-height: 1.5;

      &.active {
        color: $heading-color;
        font-weight: 700;
      }
    }
  }

  @include until($sm) {
    &__collapse {
      padding-top: 0.875rem;

      .nav {
        margin-bottom: 0.875rem;
      }
    }
  }
}

// fast payment table
.table {
  &.fastPayment-table {
    margin-bottom: 0;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    background-color: $light-grey;

    tr {
      td {
        padding: 0.75rem 0.5rem 0.625rem;
        color: $text-color;

        &:first-child {
          width: 3.25rem;
          padding-left: 0.875rem;
          padding-right: 0;
          font-size: 0.875rem;
        }

        &:last-child {
          padding-right: 0.875rem;
          text-align: right;
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &.active {
        font-weight: 700;

        td {
          color: $heading-color;

          &:first-child {
            color: $heading-color;
          }
        }
      }
    }
  }

  @include until($sm) {
    &.fastPayment-table {
      tr {
        td {
          display: table-cell;

          &:first-child {
            width: 2.625rem;
          }
        }
      }
    }
  }
}

.fastPayment-leader {
  display: flex;
  align-items: center;
  min-height: 4rem;
  margin-bottom: 0.875rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  background-color: $light-yellow;

  span {
    font-weight: 700;
  }

  &__rate {
    flex-shrink: 0;
    color: $heading-color;
  }

  &__info {
    flex-grow: 1;
    padding-left: 2.75rem;
    padding-right: 0.5rem;
    color: $heading-color;
    word-break: break-word;
  }

  &__time {
    flex-shrink: 0;
    color: $dark-orange;
  }

  &__img {
    flex-shrink: 0;
    padding-left: 1.5rem;

    img {
      width: 4rem;
    }
  }

  @include until($sm) {
    &__info {
      padding-left: 1.5rem;
    }

    &__img {
      padding-left: 0.75rem;

      img {
        width: 2.625rem;
      }
    }
  }
}