// -----------------------------------------------------------------------------
// This file contains all styles related to the homepage awards articles of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.awards-article {
  display: flex;
  font-family: $heading-font;
  color: $heading-color;

  &:hover {
    color: $heading-color;
    text-decoration: none;
  }

  h3 {
    margin-bottom: 1rem;
  }

  &__img {
    flex-shrink: 0;
    min-width: 10.9375rem;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }

    @include until($md) {
      margin-bottom: 2.25rem;
    }
  }

  &__content {
    padding-left: 1.1875rem;

    @include until($md) {
      padding-left: 0;
    }
  }

  @include until($md) {
    flex-direction: column;
  }
}

// slider
.lSSlideOuter .lSPager.lSpg>li {
  padding-left: 4px;
  padding-right: 4px;
}

.lSSlideOuter .lSPager.lSpg>li a {
  width: 16px;
  height: 16px;
  border: 2px solid $middle-grey;
  background-color: #fff;
}

.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
  border-color: $btn-red;
  background-color: $btn-red;
}