// -----------------------------------------------------------------------------
// This file contains all styles related to the homepage header of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.homepage-header {
  padding: 5.2rem 0 2rem; 
  background: url('../img/homepage/homepage-header-bkgr.png') center no-repeat;
  background-size: cover;

  // h1 {
  //   font-size: 2.25rem;
  // }
}

/* bill card (main page) */
.main-card {
  display: flex;
  flex-direction: column;
  padding: 0.8175rem 0.9rem;
  height: 8.75rem;
  box-shadow: 0px 4px 20px $card-shadow;
  border-radius: 8px;
  background-color: #fff;

  &:hover {
    text-decoration: none;;
  }

  span {
    flex: 0 0 50%;
    @include font(1.125rem, 500, 1.2);
    color: $heading-color;
  }

  &__img {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-image: url('../img/menu-catalogue.png');
      background-size: 169px;
      background-repeat: no-repeat;
    }
  }
}