// -----------------------------------------------------------------
// This file contains all styles related to the landing kasko
// -----------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.col-pad10 {
  &.row {
    margin-left: -10px;
    margin-right: -10px;

    & > [class^="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.kasko-wrapper {
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section {
  margin-top: 5rem;
}

.kasko-buy {
  padding: calc(3.125rem - 1px);
  border: 1px solid $middle-grey;
  border-radius: 1.25rem;

  .kasko-buy__title {
    font-size: 2.75rem;
  }

  .kasko-buy__subtitle {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color: $heading-color;
  }
}

.kasko-form {
  .kasko-input {
    height: 3.5rem;
    padding: 0.5rem 2rem 0.5rem 4rem;
    font-size: 1.75rem;
    line-height: 1.3;
    color: $heading-color;
    text-align: center;
    border: 2px solid #2387E0;
    border-radius: 0.5rem;

    &:focus {
      color: $heading-color;
    }
  }

  .car-number {
    position: absolute;
    height: 3.5rem;
    width: 2.125rem;
    top: 0;
    left: 0;
    padding-top: 0.5625rem;
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    border-right: 2px solid #2387E0;
    border-top-left-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: calc(0.5rem - 1px);
    background: #2387E0 url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' width='21' height='6.5' fill='%237DC9F4'/%3E%3Crect x='0.5' y='6.5' width='21' height='6.5' fill='%23FFE76A'/%3E%3C/svg%3E") bottom 0.375rem center no-repeat;
  }

  &__logo {
    margin-top: 2.5rem;
    text-align: center;
  }

  &__result {
    margin-top: 2.5rem;
  }
}

.kasko-result {
  .kasko-result__title {
    margin-bottom: 0.875rem;
    font-size: 1.5rem;
    line-height: 1.172;

    span {
      white-space: nowrap;
    }
  }

  &__table {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: $light-grey;

    & > .row {
      & > [class^=col]:nth-of-type(n+5) {
        margin-top: 1.25rem;
      }
    }
  }

  &__table-card {
    & > p {
      &:first-child {
        margin-bottom: 0.125rem;
        font-size: 0.75rem;
      }
    }
  }

  &__summary {
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: #FEF7E0;

    p {
      font-size: 1.125rem;
    }

    .kasko-result__summary-info {
      padding: 0.625rem;
      line-height: 1.1716667;
      font-weight: 700;
      border-radius: 0.5rem;
      background-color: #FFD578;
    }
  }
}

.kasko-package {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 24.625rem;
  padding: 1.875rem 1.5625rem;
  font-size: 0.875rem;
  border-radius: 1rem;

  &--go {
    background-color: #ACDCFF;
  }

  &--ride {
    background-color: #9EE2AD;
  }

  &--drive {
    background-color: #FFD159;
  }

  p, span, li {
    color: $heading-color;
  }

  .kasko-package__title {
    margin-bottom: 1.25rem;
  }

  .kasko-package__amount {
    margin-bottom: 1.25rem;
  }

  .list {
    margin-bottom: 0.9375rem;

    li {
      margin-bottom: 0.3125rem;
      padding-left: 0.5rem;
    }
  }

  .btn-package {
    margin-top: auto;
    padding: 0.75rem;
    background-color: #fff;
  }
}

.promo-card {
  border-radius: 1rem;

  &__content {
    padding: 3.75rem 2.5rem;
  }

  &__img {
    img {
      max-width: 100%;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
  }

  .promo-card__title {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    font-family: $heading-font;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #141414;

    & ~ p {
      font-size: 1.125rem;
    }
  }

  &--passed {
    background-color: #FFFAD4;

    .promo-card__img {
      padding-top: 0.75rem;
    }

    .promo-card__icon {
      background-color: #F19F00;
    }
  }

  &--saved, &--free {
    display: flex;
    align-items: flex-end;
    height: 31.25rem;
    margin-top: 1.25rem;

    .promo-card__content {
      padding-right: 1.875rem;
    }

    .promo-card__title {
      white-space: nowrap;
    }
  }

  &--saved {
    background: url("../img/kasko-insurance/promo-image2.svg"), linear-gradient(#D9FDE1 0%, #A8F1B8 100%);
    background-position: top right 3rem, top left;
    background-repeat: no-repeat;

    .promo-card__icon {
      background-color: #0C6858;
    }
  }

  &--free {
    background: url("../img/kasko-insurance/promo-image3.svg"), linear-gradient(#EAF3FD 0%, #D6E9FF 100%);
    background-position: top 4.5625rem left 8rem, top left;
    background-repeat: no-repeat;

    .promo-card__icon {
      background-color: #313036;
    }
  }
}

.kasko-works {
  &__cards {
    margin-top: 2.5rem;
  }
}

.works-card {
  height: 100%;
  padding-bottom: 3.75rem;
  border-bottom: 1px solid $middle-grey;
  
  .works-card__title {
    font-size: 1.5rem;
    line-height: 1.6;

    span {
      display: block;
      line-height: 1.6;
    }
  }
}

.kasko-telematics {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: $light-grey;

    .kasko-telematics__title {
      margin-bottom: 2.5rem;

      & ~ p {
        line-height: 1.6;
      }
    }
  }

  &__img {
    img {
      max-width: 100%;
      border-radius: 1rem;
    }
  }
}

.kasko-cards {
  &__row {
    margin-top: 2.5rem;
  }
}

.kasko-card {
  height: 100%;
  padding: calc(2.5rem - 1px);
  border: 1px solid $middle-grey;
  border-radius: 1rem;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: $light-grey;
  }

  .kasko-card__title {
    font-size: 1.5rem;

    & ~ p {
      line-height: 1.6;
    }
  }
}

.kasko-info {
  padding-bottom: 3.375rem;

  h3, h4 {
    margin-top: 3.125rem;
  }

  // p, span, li {
  //   color: $heading-color;
  // }

  .list {
    li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .list--circle {
    li {
      &::before {
        width: 4px;
        height: 4px;
        top: 7px;
        left: 8px;
      }
    }
  }
}

@include until($xl) {
  .promo-card {
    &--saved, &--free {
      .promo-card__content {
        padding-left: 1.875rem;
      }
    }
  }
}

@include until($lg) {
  .section {
    margin-top: 2.5rem;
  }

  .kasko-result {
    &__table {
      & > .row {
        & > [class^=col]:nth-of-type(n+3) {
          margin-top: 0.9375rem;
        }
      }
    }

    &__packages {
      & > .row {
        & > [class^=col]:last-child {
          margin-top: 1.875rem;
        }
      }
    }
  }

  .promo-card {
    &__content {
      padding: 1.875rem;
    }

    .promo-card__title {
      font-size: 1.75rem;
    }

    &--saved {
      background-position: top right -1.75rem, top left;
    }

    &--free {
      background-position: top 4rem left 2rem, top left;
    }
  }

  .kasko-telematics {
    &__content {
      padding: 1.875rem;
    }
  }

  .kasko-card {
    padding: calc(1.875rem - 1px);
  }
}

@include until($md) {
  .kasko-wrapper {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .kasko-buy {
    padding: 0;
    border: 0;

    .kasko-buy__title {
      font-size: 1.5rem;
    }

    .kasko-buy__subtitle {
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }
  }

  .kasko-form {
    &__logo {
      margin-top: 1.5rem;
    }

    &__result {
      margin-top: 1.5rem;

      .kasko-result__title {
        font-size: 1.125rem;

        span {
          font-size: 1.625rem;
        }
      }
    }
  }

  .kasko-result {
    &__table {
      & > .row {
        & > [class^=col]:nth-of-type(n+2) {
          margin-top: 0.9375rem;
        }
      }
    }

    &__packages {
      .kasko-result__title {
        font-size: 1.5rem;
      }

      & > .row {
        & > [class^=col]:nth-of-type(2) {
          margin-top: 1.875rem;
        }
      }
    }
  }

  .kasko-package {
    min-height: auto;

    .kasko-package__title {
      font-size: 1.125rem;
    }

    .kasko-package__amount {
      font-size: 1.625rem;
    }
  }

  .promo-card {
    &__content {
      padding: 1.5rem;
    }

    .promo-card__title {
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem;
      font-size: 1.5rem;
    }

    &--passed {
      .promo-card__content {
        padding: 1rem;
      }

      .promo-card__title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
    }

    &--saved, &--free {
      height: 22.5rem;
      background-size: 70%, auto;
    }

    &--saved {
      background-size: 208px auto, auto;
      background-position: top right, top left;
    }

    &--free {
      background-size: 235px auto, auto;
      background-position: top 2.3125rem right 1.125rem, top left;
    }
  }

  .kasko-works {
    h2 {
      font-size: 1.5625rem;
    }

    &__cards {
      [class^=col]:not(:last-of-type) {
        margin-bottom: 1.875rem;
      }
    }
  }

  .works-card {
    padding-bottom: 1.5rem;

    .works-card__title {
      font-size: 1.25rem;
      line-height: 1.172;

      span {
        display: inline;
        line-height: 1.172;
      }
    }
  }

  .kasko-telematics {
    &__content {
      padding: 1.5rem;

      .kasko-telematics__title {
        margin-bottom: 1.5rem;
      }
    }

    &__img {
      margin-top: 1.875rem;
    }
  }

  .kasko-cards {
    h2 {
      font-size: 1.5rem;
    }

    &__row {
      margin-top: 1.5rem;

      [class^=col]:not(:last-of-type) {
        margin-bottom: 1.875rem;
      }
    }
  }

  .kasko-card {
    padding: calc(2.5rem - 1px);

    .kasko-card__title {
      font-size: 1.25rem;
    }
  }

  .kasko-info {
    h3, h4 {
      margin-top: 2rem;
      font-size: 1.125rem;
    }
  }
}