// -----------------------------------------------------------------
// This file contains all styles related to the landing sweet tv page
// -----------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.landing-wrapper {
  position: relative;
  color: #ffffff;

  p, span, a {
    color: #ffffff;
  }

  h1 {
    margin-bottom: 1.25rem;
    font-size: 3.75rem;
    line-height: 1.2;
  }

  h2 {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    line-height: 1.2;    
  }

  @include until($xl) {
    h1 {
      font-size: 2.25rem;
    }
  }

  @include until($lg) {
    h2 {
      margin-bottom: 1.875rem;
    }
  }

  @include until($md) {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      margin-bottom: 0.9375rem;
      font-size: 1.625rem;
    }
  }
}

.landing-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 2.5rem;
  z-index: 102;

  .main-nav {
    align-items: flex-start;

    &__logo {
      font-size: 0;

      a {
        display: inline-block;
        font-size: 1rem;

        img {
          vertical-align: top;
        }

        &:first-child {
          margin-right: 2.5rem;
        }
      }
    }

    &__lang {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95898 6.51758L8.89759 10.1636' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.89746 10.1641L12.8361 6.51806' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
      &:hover {
        color: #ffffff;
      }
    }

    &__item--lang.show .main-nav__lang {
      background-color: transparent;
    }
  }

  @include until($xl) {
    padding-top: 1.6875rem;
  }

  @include until($lg) {
    .main-nav__nav {
      display: flex;
    }
  }

  @include until($md) {
    padding-top: 1.5rem;

    .main-nav {
      &__logo {
        a {
          &:first-child {
            img {
              width: 104px;
            }
          }

          &:last-child {
            display: block;
            margin-top: 0.625rem;

            img {
              width: 156px;
            }
          }
        }
      }
    }
  }
}

.landing-hero {
  padding-top: 10.125rem;
  background: linear-gradient(90deg, #31B8C5 0%, #A03153 100%);
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1;
  }

  .landing-hero__subtitle {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }

  &__form {
    position: relative;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: $heading-color;
    z-index: 1;

    .form-group {
      margin-bottom: 0;

      &.has-success .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv),
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv) {
        background-image: none;
      }

      &.has-success .form-input,
      &.has-error .form-input,
      &.has-success .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus,
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus {
        box-shadow: none;
      }

      &.has-error .form-input,
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus {
        border-color: $btn-red-hover;
      }
    }

    .form-input {
      height: 72px;
      padding: 2.026rem 2.5rem 1.1rem 1.0775rem;
      padding: 1.8125rem 2.5rem 0.5625rem 1.0775rem;
      font-size: 1.5rem;
      line-height: 1.172;

      &.form-control:focus {
        box-shadow: none;
      }

      & ~ .form-label {
        top: 1.25rem;
        font-size: 1.5rem;
      }

      &:focus ~ .form-label, &.filled ~ .form-label {
        top: 0.625rem;
        font-size: 0.875rem;
      }
    }

    .btn {
      width: 330px;
      padding: 0.8125rem 1.125rem;
      font-size: 1.5rem;
      border-color: #BF432D;
      background-color: #BF432D;

      &:hover:not(.disabled),
      &:hover:not(:disabled),
      &:active:not(.disabled),
      &:active:not(:disabled) {
        border-color: $btn-red;
        background-color: $btn-red;
      }
    }
  }

  &__form-sent {
    height: 72px;

    p {
      position: relative;
      padding-left: 60px;
      font-size: 1.5rem;

      &::before {
        position: absolute;
        content: '';
        top: -4px;
        left: 0;
        width: 54px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_169_19126)'%3E%3Ccircle cx='27' cy='23' r='18' fill='%2309BC8A'/%3E%3C/g%3E%3Cpath d='M21.0059 24.042L26.0415 27.7586' stroke='white' stroke-width='1.65517' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26.041 27.7588L32.9911 18.342' stroke='white' stroke-width='1.65517' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_169_19126' x='0.724137' y='0.862069' width='52.5517' height='52.5517' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4.13793'/%3E%3CfeGaussianBlur stdDeviation='4.13793'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0352941 0 0 0 0 0.737255 0 0 0 0 0.541176 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_169_19126'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_169_19126' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-position: left top -3px;
        background-repeat: no-repeat;
      }

      strong {
        white-space: nowrap;
      }
    }
  }

  .landing-hero__note {
    position: relative;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
    padding-right: 2rem;
    z-index: 1;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: calc(50% + 164px);
    text-align: center;

    .ellipse-1 {
      position: absolute;
      width: 363px;
      height: 428px;
      left: 50%;
      transform: translateX(-50%);
      top: -42px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(191, 110, 198, 0.6) 0%, rgba(60, 174, 223, 0) 100%);
    }

    .ellipse-2 {
      position: absolute;
      width: 701px;
      height: 816px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -250px;
      background: radial-gradient(50% 50% at 50% 50%, #BF6EC6 0%, rgba(60, 174, 223, 0) 100%);
    }

    &-main {
      position: relative;
    }
  }

  @include until($xl) {
    padding-top: 9.9375rem;

    .landing-hero__subtitle {
      margin-bottom: 1.875rem;
      font-size: 1.25rem;
    }

    &__form {
      .form-input {
        height: 56px;
        font-size: 1.125rem;

        & ~ .form-label {
          top: 1rem;
          font-size: 1.125rem;
        }
  
        &:focus ~ .form-label, &.filled ~ .form-label {
          top: 0.375rem;
        }
      }

      .btn {
        width: 100%;
        height: 56px;
        margin-top: 1rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        font-size: 1.25rem;
      }
    }

    .landing-hero__note {
      margin-top: 1.25rem;
      margin-bottom: 1.5rem;
    }

    &__img {
      .ellipse-1 {
        width: 201px;
        height: 238px;
      }

      .ellipse-2 {
        width: 389px;
        height: 452px;
        bottom: -140px;
      }
    }
  }

  @include until($lg) {
    &__img {
      left: calc(50% + 48px);
    }

    &__form-sent {
      height: auto;

      p {
        padding-left: 2.5rem;
        font-size: 1.125rem;

        &::before {
          top: -2px;
          width: 36px;
          height: 32px;
          background-size: 36px;
        }
      }
    }
  }

  @include until($md) {
    padding-top: 9.375rem;
    background: linear-gradient(180deg, #189EAB 0%, #A13253 99.94%);

    .landing-hero__subtitle {
      margin-bottom: 1.25rem;
    }

    .landing-hero__note {
      margin-bottom: 2.5rem;
      padding-right: 0;
    }

    &__img {
      display: none;
      // position: relative;
      // left: 0;
      // margin-top: 1.875rem;

      // .ellipse-1 {
      //   width: 168px;
      //   height: 198px;
      //   top: -32px;
      // }

      // .ellipse-2 {
      //   width: 347px;
      //   height: 400px;
      //   bottom: -112px;
      // }
    }
  }
}

.landing-promo {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  background-color: $heading-color;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url('../img/sweettv/promo-bkgr.png') left calc(50% + 184px) top 176px no-repeat;
  }

  &__img {
    padding-top: 1.5rem;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 172px;
    margin-bottom: 1.875rem;
    padding: 0.875rem;
    border: 2px solid #20BEC6;
    border-radius: 0.5rem;

    &--bottom {
      margin-bottom: 1.25rem;
    }

    .landing-promo__card-amount {
      margin-bottom: 1rem;
      color: #4CF4FD;
      font-size: 2.5rem;
      font-weight: 700;
    }

    .landing-promo__card-text {
      font-size: 1.75rem;
    }
  }

  .landing-promo__note {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  @include until($xl) {
    &::before {
      background-size: 370px;
      background-position: left calc(50% + 52px) top 222px;
    }

    .landing-promo__note {
      font-size: 1rem;
    }
  }

  @include until($lg) {
    padding-top: 2.5rem;
    padding-bottom: 5rem;

    &::before {
      background-size: 480px;
      background-position: left calc(50% + 80px) top 111px;
    }

    &__img {
      margin-bottom: 1.875rem;
      padding-top: 0;
    }
  }

  @include until($md) {
    padding-bottom: 2.5rem;

    &::before {
      background-size: 326px;
      background-position: left calc(50% + 14px) top 80px;
    }

    &__card {
      height: 108px;
      margin-bottom: 0.9375rem;

      .landing-promo__card-amount {
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }

      .landing-promo__card-text {
        font-size: 1.25rem;
      }
    }
  }
}

.landing-faq {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  background: linear-gradient(180deg, #1896A3 0%, #A03354 100%);
  z-index: 105;

  .bkgr-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-4deg);
      opacity: 0.05;
      background-image: url('../img/sweettv/faq-bkgr.png');
      background-position: right top;
      background-repeat: repeat;
    }
  }

  &__card {
    display: flex;
    margin-top: 4rem;

    .landing-faq__number {
      flex: 0 0 5rem;
      max-width: 5rem;
      height: 5rem;
      font-size: 3.5rem;
      line-height: 5rem;
      font-weight: 700;
      text-align: center;
      border-radius: 50%;
      background-color: #20BEC6;
    }

    .landing-faq__text {
      padding-left: 1rem;
      padding-right: 0.5rem;
      font-size: 2rem;
    }
  }

  @include until($md) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__card {
      margin-top: 2rem;

      .landing-faq__number {
        flex-basis: 2.5rem;
        max-width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .landing-faq__text {
        font-size: 1.25rem;
        padding-right: 0;
      }
    }

    .bkgr-container {
      &::before {
        transform: none;
        opacity: 0.1;
        background-position: left -142px top 6px;
        background-size: auto 96%;
      }
    }
  }
}

// images
.parallax {
  position: absolute;
  z-index: 104;
}
.parallax-1 {
  top: 0;
  left: -136px;
  width: 145px;
}

.parallax-2 {
  top: -128px;
  left: calc(50% + 100px);
  width: 92px;
  transform: rotate(-90deg);
}

.parallax-3 {
  top: 0px;
  left: -22px;
  width: 74px;
  transform: rotate(-280deg);
}

.parallax-4 {
  bottom: 62px;
  left: calc(50% - 256px);
  width: 74px;
  transform: rotate(310deg);
}

.parallax-5 {
  top: -54px;
  left: calc(50% + 100px);
  width: 104px;
  transform: rotate(-320deg);

  &.parallax-5-hero {
    top: 26px;
  }
}

.parallax-6 {
  top: 70px;
  right: 18px;
  width: 164px;
  transform: rotate(-10deg);
}

.non-parallax-1 {
  position: absolute;
  top: 0;
  right: -152px;
  width: 104px;
  transform: rotate(32deg);
  filter: blur(4px);
}

.non-parallax-2 {
  position: absolute;
  bottom: 73px;
  left: 16px;
  width: 128px;
  transform: rotate(90deg);
  filter: blur(2px);
}

.non-parallax-3 {
  position: absolute;
  top: -2px;
  right: -34px;
  width: 60px;
  transform: rotate(-140deg);
  filter: blur(2px);
}

@include until($lg) {
  .parallax, .non-parallax {
    display: none;
  }
}