// -----------------------------------------------------------------
// This file contains all styles related to the landing biber page
// -----------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.viber-wrapper {
  p, span {
    color: $heading-color;
  }
}

.viber-header {
  padding-top: 0.375rem;
  padding-bottom: 1.25rem;
  background: linear-gradient(185.55deg, #655CAC 35.75%, #322A78 95.57%);
  overflow-x: hidden;

  h1, p, a {
    color: #ffffff;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .btn-link.btn-back {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5693 6.88428L9.24958 13.204' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.24902 13.2041L15.5688 19.5238' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &__left {
    align-self: center;
  }

  &__content {
    position: relative;
    z-index: 1;

    p {
      font-size: 1.25rem;
    }

    h1 ~ p:last-of-type {
      margin-top: 2.5rem;
    }
  }

  &__img-wrapper {
    position: relative;

    &::before, &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &::before {
      width: 33.75rem;
      height: 33.75rem;
      border: 2px solid #5C51B4;
    }

    &::after {
      width: 27.25rem;
      height: 27.25rem;
      border: 6px solid #786DD1;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      max-width: 100%;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20.375rem;
      height: 20.375rem;
      border-radius: 50%;
      background-color: $btn-red;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
  }

  &__qr-wrapper {
    position: relative;
    flex: 0 0 15.125rem;
    height: 100%;
    padding: 1.8125rem;
    border: 1px solid #5C51B4;
    border-radius: 0.5rem;

    &::before {
      position: absolute;
      content: '';
      width: 13.125rem;
      height: 13.125rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #7F73DA;
      border-radius: 0.5rem;
    }
  }

  &__qr {
    padding: 0.625rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    img {
      max-width: 100%;
    }
  }

  &__logo {
    flex: 1 0 auto;
    padding-left: 1.625rem;

    p {
      margin-top: 0.75rem;
      margin-bottom: 0.125rem;
    }

    .btn-viber {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      color: $heading-color;
      background-color: #ffffff;
    }
  }

  &__logo-viber {
    width: 11.375rem;
  }

  @include until($lg) {
    padding-top: 2.5rem;
    padding-bottom: 2.375rem;

    &__qr-wrapper {
      flex-basis: 9.5rem;
      padding: 1.125rem;
      border-radius: 0.3125rem;
      
      &::before {
        width: 8.25rem;
        height: 8.25rem;
        border-width: 2px;
        border-radius: 0.3125rem;
      }
    }

    &__qr {
      padding: 0.5rem;
      border-radius: 0.3125rem;
    }

    &__img-wrapper {
      &::before {
        width: 20.625rem;
        height: 20.625rem;
        border-width: 1px;
      }

      &::after {
        width: 16.75rem;
        height: 16.75rem;
        border-width: 4px;
      }
    }

    &__img {
      padding: 0 1rem;

      img {
        max-width: 15.75rem;
      }

      &::before {
        width: 12.5rem;
        height: 12.5rem;
      }
    }
  }

  @include until($md) {
    padding-top: 1.5rem;

    &__right {
      overflow: hidden;
    }

    &__partner {
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
    }

    &__qr-wrapper {
      display: none;
    }
    
    &__logo {
      padding-left: 0;
      text-align: center;

      p {
        margin-top: 0.625rem;
        font-size: 0.8125rem;
      }
    }

    &__logo-ipay {
      width: 4.875rem;
      margin-top: 1rem;
    }

    &__logo-viber {
      width: 8.75rem;
    }
  }

  @include until($sm) {
  }
}

.viber-main {
  padding-top: 4.5rem;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.3125rem;
  }
}

.viber-bills {
  margin-bottom: 1.625rem;
}


.viber-bill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.625rem;
  margin-bottom: 1.875rem;
  box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
  border-radius: 0.4375rem;

  span {
    padding-left: 0.5rem;
    font-weight: 500;
  }
}

.viber-cards {
  padding-bottom: 3.5rem;
  border-bottom: 2px solid $middle-grey;
}

.viber-card {
  position: relative;
  padding-top: 5.5rem;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@include until($lg) {
  .viber-main {
    padding-top: 2.5rem;
  }
}

@include until($md) {
  .viber-main {
    h2 {
      text-align: left;
    }
  }

  .viber-bills {
    margin-bottom: 1.5rem;
  }

  .viber-bill {
    justify-content: flex-start;
    height: 3.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    span {
      padding-left: 1.375rem;
    }
  }

  .viber-cards {
    padding-bottom: 2.5rem;
  }

  .viber-card {
    margin-bottom: 2rem;
    padding-top: 0;
    padding-left: 3rem;
    text-align: left;

    img {
      width: 2.5rem;
      left: 0;
      transform: none;
    }
  }
}

.viber-footer {
  padding-top: 5.5rem;
  padding-bottom: 4rem;

  h2 {
    margin-bottom: 1rem;
    color: #000000;
    line-height: 1.3;
  }

  &__title, &__links {
    padding-top: 6.25rem;
  }

  &__links {
    p {
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;

      &:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  &__phone-wrapper {
    position: relative;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625rem 0.625rem 1.625rem;
    border: 3px solid #3A4245;
    border-radius: 2.6875rem;
    background-color: #121515;

    &::before, &::after {
      position: absolute;
      content: '';
      right: -5px;
      width: 2px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: #121515;
    }

    &::before {
      top: 92px;
      height: 83px;
    }

    &::after {
      top: 208px;
      height: 38px;
    }
  }

  &__phone {
    position: relative;
    padding: 5.125rem 1.125rem 4.125rem;
    border-radius: 2rem;
    background-color: #655CAC;

    &::before, &::after {
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
      width: 43px;
      height: 22px;
      background: url('../img/landing-viber/phone-camera.svg') top center no-repeat;
      background-size: 44px;
    }

    &::after {
      top: -9px;
      width: 32px;
      height: 3px;
      background: url('../img/landing-viber/phone-camera-top.svg') top center no-repeat;
      background-size: cover;
    }

    p {
      font-size: 0.875rem;
      color: #ffffff;
    }

    .btn-viber {
      display: block;
      padding: 0.75rem 0.5rem;
      margin-left: -0.4375rem;
      margin-right: -0.4375rem;
      background-color: #ffffff;
    }
  }

  &__qr {
    width: 11.25rem;
    height: 11.25rem;
    margin: 1.625rem auto 1rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    background-color: #ffffff;

    img {
      max-width: 100%;
    }
  }

  @include until($lg) {
    padding-top: 3.5rem;

    &__phone-wrapper {
      width: 12.9375rem;
      padding: 0.4375rem 0.375rem 1.125rem;
      border-width: 2px;
      border-radius: 1.9375rem;

      &::before, &::after {
        right: -4px;
      }
    }

    &__phone {
      padding: 3.75rem 0.75rem 3rem; 
      border-radius: 1.375rem;

      &::before {
        width: 31px;
        height: 14px;
        background-size: 32px;
      }
  
      &::after {
        top: -6px;
        width: 25px;
        height: 2px;
      }

      p {
        font-size: 0.625rem;
      }

      .btn-viber {
        margin-top: -0.25rem;
        padding-top: 0.5625rem;
        padding-bottom: 0.5625rem;
        font-size: 0.8125rem;
      }
    }

    &__title, &__links {
      padding-top: 3.125rem;
    }

    &__qr {
      width: 8.125rem;
      height: 8.125rem;
      margin-top: 1.125rem;
      margin-bottom: 0.75rem;
    }

    &__links {
      a {
        img {
          max-width: 10.25rem;
        }
      }

      &:first-of-type {
        margin-bottom: 0.6875rem;
      }
    }
  }

  @include until($md) {
    padding-top: 2.5rem;

    h2 {
      font-size: 1rem;
    }

    &__phone-wrapper {
      width: 18rem;
      padding: 0.625rem 0.625rem 1.625rem;
      border-width: 3px;
      border-radius: 2.6875rem;

      &::before, &::after {
        right: -5px;
      }
    }

    &__phone {
      padding: 4.625rem 1.125rem; 
      border-radius: 2rem;

      &::before {
        width: 43px;
        height: 22px;
        background-size: 44px;
      }
  
      &::after {
        top: -9px;
        width: 32px;
        height: 3px;
      }

      p {
        font-size: 0.875rem;
      }

      .btn-viber {
        margin-top: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.125rem;
      }
    }

    &__qr {
      width: 11.25rem;
      height: 11.25rem;
      margin-top: 1.625rem;
      margin-bottom: 1rem;
    }

    &__title {
      padding-top: 0;
    }

    &__links {
      padding-top: 2.5rem;
      text-align: center;

      p {
        margin-bottom: 1rem;
        text-align: left;
      }

      a {
        img {
          max-width: none;
        }
      }

      &:first-of-type {
        margin-bottom: 0.5rem;
      }
    }
  }
}
