// -----------------------------------------------------------------
// This file contains all styles related to the landing sweet tv energozbut page
// -----------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.landing-wrapper {
  position: relative;
  color: #ffffff;
  background: linear-gradient(to right, #17343A 0%, #381D3A 100%);

  p, span, a, li {
    color: #ffffff;
  }

  .footer-lang__item--current a {
    color: $btn-red;
  }

  h1 {
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    line-height: 1.219;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2;    
  }

  @include until($md) {
    h1 {
      margin-bottom: 0.9375rem;
      font-size: 1.5rem;
    }

    h2 {
      margin-bottom: 0;
      line-height: 1.21;
    }
  }
}

.landing-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.125rem;

  .main-nav {
    align-items: center;
    min-height: auto;

    &__logo {
      display: flex;
      align-items: center;

      a {
        position: relative;
        display: block;
        font-size: 1rem;

        img {
          max-width: 100%;
        }

        &:not(:last-child) {
          margin-right: 2.375rem;

          &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 2.5rem;
            top: 0;
            right: -1.1875rem;
            border-right: 1px solid #ffffff;
            pointer-events: none;
          }
        }
      }
    }

    &__lang {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95898 6.51758L8.89759 10.1636' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.89746 10.1641L12.8361 6.51806' stroke='%23FFFFFF' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
      &:hover {
        color: #ffffff;
      }
    }

    &__item--lang.show .main-nav__lang {
      background-color: transparent;
    }
  }

  @include until($lg) {
    .main-nav__nav {
      display: flex;
    }
  }

  @include until($md) {
    padding-top: 0.625rem;

    .main-nav {
      &__logo {
        a {
          &:first-child {
            order: 3;
            flex-basis: 93px;
            margin-right: 0;

            &::before {
              display: none;
            }
          }

          &:nth-child(2) {
            flex-basis: 54px;
          }

          &:last-child {
            flex-basis: 68px;

            &::before {
              position: absolute;
              content: '';
              width: 0;
              top: 0;
              border-right: 1px solid #ffffff;
              pointer-events: none;
            }
          }

          &:not(:first-child) {
            margin-right: 1.375rem;

            &::before {
              height: 1.5rem;
              right: -0.6875rem;
            }
          }
        }
      }

      &__nav {
        padding-left: 0;
      }
    }
  }
}

.landing-hero {
  padding-top: 9.5rem;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1;
  }

  .landing-hero__thanks {
    margin-bottom: 1.25rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #E84F35;
    background: url("../img/sweettv/lvivenergozbut/promo-gift.png") left top 0.25rem no-repeat;
    background-size: 24px;
  }

  .landing-hero__subtitle {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 1.3;
  }

  &__form {
    position: relative;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(#ffffff, 10%);
    z-index: 1;

    .form-group {
      margin-bottom: 0;

      &.has-success .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv),
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv) {
        background-image: none;
      }

      &.has-success .form-input,
      &.has-error .form-input,
      &.has-success .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus,
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus {
        box-shadow: none;
      }

      &.has-error .form-input,
      &.has-error .form-input:not([type='password']):not(.input-icon-right):not(.input-cvv).form-control:focus {
        border-color: $btn-red-hover;
      }

      &.has-error .help-block {
        padding-top: 3px;
      }
    }

    .form-input {
      height: 72px;
      padding: 2.026rem 2.5rem 1.1rem 1.0775rem;
      padding: 1.8125rem 2.5rem 0.5625rem 1.0775rem;
      font-size: 1.5rem;
      line-height: 1.172;

      &.form-control:focus {
        box-shadow: none;
      }

      & ~ .form-label {
        top: 1.25rem;
        font-size: 1.5rem;
      }

      &:focus ~ .form-label, &.filled ~ .form-label {
        top: 0.625rem;
        font-size: 0.875rem;
      }
    }

    .btn {
      width: 330px;
      padding: 0.8125rem 1.125rem;
      font-size: 1.5rem;

      &:not(:disabled) {
        border-color: #BF432D;
        background-color: #BF432D;
      }

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        border-color: $btn-red;
        background-color: $btn-red;
      }

      &:active:disabled {
        color: $main-blue;
        border-color: $middle-grey;
        background-color: $middle-grey;
      }
    }
  }

  &__form-sent {
    height: 72px;

    p {
      position: relative;
      padding-left: 60px;
      font-size: 1.5rem;

      &::before {
        position: absolute;
        content: '';
        top: -4px;
        left: 0;
        width: 54px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_169_19126)'%3E%3Ccircle cx='27' cy='23' r='18' fill='%2309BC8A'/%3E%3C/g%3E%3Cpath d='M21.0059 24.042L26.0415 27.7586' stroke='white' stroke-width='1.65517' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26.041 27.7588L32.9911 18.342' stroke='white' stroke-width='1.65517' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_169_19126' x='0.724137' y='0.862069' width='52.5517' height='52.5517' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4.13793'/%3E%3CfeGaussianBlur stdDeviation='4.13793'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0352941 0 0 0 0 0.737255 0 0 0 0 0.541176 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_169_19126'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_169_19126' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-position: left top -3px;
        background-repeat: no-repeat;
      }

      strong {
        white-space: nowrap;
      }
    }
  }

  &__img {
    position: absolute;
    bottom: -50px;
    left: calc(50% + 164px);
    text-align: center;

    &-main {
      position: relative;
    }
  }

  @include until($xl) {
    &__form {
      .form-input {
        height: 56px;
        font-size: 1.125rem;

        & ~ .form-label {
          top: 1rem;
          font-size: 1.125rem;
        }
  
        &:focus ~ .form-label, &.filled ~ .form-label {
          top: 0.375rem;
        }
      }

      .btn {
        width: 100%;
        height: 56px;
        margin-top: 1rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        font-size: 1.25rem;
      }
    }

    &__img {
      left: calc(50% + 72px);
      bottom: 24px;
    }
  }

  @include until($lg) {
    &__img {
      left: calc(50% + 5px);
      bottom: 150px;
    }

    &__form-sent {
      height: auto;

      p {
        padding-left: 2.5rem;
        font-size: 1.125rem;

        &::before {
          top: -2px;
          width: 36px;
          height: 32px;
          background-size: 36px;
        }
      }
    }

    .promo-card--last {
      margin-top: 1.875rem;
    }
  }

  @include until($md) {
    padding-top: 5rem;

    h1 {
      text-align: center;
    }

    .landing-hero__thanks {
      margin-bottom: 0.9375rem;
      padding-left: 0;
      padding-top: 2.125rem;
      text-align: center;
      background-position: center top;
    }

    .landing-hero__subtitle {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
      text-align: center;
    }

    &__img {
      display: none;
    }
  }
}

.landing-promo {
  padding-top: 2.6875rem;
}

.promo-card {
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  padding: calc(1rem - 1px);
  border: 1px solid #DEE7F3;
  border-radius: 0.9375rem;
}

.promo-card__amount {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.promo-card__text {
  font-size: 1.25rem;
  overflow-wrap: anywhere;
}

@include until($md) {
  .landing-promo {
    padding-top: 1.5rem;
  }

  .promo-card {
    height: 9.625rem;
  }
}

.landing-faq {
  padding-top: 2rem;
  padding-bottom: 5rem;
  

  &__card {
    display: flex;
    // margin-top: 4rem;

    .landing-faq__number {
      flex: 0 0 2.5rem;
      max-width: 2.5rem;
      height: 2.5rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 700;
      text-align: center;
      border-radius: 50%;
      background-color: #22C3B1;
    }

    .landing-faq__text {
      padding-left: 1rem;
      padding-right: 0.5rem;
      font-size: 1.125rem;
    }
  }

  @include until($md) {
    padding-top: 1.5rem;
    padding-bottom: 3.25rem;

    &__card {
      margin-top: 1.5rem;

      .landing-faq__number {
        flex-basis: 2.5rem;
        max-width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .landing-faq__text {
        padding-right: 0;
      }
    }
  }
}

// images
.parallax {
  position: absolute;
  z-index: 104;
}
.parallax-1 {
  top: -20px;
  right: -283px;
  width: 145px;
}

.parallax-2 {
  top: -74px;
  left: calc(50% + 182px);
  width: 92px;
  transform: rotate(-90deg);
}

.non-parallax-1 {
  position: absolute;
  top: 126px;
  right: -132px;
  width: 104px;
  transform: rotate(32deg);
  filter: blur(4px);
}

@include until($lg) {
  .parallax, .non-parallax {
    display: none;
  }
}

/* checkout */
.landing-checkout {
  .checkout-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    background-color: #549726;

    .checkout-footer-bkgr {
      position: absolute;
      bottom: 0;
      pointer-events: none;

      &--1 {
        left: 0;
      }

      &--2 {
        right: 0;
      }
    }

    p {
      font-size: 1.125rem;
    }

    .checkout-footer__subtitle {
      margin-bottom: 1.5rem;
      font-size: 1.375rem;
      line-height: 1.1718;
      font-weight: 700;
    }

    .checkout-footer__title {
      margin-bottom: 1.875rem;
      font-size: 2rem;
      line-height: 1.1718;
      font-weight: 700;
    }

    .list--regular li::before {
      background-color: #ffffff;
    }

    &__img {
      display: flex;
      align-items: center;
    }

    &__qr {
      margin-left: 1.625rem;
    }

    &__qr-icon {
      display: flex;
      align-items: center;
      margin-top: 0.375rem;

      span {
        padding-left: 0.75rem;
        font-size: 1.3125rem;
        font-weight: 700;
        color: #000000;
      }
    }

    &__apps {
      display: flex;
      justify-content: center;
      margin-top: 1.1875rem;

      a + a {
        margin-left: 0.5rem;
      }
    }
  }

  @include until($lg) {
    .checkout-footer {
      padding-bottom: 3.25rem;
      overflow: hidden;

      &__img {
        justify-content: center;
        margin-top: 1.875rem;
      }
    }
  }

  @include until($md) {
    .landing-header {
      .main-nav {
        &__logo {
          a {
            &:first-child {
              order: 0;
              flex-basis: 54px;
  
              &::before {
                display: block;
                position: absolute;
                content: '';
                width: 0;
                top: 0;
                border-right: 1px solid #ffffff;
                pointer-events: none;
              }
            }
  
            &:nth-child(2) {
              flex-basis: 93px;
            }
  
            &:last-child {
              flex-basis: 68px;
              margin-right: 0;
  
              &::before {
                display: none;
              }
            }
  
            &:not(:last-child) {
              margin-right: 1.375rem;
  
              &::before {
                height: 1.5rem;
                right: -0.6875rem;
              }
            }
          }
        }
      }
    }

    .landing-hero {
      .landing-hero__thanks {
        font-size: 1.125rem;
      }
    }

    .checkout-footer {
      &__qr {
        display: none;
      }
    }
  }
}
