// -----------------------------------------------------------------------------
// This file contains all styles related to the p2p constructor widget of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.p2p {
  &.p2c {
    .p2c__title {
      font-weight: bold;
    }
  }
}

.p2c {
  padding-top: 1rem;

  .p2p__card-title {
    padding-left: 15px;
  }

  &__card-wrapper {
    width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    margin-bottom: 2rem;
  }

  &__contact-info {
    padding-left: 1.875rem;
    padding-right: 1.875rem;

    .form-group {
      &.has-error {
        .p2c__contact-text {
          margin-top: 1.875rem;
        }
      }
    }
  }

  &__contact-text {
    margin-top: 0.25rem;
    padding-left: 1.25rem;
  }

  .form-input {
    &.p2c-input {
      @include placeholder {
        color: $main-blue;
        font-weight: 400;
        opacity: 0;
      }

      &:focus, &.filled {
        @include placeholder {
          opacity: 1;
        }
      }

      & ~ .form-label {
        color: $text-color;
      }
    }
  }

  &__fields {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.75rem 1.25rem;
    border-radius: $border-radius;
    background-color: $light-grey;
  }

  &__field-wrapper {
    &:first-of-type {
      .p2c__field {
        border-top: 2px dashed $middle-grey;
      }
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-bottom: 2px dashed $middle-grey;

    &-text {
      color: $heading-color;
    }

    &-btn {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      cursor: pointer;

      svg {
        stroke: $heading-color;
      }

      &:hover {
        svg {
          stroke: $text-color;
        }
      }
    }
  }

  &__field-add {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
  }

  &__field-input {
    flex-grow: 1;
    position: relative;
  }

  .p2c-field-add {
    margin-left: 0.8125rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2661 1.6521V20.5722' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.0254 11.1121H1.50684' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  @include until($xl) {
    &__card-wrapper {
      width: 23.125rem;
    }
  }

  @include until($lg) {
    .p2p__card-title {
      max-width: 26.25rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding-left: 0;
    }

    &__card-wrapper {
      width: auto;
      max-width: 26.25rem;

      &--payment {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }
    }
  }

  @include until($sm) {
    .p2p__card-title {
      max-width: 22.5rem;
    }

    &__card-wrapper {
      max-width: 20.625rem;

      &--payment {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__contact-info {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.p2c-mastercard {
  img {
    width: 10rem;
  }
}

.p2c-service {
  padding-top: 2.75rem;

  @include until($lg) {
    padding-top: 1.5rem;
  }
}

.p2c-service-cards {
  padding-top: 3.1875rem;
}

.p2c-service-card {
  text-align: center;

  &__img {
    margin-bottom: 1rem;
  }
}