// -----------------------------------------------------------------------------
// This file contains all styles related to the promocodes page of the site.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

@include until($md) {}

.promocodes {
  h1, .h1 {
    font-size: 2.875rem;
    color: #F83715;
  }
}

.promocodes-container {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

// slider
.promocodes-slider-wrapper {
  .lSSlideOuter {
    .lSPager {
      &.lSpg {
        & > li {
          padding-left: 4px;
          padding-right: 4px;

          a {
            width: 16px;
            height: 16px;
            border: 2px solid $middle-grey;
            background-color: #fff;
          }

          &.active, &:hover {
            a {
              border-color: $btn-red;
              background-color: $btn-red;
            }
          }
        }
      }
    }
  }
}

.promocodes-hot {
  &__title {
    padding-left: 2.3125rem;
    background: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.05645 9.22788C7.92731 10.6054 7.83668 13.0432 8.65004 14.0809C8.65004 14.0809 8.26715 11.4029 11.6996 8.04296C13.0816 6.69038 13.4011 4.8507 12.9185 3.47093C12.6443 2.68929 12.1436 2.04359 11.7086 1.59273C11.4549 1.32765 11.6497 0.890383 12.019 0.906242C14.2529 1.00593 17.8734 1.62671 19.4118 5.48734C20.0869 7.18202 20.1368 8.93335 19.815 10.7141C19.6111 11.8515 18.8861 14.3799 20.54 14.6903C21.7204 14.9123 22.2914 13.9744 22.5474 13.2992C22.6539 13.0183 23.0232 12.948 23.2225 13.1723C25.2163 15.4402 25.3862 18.1114 24.9739 20.411C24.1764 24.8562 19.6746 28.0915 15.2022 28.0915C9.6152 28.0915 5.16778 24.8947 4.01457 19.1083C3.55012 16.7724 3.78575 12.1505 7.38809 8.88804C7.65543 8.64335 8.0927 8.86085 8.05645 9.22788Z' fill='url(%23paint0_radial_6_7748)'/%3E%3Cpath d='M17.2436 17.5405C15.1841 14.8897 16.1062 11.8651 16.6115 10.6598C16.6794 10.5012 16.4982 10.3516 16.3555 10.4491C15.4696 11.0517 13.6548 12.47 12.8098 14.466C11.6656 17.1644 11.7472 18.4852 12.4246 20.0984C12.8324 21.0703 12.3589 21.2765 12.121 21.3127C11.8899 21.349 11.6769 21.1949 11.507 21.0341C11.0183 20.5647 10.6699 19.9684 10.5011 19.3122C10.4648 19.1717 10.2813 19.1332 10.1975 19.2488C9.56311 20.1256 9.2346 21.5325 9.21874 22.5271C9.1689 25.6016 11.7087 28.0938 14.7808 28.0938C18.6528 28.0938 21.4735 23.8117 19.2487 20.232C18.603 19.1898 17.9958 18.5079 17.2436 17.5405Z' fill='url(%23paint1_radial_6_7748)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-15.9924 -0.0694069 -0.114026 26.2403 14.0956 28.1619)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.314' stop-color='%23FF9800'/%3E%3Cstop offset='0.662' stop-color='%23FF6D00'/%3E%3Cstop offset='0.972' stop-color='%23F44336'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-0.169012 16.7322 12.5923 0.127178 14.9938 12.2476)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.214' stop-color='%23FFF176'/%3E%3Cstop offset='0.328' stop-color='%23FFF27D'/%3E%3Cstop offset='0.487' stop-color='%23FFF48F'/%3E%3Cstop offset='0.672' stop-color='%23FFF7AD'/%3E%3Cstop offset='0.793' stop-color='%23FFF9C4'/%3E%3Cstop offset='0.822' stop-color='%23FFF8BD' stop-opacity='0.804'/%3E%3Cstop offset='0.863' stop-color='%23FFF6AB' stop-opacity='0.529'/%3E%3Cstop offset='0.91' stop-color='%23FFF38D' stop-opacity='0.209'/%3E%3Cstop offset='0.941' stop-color='%23FFF176' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A") left center no-repeat;
  }

  &__all {
    display: inline-block;
    padding-right: 2rem;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1663 6.1665L15.9999 12.0001' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.9998 12L10.1661 17.8336' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right center no-repeat;

    &:hover {
      text-decoration: none;
    }
  }
}

.promocodes-card {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
