// -------------------------------------------------------------------
// This file contains all styles related to the promo mastercard 2023
// -------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.alert-promo-mastercard2023 {
  display: flex;
  margin-top: 1rem;
  padding: 0.9375rem;
  border: 1px solid transparent;
  text-align: left;

  &__icon {
    flex: 0 0 3.5rem;
    max-width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%;

    img {
      margin-top: -2px;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &--registered {
    .alert-promo-mastercard2023__icon {
      img {
        margin-left: -2px;
        margin-top: -1px;
      }
    }
  }

  &--step1 {
    line-height: 1.125;
    border-color: #DEF0FF;
    background-color: #F0F8FF;

    .alert-promo-mastercard2023__icon {
      background-color: #DFF0FF;
    }
  }

  &--secure {
    line-height: 1.125;
    border-color: #FFF1C3;
    background-color: #FEF7E0;

    .alert-promo-mastercard2023__icon {
      background-color: #FFECAC;
    }
  }

  &--success {
    align-items: center;
    border-color: #D4EDFF;
    background-color: #D4EDFF;

    p {
      font-size: 1rem;
    }

    .alert-promo-mastercard2023__img {
      margin-left: 0.5rem;
    }
  }

  &--account {
    align-items: center;
    border-color: #F0F8FF;
    background-color: #F0F8FF;

    .alert-promo-mastercard2023__counter {
      display: flex;
      // align-items: center;
      margin-bottom: 0.625rem;
    }

    .alert-promo-mastercard2023__counter-amount {
      padding: 0.6875rem 0.625rem 0.5625rem;
      line-height: 1;
      border-radius: 0.5rem;
      background-color: #D1EAFF;

      & > span {
        font-size: 1.125rem;
        line-height: 1.16667;
        color: $heading-color;

        &:last-child {
          font-weight: 700;
          margin-left: 0.625rem;
        }
      }
    }

    .alert-promo-mastercard2023__links {
      display: flex;

      & > a {
        & ~ a {
          margin-left: 1.25rem;
        }
      }
    }

    .alert-promo-mastercard2023__logo {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      & > span {
        &:last-child {
          position: relative;
          margin-left: 1.25rem;
          margin-right: 0.5rem;

          &::before, &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 0;
            top: 0;
            border-left: 1px solid $middle-grey;
          }

          &::before {
            left: -0.5rem;
          }

          &::after {
            right: -0.5rem;
          }
        }
      }
    }

    // .alert-promo-mastercard2023__img {
    //   display: flex;
    //   flex-direction: column;

    //   & > span {
    //     &:last-child {
    //       display: flex;
    //       justify-content: space-between;
    //       align-items: center;
    //       margin-top: 0.5rem;
    //     }
    //   }
    // }
  }

  @include until($md) {
    &--registered {
      .alert-promo-mastercard2023__icon {
        order: 1;
        margin-right: 0;
        margin-left: 1rem;
      }
    }

    &--success {
      align-items: flex-start;
    }

    &--account {
      flex-direction: column;
      // align-items: center;

      .alert-promo-mastercard2023__content {
        width: 100%;
        margin-top: 1rem;
      }

      .alert-promo-mastercard2023__counter {
        justify-content: center;
        margin-bottom: 1rem;
      }

      .alert-promo-mastercard2023__links {
        justify-content: center;
        margin-bottom: 1rem;
      }

      .alert-promo-mastercard2023__ldp {
        order: -1;
      }

      .alert-promo-mastercard2023__logo {
        margin-right: 0;
      }
    }
  }

  @include until($sm) {
    &--account {
      .alert-promo-mastercard2023__counter-amount {
        flex-grow: 1;
        text-align: center;
      }
    }
  }
}

.modal-promo-mastercard2023 {
  .modal-content {
    border: 0;
    border-radius: 0.5rem;
    text-align: left;
  }

  .modal-header {
    padding: 0;
    border-bottom: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0.625rem 0.8125rem;
    border-top-right-radius: 0.5rem;
    opacity: 1;

    &:focus {
      outline: none;
    }
  }

  .modal-body {
    padding: 1rem 1.5rem;

    p, li {
      color: $heading-color;
    }

    .modal-promo-mastercard2023__title {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  &__list {
    counter-reset: counterlist;

    ol {
      li {
        position: relative;
        padding-left: 2rem;
        line-height: 1.5;

        & + li {
          margin-top: 1rem;
        }

        &::before {
          position: absolute;
          content: counter(counterlist);
          counter-increment: counterlist;
          left: 0;
          top: 0;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          line-height: 1.625rem;
          font-weight: 700;
          color: #fff;
          text-align: center;
          background-color: $btn-red;
        }
      }
    }
  }

  .modal-footer {
    margin: 0 1.5rem 1.5rem;
    padding: 1.5rem;
    border-top: 0;
    border-radius: 0.5rem;
    background-color: $light-grey;

    & > * {
      margin: 0;
    }

    p {
      color: $heading-color;
    }
  }

  @include at-least($sm) {
    .modal-dialog {
      max-width: 560px;
    }
  }

  @include at-least($md) {
    .modal-dialog {
      max-width: 630px;
    }
  }

  @include until($sm) {
    .modal-dialog {
      margin: 0;
    }

    .modal-content, .modal-header {
      border-radius: 0;
    }

    .modal-body {
      .modal-promo-mastercard2023__title {
        font-size: 1rem;
      }
    }

    .modal-footer {
      margin: 0;
      border-radius: 0;
    }
  }
}

.tabletochki-form {
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #64B3F7;

  .tabletochki-form__form {
    & > p {
      margin-bottom: 0.625rem;
      color: #fff;
    }

    .tabletochki-input {
      height: 3.5rem;
      max-width: 200px;
      padding: 1.4375rem 0.75rem 0.5rem 3.3125rem;
      line-height: 1.25;
      border: 3px solid $middle-grey;
      border-radius: 0.5rem;
      background: #ffffff url("../img/promo-mastercard/tabletochki-heart.png") left 0.75rem center no-repeat;

      &:focus {
        box-shadow: none;
      }
    }

    .tabletochki-label {
      position: absolute;
      top: 0.625rem;
      left: 3.5rem;
      margin-bottom: 0;
      font-size: 0.875rem;
      line-height: 1.1429;
      font-weight: 400;
    }

    .btn-tabletochki-submit {
      padding: 1.125rem 1rem;
      line-height: 1.11111111;
      border: 0;
      background-color: #fff;

      &:hover {
        background-color: darken(#ffffff, 3%);
      }
    }
  }

  @include until($sm) {
    .tabletochki-form__form {
      .tabletochki-input {
        max-width: none;
      }

      .btn-tabletochki-submit {
        width: 100%;
      }
    }
  }
}

.btn {
  &.btn-promo-mastercard2023 {
    position: relative;
    width: 309px;
    padding: 13px 69px 13px 16px;
    border: 0;
    background-color:#FFD578;

    .promo-popover {
      display: block;
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      right: 5px;
      top: 8px;
      background: url("../img/promo-mastercard/icon-hand-popover.svg") center no-repeat;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 2.5rem;
        top: 0;
        left: -12px;
        border-left: 1px solid #FEBD2D;
      }
    }

    &:hover {
      box-shadow: 0 2px 6px rgba(#DB8F1F, 37%);
    }
  }

  @include until($md) {
    &.btn-promo-mastercard2023 {
      width: 100%;
    }
  }
}

.btn-promo-mastercard2023 {
  .popover {
    &.popover-main {
      max-width: 309px;
      left: auto !important;
      right: 0;
      top: 0;
      transform: none !important;
      background: $text-color url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5L18.5 18.5' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.5 5.5L5.5 18.5' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right 1rem top 1rem no-repeat;
  
      &.bs-popover-bottom {
        margin-top: 66px;
      }
  
      &.bs-popover-top {
        top: auto !important;
        bottom: 0 !important;
        margin-bottom: 66px;
      }
  
      &.bs-popover-bottom, &.bs-popover-top {
        & > .arrow {
          left: auto !important;
          right: 1rem;
        }
      }
  
      .popover-body {
        padding: 1rem 3.125rem 1rem 1rem;
  
        .btn-promo-mastercard2023__modal {
          color: #ffffff;
          font-size: 0.875rem;
          font-weight: 400;
          text-decoration: underline;
        }
      }
    }
  }
}
