// -----------------------------------------------------------------------------
// This file contains all styles related to the QR iPay payment widget.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

// font-family: 'Unbounded', sans-serif;

.qr-payment {
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;

    & > span {
      &:first-child {
        font-size: 1rem;
        line-height: 1.21875;
        font-weight: 700;
        color: #172A3A;
      }

      &:nth-child(2) {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.1428571;
        color: #ffffff;
        border-radius: 0.25rem;
        background-color: #0D9C46;
      }

      &:nth-child(3) {
        flex: 1 1 100%;
        margin-top: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.3;
        color: #3B566E;
      }
    }
  }

  .qr-payment__button {
    display: inline-block;
    position: relative;
    width: 100%;
    // margin-bottom: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 0;
    line-height: 0;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(#000000, 25%);
    background-color: #000;

    &:hover {
      text-decoration: none;
      background-color: #3c4043;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1.5rem;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #E2EAF5;;
    }

    & > span {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Unbounded', sans-serif;;
      font-size: 1rem;
      color: #fff;
    }

    &-icon {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      border-radius: 3px;
      background-color: #fff;
      // background-image: url("../img/qr-payment/icons/qr-payment-icon.svg");
      // background-position: center;
      // background-repeat: no-repeat;

      & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: imagechange-1 8s linear alternate infinite;

        &:not(:first-child) {
          opacity: 0;
        }

        &:nth-child(1) {
          // animation: imagechange-1 8s linear infinite;
        }

        &:nth-child(2) {
          
          animation: imagechange-2 8s linear infinite;
          // animation-delay: 2s;
        }

        &:nth-child(3) {
          
          animation: imagechange-2 8s linear infinite;
          animation-delay: 2s;
        }

        &:nth-child(4) {
          
          animation: imagechange-2 8s linear infinite;
          animation-delay: 4s;
        }
      }
    }
  }

  &__secured {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      font-size: 0.875rem;
      line-height: 1.3;
      color: #3B566E;
    }
  
    & > img {
      margin-left: 0.625rem;
  
      &:first-of-type {
        width: 62px;
      }
    }
  }
}

@keyframes imagechange-1 {
  // 0% {
  //   opacity: 1;
  // }
  // 25% {
  //   opacity: 0;
  // }
  // 50% {
  //   opacity: 0;
  // }
  // 75% {
  //   opacity: 0;
  // }
  // 100% {
  //   opacity: 1;
  // }

  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imagechange-2 {
  // 0% {
  //   opacity: 0;
  // }
  // 25% {
  //   opacity: 1;
  // }
  // 75% {
  //   opacity: 0;
  // }
  // 100% {
  //   opacity: 0;
  // }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imagechange-3 {
  // 0% {
  //   opacity: 0;
  // }
  // 25% {
  //   opacity: 0;
  // }
  // 75% {
  //   opacity: 1;
  // }
  // 100% {
  //   opacity: 0;
  // }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imagechange-4 {
  // 0% {
  //   opacity: 0;
  // }
  // 25% {
  //   opacity: 0;
  // }
  // 75% {
  //   opacity: 0;
  // }
  // 100% {
  //   opacity: 1;
  // }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-qr-payment {
  .modal-content {
    border-width: 0;
    border-radius: 1rem;
  }

  .modal-header {
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    border-bottom-width: 0;

    .close {
      align-self: flex-end;
      margin: 0;
      padding: 0.25rem 0.4375rem;
      opacity: 0.8;
    }
  }

  .modal-title {
    font-size: 1.375rem;
    line-height: 1.22;
    color: #172A3A;
    text-align: center;
  }

  .modal-body {
    padding: 0 2.5rem 1.5rem;

    ol, li {
      list-style: auto;
    }

    ol {
      padding-left: 1rem;
    }

    p, li {
      color: #172A3A;
      font-size: 1rem;
      line-height: 1.171875;
    }
  }

  &__code {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .modal-footer {
    justify-content: center;
    border-top-color: #F4F8FD;
  }
}

@include until($sm) {
  .modal-qr-payment {
    .modal-body {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}