// -----------------------------------------------------------------------------
// This file contains all styles related to the yapomoga payment page.
// -----------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configuration and helpers
@import '../abstracts/variables';
@import '../abstracts/mixins';

.yapomoga-payment {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #F0F8FF;

  .checkbox-switch {
    margin-bottom: 0.625rem;
    padding-left: 0;

    .checkbox-label {
      padding-right: 3.125rem;
      font-size: 0.875rem;
      line-height: 1.4285714;
      color: $heading-color;

      &::before {
        top: 0;
        left: auto;
        right: 0;
        width: 2.4375rem;
        height: 1.25rem;
        border-radius: 0.9375rem;
      }

      &::after {
        top: 3px;
        left: auto;
        right: calc(1.5625rem - 3px);
        width: calc(1.25rem - 6px);
        height: calc(1.25rem - 6px);
      }
    }

    .checkbox-input {
      width: 0;
      height: 0;

      &:checked {
        & ~ .checkbox-label {
          &::after {
            transform: translateX(1.1875rem);
          }
        }
      }
    }
  }

  &__form {
    .form-group {
      margin-bottom: 0;
    }

    .form-input {
      padding-right: 1.5rem;

      &:disabled {
        color: #DEE7F3;
        border-color: #DEE7F3;

        & ~ .form-label {
          color: #DEE7F3;
        }
      }
    }
  }

  .yapomoga-payment__btn {
    display: block;
    width: 5.5625rem;
    height: 3.5rem;
    padding: 0.875rem 0.25rem;
    color: #ffffff;
    background-color: #64B3F7;

    &:disabled {
      pointer-events: none;
      background-color: #DEE7F3;
    }
  }

  .row.col-pad6 {
    margin-left: -6px;
    margin-right: -6px;

    & > [class^=col] {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .row.col-pad4 {
    margin-left: -4px;
    margin-right: -4px;

    & > [class^=col] {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .modal-yapomoga-payment {
    .modal-content {
      border: 0;
      border-radius: 0.5rem;
    }

    .close {
      position: absolute;
      right: 0.4375rem;
      top: 0.4375rem;
      opacity: 0.9;
    }

    &__content {
      padding: 0;
      border-radius: 0.5rem;
      box-shadow: 0 4px 20px rgba(39, 97, 146, 0.15);
      background-color: #ffffff;
      overflow: hidden;
    }

    &__text {
      padding: 1rem 1.5rem 1.5rem;
    }

    &__text-title {
      font-size: 1rem;
    }

    &__img {
      position: relative;

      &-pet {
        min-width: 450px;
      }

      &-logo {
        position: absolute;
        bottom: 1.25rem;
        right: 1.25rem;
      }
    }
  }

  @include at-least($sm) {
    .modal-yapomoga-payment {
      .modal-dialog {
        max-width: 630px;
        margin-top: 5rem;
      }
    }
  }

  @include until($sm) {
    .yapomoga-payment__btn {
      width: 4.9375rem;
    }

    .modal-yapomoga-payment {
      &__img {
        &-logo {
          right: auto;
          left: 1.25rem;
          bottom: 0.75rem;
        }
      }
    }
  }
}