// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.card-pay-help {
  font-size: 0.75rem;
  color: $main-blue;
}

/* $text-color */
.text-color {
  color: $text-color;
}