// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.overflow-hidden {
  overflow: hidden;
}

.card-pay-help {
  font-size: 0.75rem;
  color: $main-blue;
}
