.account-settings h3 {
  color: #3B566E;
}

.account-settings .btn-label {
  padding: 0;
  border: 3px solid #DEE7F3;
  border-radius: 0.5rem;
}

.account-settings .btn-label span {
  display: inline-block;
  padding: 0.9695rem 0.375rem 0.9695rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
  color: #3B566E;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px;
}

.account-settings .btn-label.btn-male span {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33203 28.6666V28.1733C3.33203 26.04 4.5987 24.12 6.5587 23.28L12.6654 20.6666V19.3333L11.8387 18.5066C10.6654 17.3333 9.9987 15.7333 9.9987 14.0533V7.97329C9.9987 6.55996 10.7454 5.23996 11.972 4.53329C13.0387 3.90663 14.6654 4.66663 13.9987 3.33329C13.3054 1.94663 18.9587 3.90663 20.0254 4.53329C21.252 5.25329 21.9987 6.55996 21.9987 7.97329V14.0666C21.9987 15.7333 21.332 17.3333 20.1587 18.52L19.332 19.3333V20.6666L25.4387 23.28C27.3987 24.12 28.6654 26.04 28.6654 28.1733V28.6666' stroke='%237C9CAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.account-settings .btn-label.btn-male:hover {
  border-color: #3B566E;
}

.account-settings .btn-label.btn-female span {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33203 28.6666L3.97203 26.7599C4.42536 25.4132 5.38536 24.3066 6.6387 23.6799L12.6654 20.6666V19.3332L9.1587 18.4532C8.34536 18.2532 7.90536 17.3599 8.26536 16.6133C9.22536 14.6266 9.65203 11.5866 9.8387 9.27992C10.092 6.29325 12.3054 3.70659 15.292 3.37325C15.532 3.34659 15.7587 3.33325 15.9987 3.33325C16.2387 3.33325 16.4654 3.34659 16.7054 3.37325C19.692 3.70659 21.9054 6.27992 22.1587 9.27992C22.3454 11.5866 22.7854 14.6266 23.732 16.6133C24.092 17.3599 23.652 18.2532 22.8387 18.4532L19.332 19.3332V20.6666L25.3587 23.6799C26.6254 24.3066 27.5854 25.4132 28.0254 26.7599L28.6654 28.6666' stroke='%237C9CAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.account-settings .btn-label.btn-female:hover {
  border-color: #3B566E;
}

.account-settings .radio-control .checkbox-input:checked ~ .btn-label {
  border-color: #3B566E;
  background-color: #3B566E;
}

.account-settings .radio-control .checkbox-input:checked ~ .btn-label span {
  color: #fff;
}

.account-settings .radio-control .checkbox-input:checked ~ .btn-label.btn-male span {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33203 28.6666V28.1733C3.33203 26.04 4.5987 24.12 6.5587 23.28L12.6654 20.6666V19.3333L11.8387 18.5066C10.6654 17.3333 9.9987 15.7333 9.9987 14.0533V7.97329C9.9987 6.55996 10.7454 5.23996 11.972 4.53329C13.0387 3.90663 14.6654 4.66663 13.9987 3.33329C13.3054 1.94663 18.9587 3.90663 20.0254 4.53329C21.252 5.25329 21.9987 6.55996 21.9987 7.97329V14.0666C21.9987 15.7333 21.332 17.3333 20.1587 18.52L19.332 19.3333V20.6666L25.4387 23.28C27.3987 24.12 28.6654 26.04 28.6654 28.1733V28.6666' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.account-settings .radio-control .checkbox-input:checked ~ .btn-label.btn-female span {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33203 28.6666L3.97203 26.7599C4.42536 25.4132 5.38536 24.3066 6.6387 23.6799L12.6654 20.6666V19.3332L9.1587 18.4532C8.34536 18.2532 7.90536 17.3599 8.26536 16.6133C9.22536 14.6266 9.65203 11.5866 9.8387 9.27992C10.092 6.29325 12.3054 3.70659 15.292 3.37325C15.532 3.34659 15.7587 3.33325 15.9987 3.33325C16.2387 3.33325 16.4654 3.34659 16.7054 3.37325C19.692 3.70659 21.9054 6.27992 22.1587 9.27992C22.3454 11.5866 22.7854 14.6266 23.732 16.6133C24.092 17.3599 23.652 18.2532 22.8387 18.4532L19.332 19.3332V20.6666L25.3587 23.6799C26.6254 24.3066 27.5854 25.4132 28.0254 26.7599L28.6654 28.6666' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.account-settings__edit-buttons {
  padding-top: 1.125rem;
  border-top: 2px solid #DEE7F3;
}

.account-settings__edit-pass {
  padding-left: 1.85rem;
  color: #172A3A;
  background: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.8737 12.6627C20.8652 12.6627 23.2904 10.2376 23.2904 7.24601C23.2904 4.25447 20.8652 1.82935 17.8737 1.82935C14.8822 1.82935 12.457 4.25447 12.457 7.24601C12.457 10.2376 14.8822 12.6627 17.8737 12.6627Z' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.91385 23.6693L3.61719 21.3727L13.5839 11.406' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.22156 21.3727L5.91406 19.0652' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='26' height='26' fill='white' transform='translate(0 0.204346)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") left center no-repeat;
  background-size: 26px;
}

.account-settings__edit-pass:hover {
  color: #172A3A;
}
/*# sourceMappingURL=account-settings.css.map */