.archive-bill {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.archive-bill__row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 1.657rem 0.9193rem;
  line-height: 1.1875rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .archive-bill__row {
    padding-top: 2rem;
  }
}
.archive-bill__title, .archive-bill__details {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 0 4rem 0 1rem;
}
.archive-bill__amount {
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .archive-bill__amount {
    text-align: right;
  }
}
.archive-bill__details {
  position: relative;
  font-weight: normal;
  padding-right: 4rem;
  cursor: pointer;
}
.archive-bill__details::after {
  display: block;
  position: absolute;
  content: "";
  width: 3.5rem;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.27881 8.44434L10.1402 13.3057' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.1401 13.3057L15.0015 8.44432' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: all 0.3s ease;
}
.archive-bill__details[aria-expanded=true]::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 767px) {
  .archive-bill__details {
    display: none;
  }
}
.archive-bill__collapse {
  margin-top: -4px;
  padding: 0.85rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #F0F5FA;
}
.archive-bill__collapse .table {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .archive-bill__collapse {
    padding-bottom: 0;
  }
}
.archive-bill__mobile {
  display: none;
  margin-top: -4px;
  padding: 0.85rem 1rem;
  font-weight: normal;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #F0F5FA;
}
.archive-bill__mobile .archive-bill__details {
  display: block;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .archive-bill__mobile {
    display: block;
  }
}

.secure-table {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #172A3A;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.25);
  background-color: #ffffff;
}
.secure-table__row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  min-height: 3.875rem;
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.secure-table__row-title, .secure-table__row-details {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 1rem;
  font-weight: 700;
}
.secure-table__row-amount {
  -ms-flex-positive: 1;
      flex-grow: 1;
  line-height: 1.875rem;
  font-weight: 700;
}
.secure-table__row-details {
  -ms-flex-order: 1;
      order: 1;
  position: relative;
  font-weight: normal;
  padding-right: 2rem;
  font-size: 1rem;
  line-height: 1.875rem;
  cursor: pointer;
}
.secure-table__row-details::after {
  display: block;
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.27881 8.44434L10.1402 13.3057' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.1401 13.3057L15.0015 8.44432' stroke='%233B566E' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: all 0.3s ease;
}
.secure-table__row-details[aria-expanded=true] {
  display: none;
}
.secure-table__row-details[aria-expanded=true] ~ .secure-table__row-amount {
  text-align: right;
}
.secure-table__row-opened {
  padding-top: 0;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}
.secure-table__row-opened::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -12px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='730' height='18' viewBox='0 0 730 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.2372 14.4581C31.7933 16.5173 34.2625 17.8481 37.0424 17.8481C39.8213 17.8481 42.2896 16.5184 43.8458 14.4606C44.04 14.1112 44.2581 13.777 44.4978 13.46C44.5816 13.3093 44.661 13.1558 44.7357 12.9997L44.8716 12.9997C46.4343 11.2061 48.7354 10.0725 51.3012 10.0725C53.867 10.0725 56.1681 11.2061 57.7308 12.9997L57.8672 12.9997C57.9424 13.1567 58.0222 13.311 58.1064 13.4624C58.3448 13.7779 58.5618 14.1106 58.7552 14.4581C60.3113 16.5173 62.7805 17.8481 65.5605 17.8481C68.3392 17.8481 70.8074 16.5185 72.3636 14.4609C72.558 14.1113 72.7762 13.7768 73.0161 13.4597C73.0997 13.3091 73.1791 13.1557 73.2537 12.9997L73.3896 12.9997C74.9523 11.2061 77.2534 10.0725 79.8192 10.0725C82.385 10.0725 84.6861 11.2061 86.2488 12.9997L86.3853 12.9997C86.4604 13.1567 86.5402 13.311 86.6245 13.4624C86.8629 13.7779 87.0798 14.1106 87.2733 14.4581C88.8293 16.5173 91.2985 17.8481 94.0785 17.8481C96.8574 17.8481 99.3256 16.5184 100.882 14.4606C101.076 14.1112 101.294 13.777 101.534 13.46C101.618 13.3093 101.697 13.1558 101.772 12.9997L101.908 12.9997C103.47 11.2061 105.771 10.0725 108.337 10.0725C110.903 10.0725 113.204 11.2061 114.767 12.9997L114.903 12.9997C114.978 13.1567 115.058 13.311 115.143 13.4624C115.381 13.7779 115.598 14.1106 115.791 14.4581C117.347 16.5174 119.817 17.8481 122.597 17.8481C125.375 17.8481 127.844 16.5184 129.4 14.4606C129.594 14.1112 129.812 13.777 130.052 13.46C130.136 13.3093 130.215 13.1558 130.29 12.9997L130.426 12.9997C131.988 11.2061 134.29 10.0725 136.855 10.0725C139.421 10.0725 141.722 11.2061 143.285 12.9997L143.421 12.9997C143.497 13.1567 143.576 13.311 143.661 13.4624C143.899 13.7779 144.116 14.1106 144.309 14.4581C145.865 16.5174 148.335 17.8481 151.115 17.8481C153.893 17.8481 156.362 16.5184 157.918 14.4606C158.112 14.1112 158.33 13.777 158.57 13.46C158.654 13.3093 158.733 13.1558 158.808 12.9997L158.944 12.9997C160.507 11.2061 162.808 10.0725 165.373 10.0725C167.939 10.0725 170.24 11.2061 171.803 12.9997L171.939 12.9997C172.014 13.1566 172.094 13.3107 172.178 13.4621C172.417 13.7778 172.634 14.1107 172.828 14.4585C174.384 16.5175 176.853 17.8481 179.633 17.8481C182.411 17.8481 184.88 16.5184 186.436 14.4606C186.63 14.1112 186.848 13.777 187.088 13.4599C187.172 13.3093 187.251 13.1558 187.326 12.9997L187.462 12.9997C189.025 11.2061 191.326 10.0725 193.891 10.0725C196.457 10.0725 198.758 11.2061 200.321 12.9997L200.457 12.9997C200.533 13.1567 200.612 13.3109 200.697 13.4624C200.935 13.7779 201.152 14.1106 201.345 14.4582C202.902 16.5174 205.371 17.8481 208.151 17.8481C210.93 17.8481 213.398 16.5184 214.954 14.4606C215.148 14.1112 215.366 13.777 215.606 13.4599C215.69 13.3093 215.769 13.1558 215.844 12.9997L215.98 12.9997C217.543 11.2061 219.844 10.0725 222.409 10.0725C224.975 10.0725 227.276 11.2061 228.839 12.9997L228.976 12.9997C229.051 13.1567 229.13 13.3109 229.215 13.4623C229.453 13.7779 229.67 14.1106 229.864 14.4582C231.42 16.5174 233.889 17.8481 236.669 17.8481C239.448 17.8481 241.916 16.5185 243.472 14.4608C243.666 14.1113 243.884 13.7769 244.124 13.4598C244.208 13.3092 244.287 13.1558 244.362 12.9998L244.498 12.9998C246.061 11.2061 248.362 10.0725 250.928 10.0725C253.493 10.0725 255.794 11.2061 257.357 12.9998L257.494 12.9998C257.569 13.1567 257.648 13.3109 257.733 13.4623C257.971 13.7779 258.188 14.1106 258.382 14.4582C259.938 16.5174 262.407 17.8481 265.187 17.8481C267.966 17.8481 270.434 16.5184 271.99 14.4606C272.184 14.1113 272.402 13.777 272.642 13.4599C272.726 13.3093 272.805 13.1558 272.88 12.9998L273.016 12.9998C274.579 11.2061 276.88 10.0725 279.446 10.0725C282.011 10.0725 284.312 11.2061 285.875 12.9998L286.012 12.9998C286.087 13.1567 286.167 13.3109 286.251 13.4623C286.489 13.7779 286.706 14.1106 286.9 14.4582C288.456 16.5174 290.925 17.8481 293.705 17.8481C296.484 17.8481 298.952 16.5185 300.508 14.4608C300.702 14.1113 300.921 13.7769 301.16 13.4598C301.244 13.3092 301.323 13.1558 301.398 12.9998L301.534 12.9998C303.097 11.2061 305.398 10.0725 307.964 10.0725C310.529 10.0725 312.83 11.2061 314.393 12.9998L314.53 12.9998C314.605 13.1567 314.685 13.3109 314.769 13.4623C315.007 13.7779 315.224 14.1106 315.418 14.4582C316.974 16.5174 319.443 17.8481 322.223 17.8481C325.002 17.8481 327.47 16.5184 329.026 14.4606C329.22 14.1113 329.439 13.7769 329.678 13.4599C329.762 13.3093 329.841 13.1558 329.916 12.9998L330.052 12.9998C331.615 11.2061 333.916 10.0725 336.482 10.0725C339.048 10.0725 341.349 11.2061 342.911 12.9998L343.048 12.9998C343.123 13.1566 343.203 13.3108 343.287 13.4622C343.525 13.7778 343.742 14.1106 343.936 14.4584C345.492 16.5175 347.961 17.8481 350.741 17.8481C353.52 17.8481 355.988 16.5184 357.544 14.4607C357.739 14.1113 357.957 13.7769 358.196 13.4599C358.28 13.3093 358.359 13.1558 358.434 12.9998L358.57 12.9998C360.133 11.2061 362.434 10.0725 365 10.0725C367.566 10.0725 369.867 11.2061 371.429 12.9998L371.566 12.9998C371.641 13.1567 371.721 13.3109 371.805 13.4623C372.043 13.7779 372.26 14.1106 372.454 14.4582C374.01 16.5174 376.479 17.8481 379.259 17.8481C382.038 17.8481 384.506 16.5184 386.062 14.4607C386.257 14.1113 386.475 13.7769 386.714 13.4599C386.798 13.3093 386.878 13.1558 386.952 12.9998L387.088 12.9998C388.651 11.2061 390.952 10.0725 393.518 10.0725C396.084 10.0725 398.385 11.2061 399.947 12.9998L400.084 12.9998C400.159 13.1566 400.239 13.3108 400.323 13.4621C400.561 13.7778 400.779 14.1106 400.972 14.4584C402.528 16.5175 404.997 17.8481 407.777 17.8481C410.556 17.8481 413.024 16.5184 414.58 14.4607C414.775 14.1113 414.993 13.7769 415.233 13.4599C415.316 13.3093 415.396 13.1558 415.47 12.9998L415.606 12.9998C417.169 11.2061 419.47 10.0725 422.036 10.0725C424.602 10.0725 426.903 11.2061 428.465 12.9998L428.602 12.9998C428.677 13.1567 428.757 13.311 428.841 13.4624C429.079 13.778 429.296 14.1106 429.49 14.4581C431.046 16.5173 433.515 17.8481 436.295 17.8481C439.074 17.8481 441.542 16.5185 443.098 14.4607C443.293 14.1113 443.511 13.7769 443.751 13.4599C443.834 13.3093 443.914 13.1558 443.988 12.9998L444.124 12.9998C445.687 11.2061 447.988 10.0725 450.554 10.0725C453.12 10.0725 455.421 11.2061 456.983 12.9998L457.12 12.9998C457.195 13.1567 457.275 13.311 457.359 13.4624C457.598 13.778 457.815 14.1106 458.008 14.4581C459.564 16.5173 462.033 17.8481 464.813 17.8481C467.592 17.8481 470.06 16.5184 471.617 14.4606C471.811 14.1112 472.029 13.777 472.269 13.46C472.352 13.3093 472.432 13.1559 472.506 12.9998L472.642 12.9998C474.205 11.2061 476.506 10.0725 479.072 10.0725C481.638 10.0725 483.939 11.2061 485.502 12.9998L485.638 12.9998C485.713 13.1566 485.793 13.3109 485.877 13.4622C486.116 13.7779 486.333 14.1106 486.526 14.4583C488.082 16.5174 490.551 17.8481 493.331 17.8481C496.11 17.8481 498.578 16.5185 500.135 14.4607C500.329 14.1113 500.547 13.7769 500.787 13.4599C500.87 13.3092 500.95 13.1558 501.024 12.9998L501.16 12.9998C502.723 11.2061 505.024 10.0725 507.59 10.0725C510.156 10.0725 512.457 11.2061 514.02 12.9998L514.156 12.9998C514.231 13.1567 514.311 13.3109 514.395 13.4623C514.634 13.7779 514.851 14.1106 515.044 14.4582C516.6 16.5174 519.069 17.8481 521.849 17.8481C524.628 17.8481 527.096 16.5185 528.653 14.4607C528.847 14.1113 529.065 13.7769 529.305 13.4599C529.388 13.3092 529.468 13.1558 529.542 12.9998L529.678 12.9998C531.241 11.2061 533.542 10.0725 536.108 10.0725C538.674 10.0725 540.975 11.2061 542.538 12.9998L542.674 12.9998C542.749 13.1567 542.829 13.3109 542.913 13.4623C543.152 13.7779 543.369 14.1106 543.562 14.4582C545.118 16.5174 547.587 17.8481 550.367 17.8481C553.146 17.8481 555.614 16.5185 557.171 14.4607C557.365 14.1113 557.583 13.7769 557.823 13.4599C557.907 13.3092 557.986 13.1558 558.061 12.9998L558.196 12.9998C559.759 11.2061 562.06 10.0725 564.626 10.0725C567.192 10.0725 569.493 11.2061 571.056 12.9998L571.192 12.9998C571.267 13.1567 571.347 13.3109 571.431 13.4624C571.67 13.7779 571.887 14.1106 572.08 14.4582C573.636 16.5174 576.105 17.8481 578.885 17.8481C581.664 17.8481 584.132 16.5184 585.689 14.4606C585.883 14.1112 586.101 13.7769 586.341 13.4599C586.425 13.3093 586.504 13.1559 586.579 12.9998L586.714 12.9998C588.277 11.2061 590.578 10.0725 593.144 10.0725C595.71 10.0725 598.011 11.2061 599.574 12.9998L599.71 12.9998C599.785 13.1567 599.865 13.3109 599.949 13.4623C600.188 13.7779 600.405 14.1106 600.598 14.4582C602.154 16.5174 604.623 17.8481 607.403 17.8481C610.182 17.8481 612.651 16.5184 614.207 14.4606C614.401 14.1112 614.619 13.7769 614.859 13.4599C614.943 13.3093 615.022 13.1559 615.097 12.9998L615.233 12.9998C616.795 11.2061 619.096 10.0725 621.662 10.0725C624.228 10.0725 626.529 11.2061 628.092 12.9998L628.228 12.9998C628.303 13.1567 628.383 13.3109 628.467 13.4623C628.706 13.7779 628.923 14.1106 629.116 14.4582C630.672 16.5174 633.142 17.8481 635.921 17.8481C638.7 17.8481 641.169 16.5184 642.725 14.4606C642.919 14.1112 643.137 13.7769 643.377 13.4599C643.461 13.3093 643.54 13.1559 643.615 12.9998L643.751 12.9998C645.313 11.2061 647.614 10.0725 650.18 10.0725C652.746 10.0725 655.047 11.2061 656.61 12.9998L656.746 12.9998C656.821 13.1567 656.901 13.3109 656.985 13.4623C657.224 13.7779 657.441 14.1106 657.634 14.4582C659.19 16.5174 661.66 17.8481 664.439 17.8481C667.218 17.8481 669.687 16.5184 671.243 14.4606C671.437 14.1112 671.655 13.7769 671.895 13.4599C671.979 13.3093 672.058 13.1559 672.133 12.9998L672.269 12.9998C673.831 11.2061 676.132 10.0725 678.698 10.0725C681.264 10.0725 683.565 11.2061 685.128 12.9998L685.264 12.9998C685.339 13.1567 685.419 13.3109 685.503 13.4623C685.742 13.7779 685.959 14.1106 686.152 14.4582C687.708 16.5174 690.178 17.8481 692.958 17.8481C695.736 17.8481 698.204 16.5185 699.761 14.4609C699.955 14.1113 700.173 13.7768 700.413 13.4595C700.497 13.309 700.576 13.1557 700.651 12.9998L700.787 12.9998C702.349 11.206 704.65 10.0724 707.216 10.0724C709.782 10.0724 712.083 11.206 713.646 12.9998L713.782 12.9998C713.858 13.1567 713.937 13.311 714.022 13.4624C714.26 13.7778 714.477 14.1104 714.67 14.4579C716.226 16.5172 718.696 17.8479 721.476 17.8479C724.867 17.8479 727.796 15.8674 729.169 12.9998L730 12.9998L730 9.32352L730 -0.000141144L1.56035e-06 -0.000204962L7.48079e-07 9.29106L-6.02899e-05 9.32366L7.42378e-07 9.35627L4.23856e-07 12.9997L0.831116 12.9997C2.20386 15.8674 5.13281 17.8481 8.52435 17.8481C11.3032 17.8481 13.7715 16.5184 15.3278 14.4606C15.522 14.1112 15.7401 13.777 15.9797 13.46C16.0635 13.3093 16.1429 13.1558 16.2176 12.9997L16.3536 12.9997C17.9163 11.2061 20.2173 10.0725 22.7831 10.0725C25.3489 10.0725 27.65 11.2061 29.2127 12.9997L29.3492 12.9997C29.4243 13.1567 29.5041 13.311 29.5884 13.4624C29.8268 13.7779 30.0438 14.1106 30.2372 14.4581Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: left top;
  background-repeat: repeat-x;
}
.secure-table__row-opened:not([aria-expanded=true]) {
  display: none;
}
.secure-table__collapse {
  line-height: 1.1875;
}
.secure-table__collapse-title {
  padding: 1.375rem 1.25rem 0.875rem;
}
.secure-table__collapse-rows {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #DEE7F3;
  border-bottom: 1px solid #DEE7F3;
}
.secure-table__collapse-row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0.5rem 1rem 0.625rem;
}
.secure-table__collapse-yapomoga {
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.875rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #D9EDFF;
}
.secure-table__collapse-yapomoga .secure-table__yapomoga-icon {
  -ms-flex: 0 0 2.625rem;
      flex: 0 0 2.625rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 2.625rem;
  border: 2px solid #F0F5FA;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.secure-table__collapse-yapomoga .secure-table__yapomoga-text {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.secure-table__collapse-yapomoga .secure-table__yapomoga-text > *:last-child {
  font-size: 0.875rem;
  color: #3B566E;
}
.secure-table__collapse-yapomoga .secure-table__yapomoga-amount {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin-left: auto;
}
.secure-table__collapse-yapomoga .secure-table__yapomoga-amount > *:last-child {
  font-size: 0.875rem;
  color: #3B566E;
}

@media screen and (max-width: 575px) {
  .secure-table__row-amount {
    text-align: right;
  }
  .secure-table__row-details {
    display: none;
  }
  .secure-table__row-opened[aria-expanded=true] .secure-table__link-open {
    display: none;
  }
  .secure-table__row-opened[aria-expanded=false] {
    display: block;
    padding-top: 0.375rem;
    border-top: 1px solid #DEE7F3;
  }
  .secure-table__row-opened[aria-expanded=false] .secure-table__link-close {
    display: none;
  }
}/*# sourceMappingURL=archive-bill.css.map */