.army-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.army-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2.625rem 0 2.5rem;
}

.army-main h1 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.army-main .army-subtitle {
  color: #172A3A;
  font-size: 1.5rem;
}

.army-main .btn-army {
  color: #ffffff;
  border: 3px solid #172A3A;
  background-color: #172A3A;
}

.army-form {
  padding-top: 2.125rem;
  padding-bottom: 2.75rem;
  border-bottom: 1px solid #DEE7F3;
}

.army-form .army-form__title {
  margin-bottom: 1rem;
  text-align: center;
}

.army-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
  border: 3px solid #DEE7F3;
  border-radius: 0.5rem;
  cursor: pointer;
}

.army-form__label span {
  padding-left: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #172A3A;
}

.army-form .radio-control label.army-form__label {
  margin-bottom: 1.875rem;
}

.army-form .radio-control .checkbox-input:checked ~ .army-form__label {
  border-color: #172A3A;
}

.army-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.army-partners span {
  position: relative;
}

.army-partners span:first-child {
  margin-right: 0.8125rem;
  padding-right: 0.8125rem;
}

.army-partners span:first-child::before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid rgba(124, 156, 172, 0.4);
}

.army-purposes {
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  border-radius: 1.5rem;
  background-color: #F3F8FC;
}

.army-purposes h2 {
  margin-bottom: 0;
  font-size: 1.75rem;
}

.army-purposes__title {
  padding-top: 2.5rem;
}

.army-purposes__title h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.army-card {
  height: 100%;
  padding: 0.9375rem;
  border: 1px solid #DEE7F3;
  border-radius: 0.5rem;
}

.army-card--humanitarian {
  height: 10rem;
}

.army-card__img {
  height: 3.75rem;
  margin-bottom: 0.5rem;
}

.army-card__content {
  line-height: 1.3;
}

.army-card__content span {
  color: #172A3A;
}

.army-data {
  max-width: 21.875rem;
  margin: 0 auto;
}

.army-data__icon {
  text-align: center;
}

.army-data__descr {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  padding: 0.9375rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}

.army-data__descr p, .army-data__descr span {
  color: #172A3A;
}

.army-data__descr hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #94ADBB;
}

.army-data__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.army-data__amount span {
  font-size: 1.125rem;
  font-weight: 700;
}

.army-data .bank-card {
  width: 100%;
  max-width: none;
  height: 16rem;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem 1rem;
}

.army-data .bank-card__header, .army-data .bank-card__bank, .army-data .bank-card__type {
  height: 2.5rem;
}

.army-data .bank-card__body {
  padding-top: 0.5rem;
}

.army-data .bank-card__number {
  padding-bottom: 0.75rem;
}

.army-data .bank-card__cvv input {
  width: 7.5rem;
}

.army-data .bank-card .form-label {
  top: 1.0625rem;
  font-size: 1rem;
}

.army-data .bank-card .form-input:focus ~ .form-label, .army-data .bank-card .form-input.filled ~ .form-label {
  top: 0.45rem;
  font-size: 0.77777rem;
}

.army-security {
  margin-top: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}

.army-security__img {
  text-align: center;
}

.army-security__img a + a {
  margin-left: 0.5rem;
}

.army-security__img a:hover {
  text-decoration: none;
}

.army-footer {
  padding-bottom: 1.6875rem;
}

.army-footer__inner {
  padding: 1.8125rem;
  border: 2px solid #DEE7F3;
  border-radius: 0.5rem;
}

.army-footer a, .army-footer p {
  color: #172A3A;
}

.army-footer a {
  font-weight: 500;
}

.army-footer a:hover {
  color: #172A3A;
}

@media screen and (max-width: 1199px) {
  .army-purposes {
    max-width: 1010px;
  }
}

@media screen and (max-width: 991px) {
  .army-purposes {
    max-width: 770px;
  }
}

@media screen and (max-width: 767px) {
  .army-main {
    padding-top: 2.5rem;
  }
  .army-main h1 {
    font-size: 1.5rem;
  }
  .army-main .army-subtitle {
    font-size: 1.25rem;
  }
  .army-form {
    padding-top: 1.5rem;
    padding-bottom: 0;
    border-bottom: none;
  }
  .army-form .army-form__title {
    margin-bottom: 1.25rem;
  }
  .army-form form > .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .army-form form > .row > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .army-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10.625rem;
    margin-bottom: 1.25rem;
    padding: 0.25rem;
  }
  .army-form__label span {
    padding-left: 0;
    text-align: center;
  }
  .army-form .radio-control label.army-form__label {
    margin-bottom: 1.25rem;
  }
  .army-purposes {
    padding-bottom: 0.625rem;
    border-radius: 0;
  }
  .army-purposes h2 {
    font-size: 1.3125rem;
  }
  .army-purposes__title {
    padding-top: 1.875rem;
  }
  .army-purposes__title h3 {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
  }
  .army-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.25rem 0;
    border: none;
    border-radius: 0;
    border-top: 1px solid #DEE7F3;
  }
  .army-card--last {
    border-bottom: 1px solid #DEE7F3;
  }
  .army-card--humanitarian {
    height: auto;
  }
  .army-card__img {
    margin-bottom: 0;
  }
  .army-card__content {
    padding-left: 1.25rem;
  }
  .army-footer {
    padding-bottom: 1.6875rem;
  }
  .army-footer__inner {
    padding: 1.5rem 1rem 3.375rem;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .army-data .bank-card {
    -webkit-box-shadow: 0px 5px 20px rgba(97, 144, 183, 0.35);
            box-shadow: 0px 5px 20px rgba(97, 144, 183, 0.35);
  }
  .army-data .bank-card__expires {
    width: 10.5rem;
  }
  .army-data .bank-card__cvv input {
    width: 7rem;
  }
}
/*# sourceMappingURL=army-donation.css.map */