.bill-tablist {
  border-bottom: 2px solid #DEE7F3;
}

.bill-tablist .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bill-tablist__item:not(:last-child) {
  margin-right: 1.125rem;
}

.bill-tablist__link {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
  color: #3B566E;
}

.bill-tablist__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #E84F35;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.bill-tablist__link:hover {
  text-decoration: none;
  color: #3B566E;
}

.bill-tablist__link.active {
  color: #172A3A;
  font-weight: 700;
}

.bill-tablist__link.active::after {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .bill-tablist ~ .tab-content .select-input-wrapper .select2-container .select2-selection {
    font-size: 1rem;
  }
  .bill-tablist ~ .tab-content .form-input {
    font-size: 1rem;
  }
  .bill-tablist ~ .tab-content .form-label {
    top: 1.05rem;
    font-size: 1rem;
  }
  .bill-tablist ~ .tab-content .form-input:focus ~ .form-label,
  .bill-tablist ~ .tab-content .form-input.filled ~ .form-label {
    top: 0.45rem;
    font-size: 0.77777rem;
  }
}

.bill-2cols.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.bill-2cols.row [class^="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.utility-card__row {
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
          box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
  background-color: #ffffff;
}

.utility-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.utility-card__inner p {
  margin-bottom: 0;
  padding-left: 1.75rem;
}

.utility-card__inner .checkbox-control {
  padding-top: 1px;
}

.utility-card__inner-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-right: 1.5rem;
}

.utility-card__inner-field {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 10.3125rem;
}

.utility-card__inner-field .form-group {
  margin-bottom: 0;
}

.utility-card__link.btn {
  margin-left: 1.75rem;
  color: #E84F35;
  line-height: 1.1;
  text-decoration: underline;
}

.utility-card__collapse {
  margin-top: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}

.utility-card__collapse p, .utility-card__collapse span {
  color: #172A3A;
}

.utility-card__counters {
  border-bottom: 1px solid #DEE7F3;
}

.utility-card__counters .form-group {
  margin-bottom: 0.5rem;
}

.utility-card__summary {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.utility-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 1rem;
}

.utility-card__footer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(222, 231, 243, 0)), color-stop(0%, #DEE7F3));
  background-image: linear-gradient(to left, rgba(222, 231, 243, 0) 50%, #DEE7F3 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}
/*# sourceMappingURL=bill-eps.css.map */