.crossborder {
  padding-bottom: 2rem;
}

.crossborder__connection {
  padding: 2px 0 2px 1.3625rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
  color: #09BC8A;
  background: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.04785 12.3331V10.9998' stroke='%2309BC8A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.04811 10.9998C8.41851 10.9998 8.71878 10.7014 8.71878 10.3332C8.71878 9.96498 8.41851 9.6665 8.04811 9.6665C7.67771 9.6665 7.37744 9.96498 7.37744 10.3332C7.37744 10.7014 7.67771 10.9998 8.04811 10.9998Z' stroke='%2309BC8A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.4072 7H3.68851C2.95077 7 2.34717 7.6 2.34717 8.33333V13C2.34717 13.7333 2.95077 14.3333 3.68851 14.3333H12.4072C13.145 14.3333 13.7486 13.7333 13.7486 13V8.33333C13.7486 7.6 13.145 7 12.4072 7Z' stroke='%2309BC8A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.35938 6.99984V5.33317C4.35938 3.3065 6.00923 1.6665 8.04807 1.6665C10.0869 1.6665 11.7368 3.3065 11.7368 5.33317V6.99984' stroke='%2309BC8A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") left top no-repeat;
}

.crossborder__alert .alert {
  width: 26.25rem;
  margin-left: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.crossborder__alert .alert.alert-people::before {
  top: 0.75rem;
}

.crossborder__alert .alert p {
  margin-bottom: 0;
}

.crossborder__card-wrapper {
  width: 26.25rem;
}

.crossborder__card-wrapper--receiver {
  margin-left: auto;
}

.crossborder__card-title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.22;
}

.crossborder__card {
  margin-bottom: 1.9375rem;
}

.crossborder .bank-card {
  position: relative;
  width: 100%;
  padding: 1.5rem 1.875rem 0;
  background-color: #ffffff;
}

.crossborder__security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 2.5rem 0.875rem 1.375rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}

.crossborder__security-title {
  max-width: 7.375rem;
  font-size: 0.875rem;
}

.crossborder__security-img a {
  display: inline-block;
  margin-left: 0.375rem;
}

.crossborder__security-img img {
  width: auto;
  height: 1.5rem;
}

.crossborder__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.crossborder__payment span {
  font-weight: bold;
  color: #172A3A;
}

.crossborder__payment-text {
  margin-top: 2px;
}

.crossborder__payment-amount {
  font-size: 1.625rem;
}

.crossborder__submit .btn:disabled, .crossborder__submit .btn.disabled {
  opacity: 1;
  color: #ffffff;
}

.crossborder-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 9.0625rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #F0F5FA;
}

.crossborder-arrow svg {
  stroke: #4F6E7A;
}

@media screen and (max-width: 1199px) {
  .crossborder__card-wrapper {
    width: 23.125rem;
  }
  .crossborder__alert .alert {
    width: auto;
  }
  .crossborder__security-img img {
    height: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .crossborder__alert .alert {
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .crossborder__alert .alert.alert-people::before {
    top: 0.5rem;
  }
  .crossborder__card-wrapper {
    width: auto;
    max-width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  .crossborder__security-img img {
    height: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .crossborder__security {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 0.75rem;
  }
  .crossborder__security-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: none;
    width: 100%;
    margin-bottom: 0.875rem;
  }
  .crossborder__security-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .crossborder__security-img a {
    margin-left: 0;
  }
  .crossborder__security-img img {
    height: 1.75rem;
  }
}

@media screen and (max-width: 575px) {
  .crossborder__card-wrapper {
    max-width: 22.5rem;
  }
  .crossborder__card .bank-card {
    height: 16rem;
    max-width: none;
    margin-top: 1rem;
    padding: 0.75rem 0.875rem 0;
    -webkit-box-shadow: 0px 5px 20px rgba(97, 144, 183, 0.15);
            box-shadow: 0px 5px 20px rgba(97, 144, 183, 0.15);
  }
  .crossborder__card .bank-card__bank, .crossborder__card .bank-card__type {
    height: 2rem;
  }
  .crossborder__card .bank-card__type {
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
  }
  .crossborder__card .bank-card__header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .crossborder__card .bank-card__number {
    padding-bottom: 0.5rem;
  }
  .crossborder__submit {
    width: 18.125rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* popover bonuses */
/* limitations section */
.crossborder-limitations {
  padding-top: 2.75rem;
  padding-bottom: 2.125rem;
  background-color: #F0F5FA;
}

.crossborder-limitations__title {
  margin-bottom: 2.3125rem;
}

@media screen and (max-width: 991px) {
  .crossborder-limitations {
    padding-top: 2.125rem;
    padding-bottom: 0;
  }
  .crossborder-limitations__title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .crossborder-limitations {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .crossborder-limitations__title {
    margin-bottom: 0.5rem;
  }
}

.crossborder-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 7.75rem;
  margin-bottom: 1.75rem;
  padding: 1.125rem 1.875rem 1.25rem 1.25rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
          box-shadow: 0px 4px 20px rgba(39, 97, 146, 0.15);
  background-color: #ffffff;
}

.crossborder-card__amount {
  padding-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #E84F35;
}

.crossborder-card__text {
  padding-right: 3.75rem;
}

@media screen and (max-width: 991px) {
  .crossborder-card {
    padding: 0.9375rem;
  }
  .crossborder-card__amount {
    padding-right: 1rem;
  }
  .crossborder-card__text {
    padding-right: 0;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .crossborder-card {
    height: 7rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .crossborder-card__amount {
    padding-right: 0;
    padding-bottom: 0.625rem;
  }
}
/*# sourceMappingURL=crossborder.css.map */