/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #172A3A;
  font-family: "Montserrat", sans-serif;
}

button, input, optgroup, select, textarea, label {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.625rem;
  line-height: 1.2308;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2084;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.3125rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2223;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.3;
  color: #3B566E;
}

small {
  font-size: 0.875rem;
}

.extra-small {
  font-size: 0.75rem;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.logo-color, .logo-red, .logo-white {
  width: 120px;
  height: 36px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

.logo-color {
  background-image: url("../img/logo-color.svg");
}

.logo-red {
  background-image: url("../img/logo-red.svg");
}

.logo-white {
  background-image: url("../img/logo-white.svg");
}

.btn {
  padding: 0.625rem 2.175rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.667;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
}

.btn .fas {
  padding-left: 12px;
  vertical-align: middle;
}

.btn .fas.fa-chevron-left {
  padding-left: 0;
  padding-right: 12px;
}

.btn-green {
  color: #fff;
  background-color: #09BC8A;
  border: 3px solid #09BC8A;
}

.btn-green:hover:not(.disabled) {
  color: #fff;
  background-color: #22D4A2;
  border-color: #22D4A2;
  -webkit-box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
          box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
}

.btn-red {
  color: #fff;
  background-color: #E84F35;
  border: 3px solid #E84F35;
}

.btn-red:hover:not(.disabled) {
  color: #fff;
  background-color: #FF6A51;
  border-color: #FF6A51;
  -webkit-box-shadow: 0px 9px 20px rgba(238, 22, 22, 0.1);
          box-shadow: 0px 9px 20px rgba(238, 22, 22, 0.1);
}

.btn-green:active:not(.disabled), .btn-green.active:not(.disabled), .btn-red:active:not(.disabled), .btn-red.active:not(.disabled) {
  color: #fff;
  background-color: #172A3A;
  border-color: #172A3A;
  outline: none;
}

.btn-green.disabled, .btn-red.disabled {
  color: #7C9CAC;
  background-color: #DEE7F3;
  border-color: #DEE7F3;
}

.btn-outline {
  color: #172A3A;
  background-color: #fff;
  border: 3px solid #DEE7F3;
}

.btn-outline:hover:not(.disabled) {
  color: #172A3A;
  background-color: #fff;
  border-color: #3B566E;
}

.btn-outline:active:not(.disabled), .btn-outline.active:not(.disabled) {
  color: #fff;
  background-color: #172A3A;
  border-color: #172A3A;
  outline: none;
}

.btn-outline.disabled {
  color: #DEE7F3;
  background-color: #fff;
  border-color: #DEE7F3;
}

.btn-prev, .btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  position: relative;
}

.btn-prev::after, .btn-next::after, .btn-download::after, .btn-cancel::after, .btn-plus::after, .btn-mail::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/button-icon.png");
  background-repeat: no-repeat;
}

.btn-prev.disabled::after, .btn-next.disabled::after, .btn-download.disabled::after, .btn-cancel.disabled::after, .btn-plus.disabled::after, .btn-mail.disabled::after {
  color: #7C9CAC;
}

.btn-prev.disabled.btn-outline::after, .btn-next.disabled.btn-outline::after, .btn-download.disabled.btn-outline::after, .btn-cancel.disabled.btn-outline::after, .btn-plus.disabled.btn-outline::after, .btn-mail.disabled.btn-outline::after {
  color: #DEE7F3;
}

.btn-prev.btn-outline:not(.disabled), .btn-next.btn-outline:not(.disabled), .btn-download.btn-outline:not(.disabled), .btn-cancel.btn-outline:not(.disabled), .btn-plus.btn-outline:not(.disabled), .btn-mail.btn-outline:not(.disabled) {
  color: #172A3A;
}

.btn-prev.btn-outline:not(.disabled):active:not(.disabled), .btn-prev.btn-outline:not(.disabled).active:not(.disabled), .btn-next.btn-outline:not(.disabled):active:not(.disabled), .btn-next.btn-outline:not(.disabled).active:not(.disabled), .btn-download.btn-outline:not(.disabled):active:not(.disabled), .btn-download.btn-outline:not(.disabled).active:not(.disabled), .btn-cancel.btn-outline:not(.disabled):active:not(.disabled), .btn-cancel.btn-outline:not(.disabled).active:not(.disabled), .btn-plus.btn-outline:not(.disabled):active:not(.disabled), .btn-plus.btn-outline:not(.disabled).active:not(.disabled), .btn-mail.btn-outline:not(.disabled):active:not(.disabled), .btn-mail.btn-outline:not(.disabled).active:not(.disabled) {
  color: #fff;
}

.btn-prev {
  padding-left: 3.025rem;
}

.btn-prev::after {
  content: '';
  left: 24px;
  width: 10px;
  height: 18px;
  background-position: 0px 0px;
}

.btn-prev.disabled::after {
  background-position: 0px -18px;
}

.btn-prev.disabled.btn-outline::after {
  background-position: 0px -54px;
}

.btn-prev.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: 0px -36px;
}

.btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  padding-right: 3.025rem;
}

.btn-next::after, .btn-download::after, .btn-cancel::after, .btn-plus::after, .btn-mail::after {
  right: 24px;
}

.btn-next::after {
  content: '';
  width: 10px;
  height: 18px;
  background-position: 0px -72px;
}

.btn-next.disabled::after {
  background-position: -10px 0px;
}

.btn-next.disabled.btn-outline::after {
  background-position: -10px -36px;
}

.btn-next.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -10px -18px;
}

.btn-download::after {
  content: '';
  width: 14px;
  height: 15px;
  background-position: -85px -24px;
}

.btn-download.disabled::after {
  background-position: -85px -39px;
}

.btn-download.disabled.btn-outline::after {
  background-position: -85px -69px;
}

.btn-download.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -85px -54px;
}

.btn-cancel::after {
  content: '';
  width: 15px;
  height: 16px;
  background-position: -10px -54px;
}

.btn-cancel.disabled::after {
  background-position: -10px -70px;
}

.btn-cancel.disabled.btn-outline::after {
  background-position: -25px -16px;
}

.btn-cancel.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -25px 0px;
}

.btn-plus {
  padding-right: 3.5rem;
}

.btn-plus::after {
  content: '';
  width: 24px;
  height: 24px;
  background-position: -55px -22px;
}

.btn-plus.disabled::after {
  background-position: -55px -46px;
}

.btn-plus.disabled.btn-outline::after {
  background-position: -85px 0px;
}

.btn-plus.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -55px -70px;
}

.btn-mail {
  padding-right: 3.5rem;
}

.btn-mail::after {
  content: '';
  width: 30px;
  height: 22px;
  background-position: -25px -32px;
}

.btn-mail.disabled::after {
  background-position: -25px -54px;
}

.btn-mail.disabled.btn-outline::after {
  background-position: -55px 0px;
}

.btn-mail.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -25px -76px;
}

.btn-empty {
  min-height: 56px;
}

.btn-empty.btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-empty.btn::after {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.checkbox-control {
  position: relative;
  padding-left: 1.5rem;
}

.checkbox-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.203125rem;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-label::before {
  color: #fff;
  border-color: #E84F35;
  background-color: #E84F35;
}

.checkbox-input:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-background-size: 12px 12px;
          background-size: 12px 12px;
}

.checkbox-input:disabled ~ .checkbox-label {
  color: #7C9CAC;
}

.checkbox-input:disabled ~ .checkbox-label::before {
  border-color: #DEE7F3;
  background-color: #DEE7F3;
}

.checkbox-input:disabled ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='minus' class='svg-inline--fa fa-minus fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-background-size: 10px 10px;
          background-size: 10px 10px;
}

.checkbox-input:disabled:checked ~ .checkbox-label::before {
  border-color: #DEE7F3;
  background-color: #DEE7F3;
}

.checkbox-input:disabled:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-background-size: 12px 12px;
          background-size: 12px 12px;
}

.checkbox-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.checkbox-label::before {
  position: absolute;
  top: 0.203125rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: 2px solid #DEE7F3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.checkbox-label::after {
  position: absolute;
  top: 0.203125rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.checkbox-switch .checkbox-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  border-color: #7C9CAC;
  background-color: #7C9CAC;
}

.checkbox-switch .checkbox-label::after {
  top: -webkit-calc(0.203125rem + 2px);
  top: calc(0.203125rem + 2px);
  left: -webkit-calc(-2.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: -webkit-calc(1rem - 4px);
  width: calc(1rem - 4px);
  height: -webkit-calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #fff;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.checkbox-switch .checkbox-input:checked ~ .checkbox-label::before {
  color: #fff;
  border-color: #E84F35;
  background-color: #E84F35;
}

.checkbox-switch .checkbox-input:checked ~ .checkbox-label::after {
  background-color: #fff;
  background-image: none;
  -webkit-transform: translateX(0.75rem);
  -ms-transform: translateX(0.75rem);
  transform: translateX(0.75rem);
}

.radio-control .checkbox-label::before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #DEE7F3;
}

.radio-control .checkbox-input:checked ~ .checkbox-label::before {
  border: 4px solid #E84F35;
  background-color: #fff;
}

.radio-control .checkbox-input:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%fff'/%3e%3c/svg%3e");
  -webkit-background-size: 10px 10px;
          background-size: 10px 10px;
}

.radio-control .checkbox-input:disabled ~ .checkbox-label::before {
  border-color: #DEE7F3;
}

.radio-control .checkbox-input:disabled:checked ~ .checkbox-label::before {
  background-color: #DEE7F3;
}

.radio-control .checkbox-input:disabled:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='minus' class='svg-inline--fa fa-minus fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'%3E%3C/path%3E%3C/svg%3E");
}
/*# sourceMappingURL=main.css.map */