/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #172A3A;
  font-family: "Montserrat", sans-serif;
}

button, input, optgroup, select, textarea, label, a {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.625rem;
  line-height: 1.2308;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2084;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.3125rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2223;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.3;
  color: #3B566E;
}

small {
  font-size: 0.875rem;
}

.extra-small {
  font-size: 0.75rem;
}

label {
  font-family: "Roboto", sans-serif;
  color: #3B566E;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.main-header {
  padding: 0.75rem 0 0.625rem;
  border-bottom: 2px solid #F0F5FA;
}

.main-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item {
  margin-left: 1.86rem;
}

.main-nav__item .dropdown-menu {
  margin-top: 3.125rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 20px rgba(97, 144, 183, 0.2);
          box-shadow: 0px 4px 20px rgba(97, 144, 183, 0.2);
}

.main-nav__item .dropdown-menu::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -9px;
  right: 1rem;
  border-radius: 2px;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #ffffff transparent;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(97, 144, 183, 0.2));
          filter: drop-shadow(0px 4px 20px rgba(97, 144, 183, 0.2));
}

.main-nav__icon {
  display: block;
  position: relative;
  padding-left: 1.875rem;
  color: #3B566E;
}

.main-nav__icon::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-nav__icon--safety {
  color: #3B566E;
}

.main-nav__icon--safety::before {
  width: 24px;
  height: 28px;
  margin-top: -2px;
  background: url("../img/header-icons.png") -29px -50px no-repeat;
}

.main-nav__icon--bonus {
  color: #172A3A;
}

.main-nav__icon--bonus::before {
  width: 27px;
  height: 27px;
  margin-top: -1px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.9648' cy='13.3535' r='13' fill='%23FFF0D0'/%3E%3Cpath d='M21.5873 11.1338L16.405 10.6299L14.3463 5.61683C14.2021 5.26574 13.7275 5.26574 13.5833 5.61683L11.5246 10.6295L6.34227 11.1334C5.97958 11.1687 5.83272 11.6421 6.10668 11.8941L10.0168 15.4963L8.87259 20.8207C8.79238 21.1933 9.17638 21.4859 9.48986 21.2908L13.965 18.5045L18.4401 21.2912C18.7536 21.4863 19.1372 21.1937 19.0574 20.8211L17.9131 15.4967L21.8233 11.8945C22.0969 11.6421 21.95 11.1687 21.5873 11.1338Z' fill='%23FFD578'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.main-nav__icon span {
  display: block;
  line-height: 1.25;
}

.main-nav__bonus {
  font-size: 1rem;
  font-weight: bold;
}

.btn.btn-account {
  padding: 0.438rem 2.998rem 0.438rem 2.018rem;
  color: #fff;
  border: 3px solid #172A3A;
  background-color: #172A3A;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85352 6.18555L7.49953 9.83156' stroke='white' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 9.83154L11.146 6.18554' stroke='white' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 0.65rem center;
  background-size: 16px;
}

.btn.btn-account:hover {
  color: #fff;
}

.btn.btn-account:active, .btn.btn-account.active, .btn.btn-account[aria-expanded="true"] {
  color: #fff;
  background-color: #22D4A2;
  border-color: #22D4A2;
  -webkit-box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
          box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
}

.logo-color, .logo-red, .logo-white {
  width: 120px;
  height: 36px;
  background-size: 100%;
}

.logo-color > a, .logo-red > a, .logo-white > a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-color {
  background-image: url("../img/logo-color.svg");
}

.logo-red {
  background-image: url("../img/logo-red.svg");
}

.logo-white {
  background-image: url("../img/logo-white.svg");
}

.btn {
  padding: 0.625rem 2.175rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.667;
  border-radius: 0.5rem;
}

.btn .fas {
  padding-left: 12px;
  vertical-align: middle;
}

.btn .fas.fa-chevron-left {
  padding-left: 0;
  padding-right: 12px;
}

.btn-green {
  color: #fff;
  background-color: #09BC8A;
  border: 3px solid #09BC8A;
}

.btn-green:hover:not(.disabled) {
  color: #fff;
  background-color: #22D4A2;
  border-color: #22D4A2;
  -webkit-box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
          box-shadow: 0px 9px 20px rgba(9, 188, 138, 0.3);
}

.btn-red {
  color: #fff;
  background-color: #E84F35;
  border: 3px solid #E84F35;
}

.btn-red:hover:not(.disabled) {
  color: #fff;
  background-color: #FF6A51;
  border-color: #FF6A51;
  -webkit-box-shadow: 0px 9px 20px rgba(238, 22, 22, 0.1);
          box-shadow: 0px 9px 20px rgba(238, 22, 22, 0.1);
}

.btn-green:active:not(.disabled), .btn-green.active:not(.disabled), .btn-red:active:not(.disabled), .btn-red.active:not(.disabled) {
  color: #fff;
  background-color: #172A3A;
  border-color: #172A3A;
  outline: none;
}

.btn-green.disabled, .btn-red.disabled {
  color: #7C9CAC;
  background-color: #DEE7F3;
  border-color: #DEE7F3;
}

.btn-outline {
  color: #172A3A;
  background-color: #fff;
  border: 3px solid #DEE7F3;
}

.btn-outline:hover:not(.disabled) {
  color: #172A3A;
  background-color: #fff;
  border-color: #3B566E;
}

.btn-outline:active:not(.disabled), .btn-outline.active:not(.disabled) {
  color: #fff;
  background-color: #172A3A;
  border-color: #172A3A;
  outline: none;
}

.btn-outline.disabled {
  color: #DEE7F3;
  background-color: #fff;
  border-color: #DEE7F3;
}

.btn-prev, .btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  position: relative;
}

.btn-prev::after, .btn-next::after, .btn-download::after, .btn-cancel::after, .btn-plus::after, .btn-mail::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/button-icon.png");
  background-repeat: no-repeat;
}

.btn-prev.disabled::after, .btn-next.disabled::after, .btn-download.disabled::after, .btn-cancel.disabled::after, .btn-plus.disabled::after, .btn-mail.disabled::after {
  color: #7C9CAC;
}

.btn-prev.disabled.btn-outline::after, .btn-next.disabled.btn-outline::after, .btn-download.disabled.btn-outline::after, .btn-cancel.disabled.btn-outline::after, .btn-plus.disabled.btn-outline::after, .btn-mail.disabled.btn-outline::after {
  color: #DEE7F3;
}

.btn-prev.btn-outline:not(.disabled), .btn-next.btn-outline:not(.disabled), .btn-download.btn-outline:not(.disabled), .btn-cancel.btn-outline:not(.disabled), .btn-plus.btn-outline:not(.disabled), .btn-mail.btn-outline:not(.disabled) {
  color: #172A3A;
}

.btn-prev.btn-outline:not(.disabled):active:not(.disabled), .btn-prev.btn-outline:not(.disabled).active:not(.disabled), .btn-next.btn-outline:not(.disabled):active:not(.disabled), .btn-next.btn-outline:not(.disabled).active:not(.disabled), .btn-download.btn-outline:not(.disabled):active:not(.disabled), .btn-download.btn-outline:not(.disabled).active:not(.disabled), .btn-cancel.btn-outline:not(.disabled):active:not(.disabled), .btn-cancel.btn-outline:not(.disabled).active:not(.disabled), .btn-plus.btn-outline:not(.disabled):active:not(.disabled), .btn-plus.btn-outline:not(.disabled).active:not(.disabled), .btn-mail.btn-outline:not(.disabled):active:not(.disabled), .btn-mail.btn-outline:not(.disabled).active:not(.disabled) {
  color: #fff;
}

.btn-prev {
  padding-left: 3.025rem;
}

.btn-prev::after {
  content: '';
  left: 24px;
  width: 10px;
  height: 18px;
  background-position: 0px 0px;
}

.btn-prev.disabled::after {
  background-position: 0px -18px;
}

.btn-prev.disabled.btn-outline::after {
  background-position: 0px -54px;
}

.btn-prev.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: 0px -36px;
}

.btn-next, .btn-download, .btn-cancel, .btn-plus, .btn-mail {
  padding-right: 3.025rem;
}

.btn-next::after, .btn-download::after, .btn-cancel::after, .btn-plus::after, .btn-mail::after {
  right: 24px;
}

.btn-next::after {
  content: '';
  width: 10px;
  height: 18px;
  background-position: 0px -72px;
}

.btn-next.disabled::after {
  background-position: -10px 0px;
}

.btn-next.disabled.btn-outline::after {
  background-position: -10px -36px;
}

.btn-next.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -10px -18px;
}

.btn-download::after {
  content: '';
  width: 14px;
  height: 15px;
  background-position: -85px -24px;
}

.btn-download.disabled::after {
  background-position: -85px -39px;
}

.btn-download.disabled.btn-outline::after {
  background-position: -85px -69px;
}

.btn-download.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -85px -54px;
}

.btn-cancel::after {
  content: '';
  width: 15px;
  height: 16px;
  background-position: -10px -54px;
}

.btn-cancel.disabled::after {
  background-position: -10px -70px;
}

.btn-cancel.disabled.btn-outline::after {
  background-position: -25px -16px;
}

.btn-cancel.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -25px 0px;
}

.btn-plus {
  padding-right: 3.5rem;
}

.btn-plus::after {
  content: '';
  width: 24px;
  height: 24px;
  background-position: -55px -22px;
}

.btn-plus.disabled::after {
  background-position: -55px -46px;
}

.btn-plus.disabled.btn-outline::after {
  background-position: -85px 0px;
}

.btn-plus.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -55px -70px;
}

.btn-mail {
  padding-right: 3.5rem;
}

.btn-mail::after {
  content: '';
  width: 30px;
  height: 22px;
  background-position: -25px -32px;
}

.btn-mail.disabled::after {
  background-position: -25px -54px;
}

.btn-mail.disabled.btn-outline::after {
  background-position: -55px 0px;
}

.btn-mail.btn-outline:not(.disabled):not(:active):not(.active)::after {
  background-position: -25px -76px;
}

.btn-empty {
  min-height: 56px;
}

.btn-empty.btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-empty.btn::after {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-link {
  padding: 0;
  color: #7C9CAC;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  vertical-align: inherit;
}

.btn-link:hover {
  color: #3B566E;
  text-decoration: none;
}

.help-block {
  display: none;
}

.form-group {
  position: relative;
}

.form-group.has-success {
  /* .form-label {
      top: 0.45rem;
      font-size: 0.77777rem;
      color: $main-blue;
    } */
}

.form-group.has-success .form-input:not([type='password']):not(.input-icon-right) {
  border-color: #DEE7F3;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09277 6.35742L4.91777 10.1824C5.49527 10.7599 6.44027 10.7599 7.01777 10.1824L15.3428 1.85742' stroke='%2309BC8A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 18px;
}

.form-group.has-success .form-input:not([type='password']):not(.input-icon-right).form-control:focus {
  border-color: #09BC8A;
  -webkit-box-shadow: 0 0 0 0.2rem #E9FCF3;
          box-shadow: 0 0 0 0.2rem #E9FCF3;
}

.form-group.has-error {
  margin-bottom: 2.375rem;
}

.form-group.has-error .form-input {
  border-color: #FFD0CE;
  -webkit-box-shadow: 0 0 0 0.2rem #FFFCFC;
          box-shadow: 0 0 0 0.2rem #FFFCFC;
  /* ~.password-button {
        display: block;
      } */
}

.form-group.has-error .form-input.form-control:focus {
  border-color: #FFD0CE;
  -webkit-box-shadow: 0 0 0 0.2rem #FFFCFC;
          box-shadow: 0 0 0 0.2rem #FFFCFC;
}

.form-group.has-error .form-input:not([type='password']):not(.input-icon-right) {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.07227 1.09082L11.3639 11.3825' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.3639 1.09082L1.07227 11.3825' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 14px;
}

.form-group.has-error .form-input:not([type='password']):not(.input-icon-right)::-webkit-input-placeholder {
  opacity: 1;
}

.form-group.has-error .form-input:not([type='password']):not(.input-icon-right):-ms-input-placeholder {
  opacity: 1;
}

.form-group.has-error .form-input:not([type='password']):not(.input-icon-right)::-ms-input-placeholder {
  opacity: 1;
}

.form-group.has-error .form-input:not([type='password']):not(.input-icon-right)::placeholder {
  opacity: 1;
}

.form-group.has-error .form-label {
  top: 0.45rem;
  font-size: 0.77777rem;
  color: #7C9CAC;
}

.form-group.has-error .help-block {
  display: block;
  position: absolute;
  padding-top: 4px;
  padding-left: 4px;
  font-family: "Roboto", sans-serif;
  color: #E84F35;
}

.form-control {
  color: #172A3A;
}

.form-input {
  position: relative;
  padding: 2.026rem 1.0775rem 1.1rem;
  border: 3px solid #DEE7F3;
  border-radius: 0.5rem;
  color: #172A3A;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.667;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: right 1.1rem center;
}

.form-input::-webkit-input-placeholder {
  color: #DEE7F3;
  font-weight: 400;
  opacity: 0;
}

.form-input:-ms-input-placeholder {
  color: #DEE7F3;
  font-weight: 400;
  opacity: 0;
}

.form-input::-ms-input-placeholder {
  color: #DEE7F3;
  font-weight: 400;
  opacity: 0;
}

.form-input::placeholder {
  color: #DEE7F3;
  font-weight: 400;
  opacity: 0;
}

.form-input:focus, .form-input.filled {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-input:focus::-webkit-input-placeholder, .form-input.filled::-webkit-input-placeholder {
  opacity: 1;
}

.form-input:focus:-ms-input-placeholder, .form-input.filled:-ms-input-placeholder {
  opacity: 1;
}

.form-input:focus::-ms-input-placeholder, .form-input.filled::-ms-input-placeholder {
  opacity: 1;
}

.form-input:focus::placeholder, .form-input.filled::placeholder {
  opacity: 1;
}

.form-input:focus ~ .form-label, .form-input.filled ~ .form-label {
  top: 0.45rem;
  font-size: 0.77777rem;
  color: #7C9CAC;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-input:focus ~ .password-button, .form-input.filled ~ .password-button {
  display: block;
}

.form-input.form-control:focus {
  border-color: #7C9CAC;
  -webkit-box-shadow: 0 0 0 0.2rem #F0F5FA;
          box-shadow: 0 0 0 0.2rem #F0F5FA;
}

.form-input.disabled, .form-input:disabled {
  border-color: #F0F5FA;
  background-color: #F0F5FA;
}

.form-input.input-icon-left {
  padding: 2.026rem 1.1rem 1.0775rem 3.75rem;
}

.form-input.input-icon-left ~ .label-icon-left {
  position: absolute;
  top: 0;
  left: 2px;
  width: 3.75rem;
  height: 100%;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
}

.form-input.input-icon-left ~ .label-icon-left.label-mail {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6381 16.5H3.39807C2.35807 16.5 1.51807 15.66 1.51807 14.62V3.38C1.51807 2.34 2.35807 1.5 3.39807 1.5H20.6381C21.6781 1.5 22.5181 2.34 22.5181 3.38V14.62C22.5181 15.66 21.6781 16.5 20.6381 16.5Z' stroke='%23DEE7F3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.51807 3.5L10.5981 10.58C11.3781 11.36 12.6481 11.36 13.4281 10.58L20.5181 3.5' stroke='%23DEE7F3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.51807 14.5L7.51807 10.5' stroke='%23DEE7F3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5181 10.5L20.5181 14.5' stroke='%23DEE7F3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 24px;
}

.form-input.input-icon-left ~ .form-label {
  left: 3.9rem;
}

.form-input.input-icon-right {
  padding: 2.026rem 3.75rem 1.0775rem 1.1rem;
}

.form-input.input-icon-right.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-input.input-icon-right ~ .label-icon-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 2px;
  width: 3.75rem;
  height: 100%;
  margin-bottom: 0;
}

.form-input.input-icon-right ~ .label-icon-right.label-currency {
  color: #7C9CAC;
  font-size: 1.125rem;
}

.form-input.input-icon-right ~ .label-icon-right.label-currency::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 50%;
  right: 3.75rem;
  background-color: #F0F5FA;
}

.form-label {
  position: absolute;
  top: 0.95rem;
  left: 1.25rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.password-button {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 1.125rem;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='26' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22.2665 12.8276C22.2665 12.8276 18.3319 18.6456 11.9382 18.6456C5.54447 18.6456 1.60986 12.8276 1.60986 12.8276' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.938 18.6455V20.7611' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.1841 18.1802L15.5775 20.2535' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.8892 16.8999L18.863 18.7405' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.2207 15.1973L21.4798 16.8263' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.69229 18.1802L8.29883 20.2535' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.987 16.8999L5.01318 18.7405' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.65605 15.1973L2.39697 16.8263' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath d='M0.134277 0.133789H23.7419V25.5214H0.134277V0.133789Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.password-button:focus {
  outline: none;
}

.password-button.show-pass {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='28' viewBox='0 0 25 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.845 17.4088C15.9273 17.4088 18.4259 14.9102 18.4259 11.8279C18.4259 8.74571 15.9273 6.24707 12.845 6.24707C9.7628 6.24707 7.26416 8.74571 7.26416 11.8279C7.26416 14.9102 9.7628 17.4088 12.845 17.4088Z' fill='%23172A3A'/%3E%3Cpath d='M2.34521 12.7471C2.34521 12.7471 6.34521 6.24707 12.8452 6.24707C19.3452 6.24707 23.3452 12.7471 23.3452 12.7471C23.3452 12.7471 19.3452 19.2471 12.8452 19.2471C6.34521 19.2471 2.34521 12.7471 2.34521 12.7471Z' stroke='%23172A3A' stroke-width='1.4' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

.checkbox-control {
  position: relative;
  padding-left: 1.5rem;
}

.checkbox-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.203125rem;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-label::before {
  color: #fff;
  border-color: #E84F35;
  background-color: #E84F35;
}

.checkbox-input:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 12px 12px;
}

.checkbox-input:disabled ~ .checkbox-label {
  color: #7C9CAC;
}

.checkbox-input:disabled ~ .checkbox-label::before {
  border-color: #DEE7F3;
  background-color: #DEE7F3;
}

.checkbox-input:disabled ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='minus' class='svg-inline--fa fa-minus fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 10px 10px;
}

.checkbox-input:disabled:checked ~ .checkbox-label::before {
  border-color: #DEE7F3;
  background-color: #DEE7F3;
}

.checkbox-input:disabled:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 12px 12px;
}

.checkbox-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.checkbox-label::before {
  position: absolute;
  top: 0.203125rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: 2px solid #DEE7F3;
  border-radius: 2px;
}

.checkbox-label::after {
  position: absolute;
  top: 0.203125rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.checkbox-switch {
  padding-left: 2.25rem;
}

.checkbox-switch .checkbox-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: 0.5rem;
  border-color: #7C9CAC;
  background-color: #7C9CAC;
}

.checkbox-switch .checkbox-label::after {
  top: calc(0.203125rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.checkbox-switch .checkbox-input:checked ~ .checkbox-label::before {
  color: #fff;
  border-color: #E84F35;
  background-color: #E84F35;
}

.checkbox-switch .checkbox-input:checked ~ .checkbox-label::after {
  background-color: #fff;
  background-image: none;
  -webkit-transform: translateX(0.75rem);
  transform: translateX(0.75rem);
}

.radio-control .checkbox-label::before {
  border-radius: 50%;
  border: 2px solid #DEE7F3;
}

.radio-control .checkbox-input:checked ~ .checkbox-label::before {
  border: 4px solid #E84F35;
  background-color: #fff;
}

.radio-control .checkbox-input:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%fff'/%3e%3c/svg%3e");
  background-size: 10px 10px;
}

.radio-control .checkbox-input:disabled ~ .checkbox-label::before {
  border-color: #DEE7F3;
}

.radio-control .checkbox-input:disabled:checked ~ .checkbox-label::before {
  background-color: #DEE7F3;
}

.radio-control .checkbox-input:disabled:checked ~ .checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='minus' class='svg-inline--fa fa-minus fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'%3E%3C/path%3E%3C/svg%3E");
}

.form-textarea {
  padding: 1.75rem 1rem 0.5rem;
  border: 2px solid #DEE7F3;
  border-radius: 0.5rem;
}

.form-textarea::-webkit-input-placeholder {
  color: #DEE7F3 !important;
}

.form-textarea:-ms-input-placeholder {
  color: #DEE7F3 !important;
}

.form-textarea::-ms-input-placeholder {
  color: #DEE7F3 !important;
}

.form-textarea::placeholder {
  color: #DEE7F3 !important;
}

.form-textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-textarea::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.form-textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #E84F35;
}

.form-textarea:focus {
  border-color: #7C9CAC;
}

.form-textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-textarea ~ .form-label {
  top: 2px;
  left: 2px;
  width: calc(100% - 22px);
  padding-top: 0.5rem;
  padding-left: 1.1rem;
  border-radius: 0.5rem;
  color: #7C9CAC;
  font-size: 0.875rem;
  background: #fff;
}
/*# sourceMappingURL=main.css.map */