.mobile-charge-yapomoga {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 3.25rem;
  padding: calc(0.75rem - 1px);
  border: 1px solid #CEE8FF;
  border-radius: 0.5rem;
  background-color: #F0F8FF;
}
.mobile-charge-yapomoga .checkbox-control {
  padding-left: 0;
  line-height: 1;
}
.mobile-charge-yapomoga .checkbox-label {
  padding: 0.25rem 0.625rem 0.25rem 4.25rem;
  font-size: 0.875rem;
  line-height: 1.4285714;
  color: #172A3A;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' rx='5' fill='%2363BBFE'/%3E%3Cpath d='M19.8376 17.3069C19.5626 16.5225 18.9216 16.125 18.3029 15.7406C17.7644 15.4059 17.256 15.0897 16.9235 14.5219C16.0069 12.9491 15.5035 12 14.0019 12C12.5004 12 11.9954 12.9494 11.0766 14.5216C10.7438 15.0906 10.2329 15.4075 9.69381 15.7428C9.07506 16.1275 8.43537 16.5241 8.15943 17.3069C8.05206 17.5892 7.99802 17.8889 8.00006 18.1909C8.00006 19.4641 9.01412 20.5 10.1376 20.5C11.261 20.5 12.741 19.9334 14.0051 19.9334C15.2691 19.9334 16.7285 20.5 17.866 20.5C19.0035 20.5 20.0001 19.4641 20.0001 18.1909C20.0009 17.8887 19.9458 17.589 19.8376 17.3069Z' fill='white'/%3E%3Cpath d='M8.25 15C9.2165 15 10 13.9926 10 12.75C10 11.5074 9.2165 10.5 8.25 10.5C7.2835 10.5 6.5 11.5074 6.5 12.75C6.5 13.9926 7.2835 15 8.25 15Z' fill='white'/%3E%3Cpath d='M11.75 12C12.7165 12 13.5 10.9926 13.5 9.75C13.5 8.50736 12.7165 7.5 11.75 7.5C10.7835 7.5 10 8.50736 10 9.75C10 10.9926 10.7835 12 11.75 12Z' fill='white'/%3E%3Cpath d='M16.25 12C17.2165 12 18 10.9926 18 9.75C18 8.50736 17.2165 7.5 16.25 7.5C15.2835 7.5 14.5 8.50736 14.5 9.75C14.5 10.9926 15.2835 12 16.25 12Z' fill='white'/%3E%3Cpath d='M19.75 15C20.7165 15 21.5 13.9926 21.5 12.75C21.5 11.5074 20.7165 10.5 19.75 10.5C18.7835 10.5 18 11.5074 18 12.75C18 13.9926 18.7835 15 19.75 15Z' fill='white'/%3E%3C/svg%3E");
  background-position: left 1.75rem center;
  background-repeat: no-repeat;
}
.mobile-charge-yapomoga .checkbox-label::before, .mobile-charge-yapomoga .checkbox-label::after {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.mobile-charge-yapomoga__form {
  display: -ms-flexbox;
  display: flex;
}
.mobile-charge-yapomoga__form .form-group {
  margin-bottom: 0;
}
.mobile-charge-yapomoga__input-amount {
  width: 10rem;
}
.mobile-charge-yapomoga__buttons {
  display: -ms-flexbox;
  display: flex;
}
.mobile-charge-yapomoga .mobile-charge-yapomoga__btn {
  display: block;
  width: 5rem;
  height: 3.5rem;
  margin-left: 1rem;
  padding: 0.8125rem 0.25rem;
  color: #ffffff;
  background-color: #DEE7F3;
}
.mobile-charge-yapomoga .mobile-charge-yapomoga__btn:hover, .mobile-charge-yapomoga .mobile-charge-yapomoga__btn:focus, .mobile-charge-yapomoga .mobile-charge-yapomoga__btn:active, .mobile-charge-yapomoga .mobile-charge-yapomoga__btn.active {
  background-color: #64B3F7;
  box-shadow: none;
  outline: none;
}
.mobile-charge-yapomoga .modal-yapomoga-charge .modal-content {
  border: 0;
  border-radius: 0.5rem;
}
.mobile-charge-yapomoga .modal-yapomoga-charge .close {
  position: absolute;
  right: 0.4375rem;
  top: 0.4375rem;
  opacity: 0.9;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__content {
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(39, 97, 146, 0.15);
  background-color: #ffffff;
  overflow: hidden;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__text {
  padding: 1rem 1.5rem 1.5rem;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__text-title {
  font-size: 1rem;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__img {
  position: relative;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__img-pet {
  min-width: 450px;
}
.mobile-charge-yapomoga .modal-yapomoga-charge__img-logo {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}
@media screen and (min-width: 576px) {
  .mobile-charge-yapomoga .modal-yapomoga-charge .modal-dialog {
    max-width: 630px;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 1199px) {
  .mobile-charge-yapomoga__input-amount {
    width: 7.5rem;
  }
}
@media screen and (max-width: 767px) {
  .mobile-charge-yapomoga {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mobile-charge-yapomoga__form {
    width: 100%;
    margin-top: 0.5rem;
  }
  .mobile-charge-yapomoga__form > .form-group {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .mobile-charge-yapomoga__input-amount {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .mobile-charge-yapomoga .mobile-charge-yapomoga__btn {
    margin-left: 0.625rem;
  }
  .mobile-charge-yapomoga .modal-yapomoga-charge__img-logo {
    right: auto;
    left: 1.25rem;
    bottom: 0.75rem;
  }
}/*# sourceMappingURL=mobile-charge-yapomoga.css.map */