.p2p-success {
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px rgba(97, 144, 183, 0.2);
  overflow: hidden;
}
.p2p-success [class|=confetti] {
  position: absolute;
  pointer-events: none;
}
.p2p-success .red {
  background-color: #d13447;
}
.p2p-success .yellow {
  background-color: #ffbf00;
}
.p2p-success .blue {
  background-color: #263672;
}
.p2p-success__main-container {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.p2p-success__title {
  position: relative;
  padding-top: 2.75rem;
  text-align: center;
}
.p2p-success__title.icon-success::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3px;
  width: 54px;
  height: 54px;
  background-size: 54px;
}
.p2p-success__title .p2p-success__subtitle {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
.p2p-success__title .p2p-success__amount {
  color: #172A3A;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1875;
}
.p2p-success__table-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #DEE7F3;
}
.p2p-success__table-row:last-child {
  border-bottom: 1px solid #DEE7F3;
}
.p2p-success__receipt {
  margin-top: 1.5rem;
}
.p2p-success__receipt .btn {
  padding: 0.25rem 0.5rem;
}
.p2p-success__receipt .btn span {
  font-size: 1rem;
}
.p2p-success__receipt .btn.btn-receipt span, .p2p-success__receipt .btn.btn-repeat span {
  padding-left: 1.75rem;
  background-position: left center;
  background-repeat: no-repeat;
}
.p2p-success__receipt .btn.btn-receipt span {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99902 14.4757V4.35608' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.30078 10.1387L9.49321 14.2733C9.77512 14.548 10.2305 14.548 10.5052 14.2733L14.6976 10.1387' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.85547 16.6441H16.1436' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.p2p-success__receipt .btn.btn-receipt:active span {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99902 14.4757V4.35608' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.30078 10.1387L9.49321 14.2733C9.77512 14.548 10.2305 14.548 10.5052 14.2733L14.6976 10.1387' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.85547 16.6441H16.1436' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.p2p-success__receipt .btn.btn-repeat span {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1203_16867)'%3E%3Cpath d='M3.25 15.0834H15.4167C16.3333 15.0834 17.0833 14.3334 17.0833 13.4167V10.9167' stroke='%23010101' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.41667 17.5834L3.5 15.6667C3.16667 15.3334 3.16667 14.8334 3.5 14.5L5.41667 12.5834' stroke='%23010101' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.7503 5.91669H4.58366C3.66699 5.91669 2.91699 6.66669 2.91699 7.58335V10.0834' stroke='%23010101' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.584 3.41669L16.5006 5.33335C16.834 5.66669 16.834 6.16669 16.5006 6.50002L14.584 8.41669' stroke='%23010101' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1203_16867'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.p2p-success__receipt .btn.btn-repeat:active span {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1203_16867)'%3E%3Cpath d='M3.25 15.0834H15.4167C16.3333 15.0834 17.0833 14.3334 17.0833 13.4167V10.9167' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.41667 17.5834L3.5 15.6667C3.16667 15.3334 3.16667 14.8334 3.5 14.5L5.41667 12.5834' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.7503 5.91669H4.58366C3.66699 5.91669 2.91699 6.66669 2.91699 7.58335V10.0834' stroke='%23FFFFFF' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.584 3.41669L16.5006 5.33335C16.834 5.66669 16.834 6.16669 16.5006 6.50002L14.584 8.41669' stroke='%23FFFFFF' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1203_16867'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.p2p-success__share {
  margin-top: 1.5rem;
}
.p2p-success__footer {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px dashed #DEE7F3;
}
.p2p-success__footer .p2p-success__details, .p2p-success__footer .p2p-success__review {
  padding-left: 1.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  color: #172A3A;
  background-repeat: no-repeat;
}
.p2p-success__footer .p2p-success__details:hover, .p2p-success__footer .p2p-success__review:hover {
  text-decoration: none;
}
.p2p-success__footer .p2p-success__details {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 19.5L0.500002 2.5C0.500002 1.4 1.4 0.499999 2.5 0.499999L13.5 0.5C14.6 0.5 15.5 1.4 15.5 2.5L15.5 19.5C15.5 20.6 14.6 21.5 13.5 21.5L2.5 21.5C1.4 21.5 0.5 20.6 0.5 19.5Z' stroke='%23172A3A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6.5L8 6.5' stroke='%23172A3A' stroke-width='0.7' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11L4 11' stroke='%23172A3A' stroke-width='0.7' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15.5L4 15.5' stroke='%23172A3A' stroke-width='0.7' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: left 0.25rem center;
}
.p2p-success__footer .p2p-success__review {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63601 18.5V14.6818H3.36328C2.25871 14.6818 1.36328 13.7864 1.36328 12.6818V2.5C1.36328 1.39543 2.25871 0.5 3.36328 0.5H18.9996C20.1042 0.5 20.9996 1.39543 20.9996 2.5V12.6818C20.9996 13.7864 20.1042 14.6818 18.9996 14.6818H10.4058C10.2006 14.6818 10.0004 14.7449 9.83231 14.8626L4.63601 18.5Z' stroke='%23172A3A'/%3E%3Cpath d='M5.18262 5.95477H16.6372M5.18262 8.68205H11.1826' stroke='%23172A3A'/%3E%3C/svg%3E");
  background-position: left center;
}
.p2p-success__collapse {
  padding-top: 1rem;
}
.p2p-success__info {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}
.p2p-success__info .p2p-success__info-close {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 6.50006L17.5 17.5001' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 6.50006L6.5 17.5001' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
.p2p-success__info-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.p2p-success__info-row h3 {
  font-size: 1.125rem;
}
.p2p-success__info-row span {
  color: #172A3A;
  line-height: 1.1;
}
.p2p-success__info-divider {
  border-bottom: 1px solid #DEE7F3;
}
@media screen and (max-width: 767px) {
  .p2p-success__title h4 {
    font-size: 1.125rem;
  }
  .p2p-success__table-row span {
    font-size: 0.875rem;
  }
  .p2p-success__footer .p2p-success__details, .p2p-success__footer .p2p-success__review {
    padding-left: 0;
    background-image: none;
  }
}
@media screen and (max-width: 575px) {
  .p2p-success__info-row--data {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .p2p-success__info-row--data span:first-child {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: #3B566E;
  }
  .p2p-success__receipt .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .p2p-success__receipt .row > [class^=col] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .p2p-success__receipt .btn {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
}

.share-buttons .share-buttons__button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 3.5rem;
  width: 100%;
  border-radius: 0.5rem;
}
.share-buttons .share-buttons__button--viber {
  background-color: #7C509A;
}
.share-buttons .share-buttons__button--telegram {
  background-color: #63BBFE;
}
.share-buttons .share-buttons__button--mail {
  background-color: #09BC8A;
}

.p2p-unsuccess {
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px rgba(97, 144, 183, 0.2);
}
.p2p-unsuccess__container {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.p2p-unsuccess__title {
  position: relative;
  padding-top: 2.75rem;
  text-align: center;
}
.p2p-unsuccess__title.icon-unsuccess::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3px;
  width: 54px;
  height: 54px;
  background-size: 54px;
}
.p2p-unsuccess__error .alert {
  border: 0;
}
.p2p-unsuccess__info .p2p-unsuccess__repeat span {
  padding-left: 1.75rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2105_140)'%3E%3Cpath d='M3.25 14.5833L15.4167 14.5833C16.3333 14.5833 17.0833 13.8333 17.0833 12.9167V10.4167' stroke='white' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.41667 17.0833L3.5 15.1666C3.16667 14.8333 3.16667 14.3333 3.5 14L5.41667 12.0833' stroke='white' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.7501 5.41666L4.58341 5.41666C3.66675 5.41666 2.91675 6.16666 2.91675 7.08332L2.91675 9.58332' stroke='white' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5835 2.91666L16.5002 4.83332C16.8335 5.16666 16.8335 5.66666 16.5002 5.99999L14.5835 7.91666' stroke='white' stroke-width='2.125' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2105_140'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: left center;
  background-repeat: no-repeat;
}

.support-buttons.row {
  margin-left: -4px;
  margin-right: -4px;
}
.support-buttons.row > [class^=col] {
  padding-left: 4px;
  padding-right: 4px;
}
.support-buttons .support-buttons__button {
  padding: 0.625rem;
}
.support-buttons .support-buttons__button span {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 2.5rem;
  background-position: left center;
  background-repeat: no-repeat;
}
.support-buttons .support-buttons__button--viber span {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5279 4.56965C18.5349 3.81012 14.3883 3.81012 10.3953 4.56965C8.62914 4.94942 6.40227 7.07611 6.01832 8.74708C5.32723 12.0131 5.32723 15.355 6.01832 18.621C6.47906 20.292 8.70593 22.4187 10.3953 22.7984C10.4721 22.7984 10.5489 22.8744 10.5489 22.9503V27.7354C10.5489 27.9632 10.856 28.1151 11.0096 27.8873L13.3133 25.5327C13.3133 25.5327 15.1562 23.6339 15.4634 23.3301C15.4634 23.3301 15.5401 23.2541 15.6169 23.2541C17.9206 23.3301 20.3011 23.1022 22.6047 22.7225C24.3709 22.3427 26.5977 20.216 26.9817 18.545C27.6728 15.2791 27.6728 11.9371 26.9817 8.67112C26.5209 7.07611 24.2941 4.94942 22.5279 4.56965ZM22.6047 18.8489C22.2208 19.6084 21.76 20.216 20.9922 20.5958C20.7618 20.6717 20.5314 20.7477 20.3011 20.8236C19.9939 20.7477 19.7635 20.6717 19.5332 20.5958C17.0759 19.6084 14.7723 18.2412 12.9293 16.2664C11.9311 15.1271 11.0864 13.8359 10.3953 12.4688C10.0881 11.7852 9.78098 11.1776 9.55061 10.494C9.32024 9.88637 9.70419 9.27875 10.0881 8.82303C10.4721 8.36731 10.9328 8.0635 11.4703 7.83564C11.8543 7.60778 12.2382 7.75968 12.5454 8.0635C13.1597 8.82303 13.774 9.58256 14.2347 10.418C14.5419 10.9497 14.4651 11.5573 13.9276 11.9371C13.774 12.0131 13.6972 12.089 13.5436 12.2409C13.4668 12.3169 13.3133 12.3928 13.2365 12.5447C13.0829 12.7726 13.0829 13.0005 13.1597 13.2283C13.774 14.9752 14.9258 16.3424 16.692 17.1019C16.9991 17.2538 17.2295 17.3298 17.6134 17.3298C18.151 17.2538 18.3813 16.6462 18.7653 16.3424C19.1492 16.0386 19.6099 16.0386 20.0707 16.2664C20.4546 16.4943 20.8386 16.7981 21.2993 17.1019C21.6832 17.4057 22.0672 17.6336 22.4511 17.9374C22.6815 18.0893 22.7583 18.4691 22.6047 18.8489ZM19.3796 13.1524C19.226 13.1524 19.3028 13.1524 19.3796 13.1524C19.0724 13.1524 18.9956 13.0005 18.9188 12.7726C18.9188 12.6207 18.9188 12.3928 18.8421 12.2409C18.7653 11.9371 18.6117 11.6333 18.3045 11.4054C18.151 11.3295 17.9974 11.2535 17.8438 11.1776C17.6134 11.1016 17.4599 11.1016 17.2295 11.1016C16.9991 11.0257 16.9223 10.8738 16.9223 10.6459C16.9223 10.494 17.1527 10.3421 17.3063 10.3421C18.5349 10.418 19.4564 11.1016 19.6099 12.5447C19.6099 12.6207 19.6099 12.7726 19.6099 12.8485C19.6099 13.0005 19.5332 13.1524 19.3796 13.1524ZM18.6117 9.81042C18.2277 9.65851 17.8438 9.50661 17.3831 9.43065C17.2295 9.43065 16.9991 9.3547 16.8456 9.3547C16.6152 9.3547 16.4616 9.20279 16.5384 8.97494C16.5384 8.74708 16.692 8.59517 16.9223 8.67112C17.6902 8.74708 18.3813 8.89898 19.0724 9.2028C20.4546 9.88637 21.2225 11.0257 21.4529 12.5447C21.4529 12.6207 21.4529 12.6966 21.4529 12.7726C21.4529 12.9245 21.4529 13.0764 21.4529 13.3043C21.4529 13.3802 21.4529 13.4562 21.4529 13.5321C21.3761 13.8359 20.8386 13.9119 20.7618 13.5321C20.7618 13.4562 20.685 13.3043 20.685 13.2283C20.685 12.5447 20.5314 11.8612 20.2243 11.2535C19.7635 10.57 19.226 10.1142 18.6117 9.81042ZM22.7583 14.3676C22.5279 14.3676 22.3743 14.1398 22.3743 13.9119C22.3743 13.4562 22.2976 13.0005 22.2208 12.5447C21.9136 10.1142 19.9171 8.13945 17.5367 7.75968C17.1527 7.68373 16.7688 7.68373 16.4616 7.60778C16.2312 7.60778 15.9241 7.60778 15.8473 7.30397C15.7705 7.07611 16.0009 6.84825 16.2312 6.84825C16.308 6.84825 16.3848 6.84825 16.3848 6.84825C16.5384 6.84825 19.5332 6.9242 16.3848 6.84825C19.61 6.9242 22.2976 9.05089 22.8351 12.2409C22.9119 12.7726 22.9887 13.3043 22.9887 13.9119C23.1422 14.1398 22.9887 14.3676 22.7583 14.3676Z' fill='%237C509A'/%3E%3C/svg%3E");
}
.support-buttons .support-buttons__button--telegram span {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.0534 4.95594L4.41338 14.0719C2.80004 14.7199 2.80938 15.6199 4.11738 16.0213L10.1867 17.9146L24.2294 9.05461C24.8934 8.65061 25.5 8.86794 25.0014 9.31061L13.624 19.5786H13.6214L13.624 19.5799L13.2054 25.8359C13.8187 25.8359 14.0894 25.5546 14.4334 25.2226L17.3814 22.3559L23.5134 26.8853C24.644 27.5079 25.456 27.1879 25.7374 25.8386L29.7627 6.86794C30.1747 5.21594 29.132 4.46794 28.0534 4.95594Z' fill='%2363BBFE'/%3E%3C/svg%3E");
}

.alert.alert-secondary .text-color {
  color: #3B566E;
}/*# sourceMappingURL=p2p-result.css.map */