.promocodes h1, .promocodes .h1 {
  font-size: 2.875rem;
  color: #F83715;
}

.promocodes-container {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li {
  padding-left: 4px;
  padding-right: 4px;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li a {
  width: 16px;
  height: 16px;
  border: 2px solid #DEE7F3;
  background-color: #fff;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li.active a, .promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li:hover a {
  border-color: #E84F35;
  background-color: #E84F35;
}

.promocodes-hot__title {
  padding-left: 2.3125rem;
  background: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.05645 9.22788C7.92731 10.6054 7.83668 13.0432 8.65004 14.0809C8.65004 14.0809 8.26715 11.4029 11.6996 8.04296C13.0816 6.69038 13.4011 4.8507 12.9185 3.47093C12.6443 2.68929 12.1436 2.04359 11.7086 1.59273C11.4549 1.32765 11.6497 0.890383 12.019 0.906242C14.2529 1.00593 17.8734 1.62671 19.4118 5.48734C20.0869 7.18202 20.1368 8.93335 19.815 10.7141C19.6111 11.8515 18.8861 14.3799 20.54 14.6903C21.7204 14.9123 22.2914 13.9744 22.5474 13.2992C22.6539 13.0183 23.0232 12.948 23.2225 13.1723C25.2163 15.4402 25.3862 18.1114 24.9739 20.411C24.1764 24.8562 19.6746 28.0915 15.2022 28.0915C9.6152 28.0915 5.16778 24.8947 4.01457 19.1083C3.55012 16.7724 3.78575 12.1505 7.38809 8.88804C7.65543 8.64335 8.0927 8.86085 8.05645 9.22788Z' fill='url(%23paint0_radial_6_7748)'/%3E%3Cpath d='M17.2436 17.5405C15.1841 14.8897 16.1062 11.8651 16.6115 10.6598C16.6794 10.5012 16.4982 10.3516 16.3555 10.4491C15.4696 11.0517 13.6548 12.47 12.8098 14.466C11.6656 17.1644 11.7472 18.4852 12.4246 20.0984C12.8324 21.0703 12.3589 21.2765 12.121 21.3127C11.8899 21.349 11.6769 21.1949 11.507 21.0341C11.0183 20.5647 10.6699 19.9684 10.5011 19.3122C10.4648 19.1717 10.2813 19.1332 10.1975 19.2488C9.56311 20.1256 9.2346 21.5325 9.21874 22.5271C9.1689 25.6016 11.7087 28.0938 14.7808 28.0938C18.6528 28.0938 21.4735 23.8117 19.2487 20.232C18.603 19.1898 17.9958 18.5079 17.2436 17.5405Z' fill='url(%23paint1_radial_6_7748)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-15.9924 -0.0694069 -0.114026 26.2403 14.0956 28.1619)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.314' stop-color='%23FF9800'/%3E%3Cstop offset='0.662' stop-color='%23FF6D00'/%3E%3Cstop offset='0.972' stop-color='%23F44336'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-0.169012 16.7322 12.5923 0.127178 14.9938 12.2476)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.214' stop-color='%23FFF176'/%3E%3Cstop offset='0.328' stop-color='%23FFF27D'/%3E%3Cstop offset='0.487' stop-color='%23FFF48F'/%3E%3Cstop offset='0.672' stop-color='%23FFF7AD'/%3E%3Cstop offset='0.793' stop-color='%23FFF9C4'/%3E%3Cstop offset='0.822' stop-color='%23FFF8BD' stop-opacity='0.804'/%3E%3Cstop offset='0.863' stop-color='%23FFF6AB' stop-opacity='0.529'/%3E%3Cstop offset='0.91' stop-color='%23FFF38D' stop-opacity='0.209'/%3E%3Cstop offset='0.941' stop-color='%23FFF176' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A") left center no-repeat;
}
.promocodes-hot__all {
  display: inline-block;
  padding-right: 2rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1663 6.1665L15.9999 12.0001' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.9998 12L10.1661 17.8336' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right center no-repeat;
}
.promocodes-hot__all:hover {
  text-decoration: none;
}

.promocodes-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 20rem;
  height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.promocodes-card__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.promocodes-card__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.promocodes-card__content .promocodes-card__title {
  font-size: 1.375rem;
  line-height: 1.181819;
  font-weight: 700;
  color: #172A3A;
}
.promocodes-card__content .promocodes-card__date {
  padding-left: 1.125rem;
  font-size: 0.875rem;
  line-height: 1.1428571;
  color: #7C9CAC;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_66_517)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 3.70825e-05C4.845 3.70825e-05 3.073 0.608037 1.84 1.84004C0.607 3.07204 0 4.84604 0 7.00004C0 9.15404 0.608 10.927 1.84 12.16C3.074 13.391 4.846 14 7 14C9.74 14 11.848 13.013 13.013 11.06C13.0582 10.9895 13.0887 10.9106 13.1028 10.8281C13.1168 10.7455 13.1142 10.661 13.0949 10.5795C13.0757 10.498 13.0403 10.4212 12.9908 10.3536C12.9413 10.2861 12.8787 10.2291 12.8068 10.1862C12.7349 10.1433 12.6551 10.1153 12.5721 10.1039C12.4892 10.0924 12.4048 10.0978 12.3239 10.1196C12.243 10.1414 12.1674 10.1792 12.1014 10.2308C12.0355 10.2824 11.9806 10.3468 11.94 10.42C11.06 11.893 9.432 12.75 7 12.75C5.075 12.75 3.66 12.21 2.724 11.276C1.79 10.34 1.25 8.92504 1.25 7.00004C1.25 5.07504 1.79 3.66004 2.724 2.72404C3.66 1.79004 5.075 1.25004 7 1.25004C7.50606 1.24753 8.01135 1.28969 8.51 1.37604C8.67095 1.40024 8.835 1.36071 8.96725 1.26584C9.0995 1.17097 9.18953 1.02825 9.21819 0.86803C9.24684 0.707811 9.21187 0.542734 9.1207 0.407903C9.02953 0.273071 8.88936 0.179123 8.73 0.146037C8.15866 0.0473088 7.57981 -0.00154193 7 3.70825e-05ZM11.103 1.01304C11.0329 0.970357 10.955 0.941908 10.8739 0.929313C10.7928 0.916718 10.71 0.920225 10.6302 0.939632C10.5504 0.95904 10.4753 0.993968 10.409 1.04242C10.3428 1.09088 10.2867 1.15191 10.244 1.22204C10.2013 1.29216 10.1729 1.37001 10.1603 1.45113C10.1477 1.53225 10.1512 1.61506 10.1706 1.69482C10.19 1.77459 10.2249 1.84975 10.2734 1.91602C10.3218 1.98228 10.3829 2.03836 10.453 2.08104C11.1521 2.50371 11.718 3.11469 12.086 3.84404C12.1641 3.98706 12.2949 4.09394 12.4506 4.1419C12.6064 4.18985 12.7747 4.1751 12.9197 4.10077C13.0647 4.02644 13.1749 3.89842 13.2269 3.74399C13.2789 3.58956 13.2685 3.42093 13.198 3.27404C12.7249 2.33923 11.9991 1.55589 11.103 1.01304ZM13.932 5.79504C13.9224 5.71349 13.8969 5.63462 13.8568 5.56295C13.8167 5.49127 13.7629 5.42819 13.6985 5.37731C13.6341 5.32642 13.5602 5.28872 13.4812 5.26637C13.4022 5.24402 13.3196 5.23745 13.238 5.24704C13.1564 5.25662 13.0776 5.28218 13.0059 5.32224C12.9342 5.36231 12.8712 5.4161 12.8203 5.48054C12.7694 5.54499 12.7317 5.61882 12.7093 5.69783C12.687 5.77685 12.6804 5.85949 12.69 5.94104C12.73 6.27504 12.75 6.62804 12.75 7.00004C12.75 7.5267 12.7103 8.01604 12.631 8.46804C12.6028 8.63141 12.6406 8.79931 12.7361 8.93481C12.8317 9.0703 12.9771 9.16229 13.1405 9.19054C13.3039 9.21878 13.4718 9.18097 13.6073 9.08542C13.7428 8.98987 13.8348 8.84441 13.863 8.68104C13.9543 8.1517 14 7.59137 14 7.00004C14 6.5827 13.9773 6.18104 13.932 5.79504ZM7.875 4.98504C7.875 4.75297 7.78281 4.53041 7.61872 4.36632C7.45462 4.20222 7.23206 4.11004 7 4.11004C6.76794 4.11004 6.54538 4.20222 6.38128 4.36632C6.21719 4.53041 6.125 4.75297 6.125 4.98504V7.25504C6.125 7.46404 6.2 7.66604 6.336 7.82504L8.268 10.076C8.34285 10.1632 8.43415 10.2348 8.53667 10.2868C8.6392 10.3387 8.75094 10.3699 8.86553 10.3786C8.98012 10.3873 9.0953 10.3734 9.20451 10.3376C9.31371 10.3018 9.4148 10.2449 9.502 10.17C9.5892 10.0952 9.6608 10.0039 9.71271 9.90136C9.76463 9.79884 9.79584 9.68709 9.80457 9.5725C9.8133 9.45792 9.79937 9.34273 9.76359 9.23353C9.7278 9.12432 9.67085 9.02323 9.596 8.93604L7.876 6.93104L7.875 4.98504Z' fill='%237C9CAC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_66_517'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: left top;
  background-repeat: no-repeat;
}
.promocodes-card__content .promocodes-card__date--hot {
  padding: 0.1875rem 0 0.1875rem 1.625rem;
  line-height: 1.2857142;
  color: #E84F35;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.91895 16.5C3.91895 17.3864 4.09354 18.2642 4.43276 19.0831C4.77198 19.9021 5.26918 20.6462 5.89597 21.273C6.52277 21.8998 7.26688 22.397 8.08583 22.7362C8.90478 23.0754 9.78252 23.25 10.6689 23.25C11.5554 23.25 12.4331 23.0754 13.2521 22.7362C14.071 22.397 14.8151 21.8998 15.4419 21.273C16.0687 20.6462 16.5659 19.9021 16.9051 19.0831C17.2444 18.2642 17.4189 17.3864 17.4189 16.5C17.4189 14.7098 16.7078 12.9929 15.4419 11.727C14.176 10.4612 12.4592 9.75 10.6689 9.75C8.87873 9.75 7.16185 10.4612 5.89597 11.727C4.6301 12.9929 3.91895 14.7098 3.91895 16.5Z' stroke='%23E84F35' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.75 12.75V16.5L12.75 18.75' stroke='%23E84F35' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.379 15.764C18.4888 15.4043 19.4548 14.6997 20.1365 13.753C20.8181 12.8062 21.1798 11.6666 21.169 10.5C21.1344 8.52311 20.3266 6.63844 18.919 5.25C18.8764 5.59762 18.7641 5.93307 18.5887 6.2362C18.4133 6.53933 18.1784 6.8039 17.8982 7.01403C17.6181 7.22416 17.2983 7.37552 16.9582 7.45903C16.6181 7.54254 16.2646 7.55648 15.919 7.5C14.9624 6.69578 14.2971 5.59898 14.026 4.37899C13.7549 3.159 13.893 1.88368 14.419 0.75C9.73097 0.75 6.73097 3.516 6.16897 7.5C5.47746 7.57174 4.78435 7.37987 4.22817 6.96273C3.672 6.5456 3.29373 5.93394 3.16897 5.25C-0.595026 8.45 0.315974 14.293 3.95797 15.767' stroke='%23E84F35' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.promocodes-card__content .promocodes-card__info {
  line-height: 1.1875;
  color: #172A3A;
}

.promocodes-all {
  margin-top: 2.5rem;
}

.promocodes-search .form-input {
  height: 4.5rem;
  padding: 1.875rem 1rem 0.75rem 4.3125rem;
  background: #ffffff url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4103 23.8206C18.7121 23.8206 23.8207 18.712 23.8207 12.4103C23.8207 6.10856 18.7121 1 12.4103 1C6.10859 1 1 6.10856 1 12.4103C1 18.712 6.10859 23.8206 12.4103 23.8206Z' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M27.182 27.1818L20.4851 20.485' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") left 1rem center no-repeat;
}
.promocodes-search .form-input:focus ~ .form-label, .promocodes-search .form-input.filled ~ .form-label {
  top: 0.5rem;
  font-size: 0.875rem;
}
.promocodes-search .form-label {
  width: auto;
  left: 4.5rem;
  top: 1.375rem;
  font-size: 1.25rem;
}/*# sourceMappingURL=promocodes.css.map */