@charset "UTF-8";
.promocodes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #F7FBFF;
  background-position: top 4.75rem center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.promocodes h1, .promocodes .h1 {
  font-size: 2.875rem;
  color: #F83715;
}
.promocodes .inactive {
  display: none;
}
.promocodes .promocodes-link-all {
  display: inline-block;
  padding-right: 2rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1663 6.1665L15.9999 12.0001' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.9998 12L10.1661 17.8336' stroke='%23E84F35' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right center no-repeat;
}
.promocodes .promocodes-link-all:hover {
  text-decoration: none;
}

.promocodes-container {
  padding-top: 2.75rem;
  padding-bottom: 3.75rem;
}

.promocodes-discount-date {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 3.70825e-05C4.845 3.70825e-05 3.073 0.608037 1.84 1.84004C0.607 3.07204 0 4.84604 0 7.00004C0 9.15404 0.608 10.927 1.84 12.16C3.074 13.391 4.846 14 7 14C9.74 14 11.848 13.013 13.013 11.06C13.0582 10.9895 13.0887 10.9106 13.1028 10.8281C13.1168 10.7455 13.1142 10.661 13.0949 10.5795C13.0757 10.498 13.0403 10.4212 12.9908 10.3536C12.9413 10.2861 12.8787 10.2291 12.8068 10.1862C12.7349 10.1433 12.6551 10.1153 12.5721 10.1039C12.4892 10.0924 12.4048 10.0978 12.3239 10.1196C12.243 10.1414 12.1674 10.1792 12.1014 10.2308C12.0355 10.2824 11.9806 10.3468 11.94 10.42C11.06 11.893 9.432 12.75 7 12.75C5.075 12.75 3.66 12.21 2.724 11.276C1.79 10.34 1.25 8.92504 1.25 7.00004C1.25 5.07504 1.79 3.66004 2.724 2.72404C3.66 1.79004 5.075 1.25004 7 1.25004C7.50606 1.24753 8.01135 1.28969 8.51 1.37604C8.67095 1.40024 8.835 1.36071 8.96725 1.26584C9.0995 1.17097 9.18953 1.02825 9.21819 0.86803C9.24684 0.707811 9.21187 0.542734 9.1207 0.407903C9.02953 0.273071 8.88936 0.179123 8.73 0.146037C8.15866 0.0473088 7.57981 -0.00154193 7 3.70825e-05ZM11.103 1.01304C11.0329 0.970357 10.955 0.941908 10.8739 0.929313C10.7928 0.916718 10.71 0.920225 10.6302 0.939632C10.5504 0.95904 10.4753 0.993968 10.409 1.04242C10.3428 1.09088 10.2867 1.15191 10.244 1.22204C10.2013 1.29216 10.1729 1.37001 10.1603 1.45113C10.1477 1.53225 10.1512 1.61506 10.1706 1.69482C10.19 1.77459 10.2249 1.84975 10.2734 1.91602C10.3218 1.98228 10.3829 2.03836 10.453 2.08104C11.1521 2.50371 11.718 3.11469 12.086 3.84404C12.1641 3.98706 12.2949 4.09394 12.4506 4.1419C12.6064 4.18985 12.7747 4.1751 12.9197 4.10077C13.0647 4.02644 13.1749 3.89842 13.2269 3.74399C13.2789 3.58956 13.2685 3.42093 13.198 3.27404C12.7249 2.33923 11.9991 1.55589 11.103 1.01304ZM13.932 5.79504C13.9224 5.71349 13.8969 5.63462 13.8568 5.56295C13.8167 5.49127 13.7629 5.42819 13.6985 5.37731C13.6341 5.32642 13.5602 5.28872 13.4812 5.26637C13.4022 5.24402 13.3196 5.23745 13.238 5.24704C13.1564 5.25662 13.0776 5.28218 13.0059 5.32224C12.9342 5.36231 12.8712 5.4161 12.8203 5.48054C12.7694 5.54499 12.7317 5.61882 12.7093 5.69783C12.687 5.77685 12.6804 5.85949 12.69 5.94104C12.73 6.27504 12.75 6.62804 12.75 7.00004C12.75 7.5267 12.7103 8.01604 12.631 8.46804C12.6028 8.63141 12.6406 8.79931 12.7361 8.93481C12.8317 9.0703 12.9771 9.16229 13.1405 9.19054C13.3039 9.21878 13.4718 9.18097 13.6073 9.08542C13.7428 8.98987 13.8348 8.84441 13.863 8.68104C13.9543 8.1517 14 7.59137 14 7.00004C14 6.5827 13.9773 6.18104 13.932 5.79504ZM7.875 4.98504C7.875 4.75297 7.78281 4.53041 7.61872 4.36632C7.45462 4.20222 7.23206 4.11004 7 4.11004C6.76794 4.11004 6.54538 4.20222 6.38128 4.36632C6.21719 4.53041 6.125 4.75297 6.125 4.98504V7.25504C6.125 7.46404 6.2 7.66604 6.336 7.82504L8.268 10.076C8.34285 10.1632 8.43415 10.2348 8.53667 10.2868C8.6392 10.3387 8.75094 10.3699 8.86553 10.3786C8.98012 10.3873 9.0953 10.3734 9.20451 10.3376C9.31371 10.3018 9.4148 10.2449 9.502 10.17C9.5892 10.0952 9.6608 10.0039 9.71271 9.90136C9.76463 9.79884 9.79584 9.68709 9.80457 9.5725C9.8133 9.45792 9.79937 9.34273 9.76359 9.23353C9.7278 9.12432 9.67085 9.02323 9.596 8.93604L7.876 6.93104L7.875 4.98504Z' fill='%23E84F35'/%3E%3C/svg%3E%0A");
  background-position: left top 0.25rem;
  background-repeat: no-repeat;
}
.promocodes-discount-date--hot {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.55625 6.36405C5.46718 7.31405 5.40468 8.9953 5.96562 9.71092C5.96562 9.71092 5.70156 7.86405 8.06875 5.54686C9.02187 4.61405 9.24218 3.3453 8.90937 2.39373C8.72031 1.85467 8.375 1.40936 8.075 1.09842C7.9 0.915609 8.03437 0.614047 8.28906 0.624984C9.82968 0.693734 12.3266 1.12186 13.3875 3.78436C13.8531 4.95311 13.8875 6.16092 13.6656 7.38905C13.525 8.17342 13.025 9.91717 14.1656 10.1312C14.9797 10.2844 15.3734 9.63748 15.55 9.17186C15.6234 8.97811 15.8781 8.92967 16.0156 9.08436C17.3906 10.6484 17.5078 12.4906 17.2234 14.0765C16.6734 17.1422 13.5687 19.3734 10.4844 19.3734C6.63125 19.3734 3.56406 17.1687 2.76875 13.1781C2.44843 11.5672 2.61093 8.37967 5.09531 6.12967C5.27968 5.96092 5.58125 6.11092 5.55625 6.36405Z' fill='url(%23paint0_radial_272_919)'/%3E%3Cpath d='M11.8923 12.0969C10.472 10.2687 11.1079 8.1828 11.4564 7.35155C11.5032 7.24217 11.3782 7.13905 11.2798 7.20624C10.6689 7.62186 9.41729 8.59999 8.83448 9.97655C8.04542 11.8375 8.10167 12.7484 8.56886 13.8609C8.85011 14.5312 8.52354 14.6734 8.35948 14.6984C8.20011 14.7234 8.05323 14.6172 7.93604 14.5062C7.59898 14.1825 7.35875 13.7713 7.24229 13.3187C7.21729 13.2219 7.09073 13.1953 7.03292 13.275C6.59542 13.8797 6.36886 14.85 6.35792 15.5359C6.32354 17.6562 8.07511 19.375 10.1939 19.375C12.8642 19.375 14.8095 16.4219 13.2751 13.9531C12.8298 13.2344 12.411 12.764 11.8923 12.0969Z' fill='url(%23paint1_radial_272_919)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_272_919' cx='0' cy='0' r='1' gradientTransform='matrix(-11.0292 -0.0478668 -0.0786383 18.0967 9.72121 19.422)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.314' stop-color='%23FF9800'/%3E%3Cstop offset='0.662' stop-color='%23FF6D00'/%3E%3Cstop offset='0.972' stop-color='%23F44336'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_272_919' cx='0' cy='0' r='1' gradientTransform='matrix(-0.11656 11.5395 8.68432 0.0877088 10.3407 8.44661)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.214' stop-color='%23FFF176'/%3E%3Cstop offset='0.328' stop-color='%23FFF27D'/%3E%3Cstop offset='0.487' stop-color='%23FFF48F'/%3E%3Cstop offset='0.672' stop-color='%23FFF7AD'/%3E%3Cstop offset='0.793' stop-color='%23FFF9C4'/%3E%3Cstop offset='0.822' stop-color='%23FFF8BD' stop-opacity='0.804'/%3E%3Cstop offset='0.863' stop-color='%23FFF6AB' stop-opacity='0.529'/%3E%3Cstop offset='0.91' stop-color='%23FFF38D' stop-opacity='0.209'/%3E%3Cstop offset='0.941' stop-color='%23FFF176' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: left top 0.0625rem;
}

.promocodes-empty-logo {
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M45.28 6.148C31.808 4.232 24.064 3.884 10.664 6.156C8.04799 6.596 5.64799 7.628 3.87199 9.316C2.94821 10.1911 2.21601 11.2483 1.72167 12.4208C1.22732 13.5933 0.981585 14.8557 0.999985 16.128V20.78C0.999985 21.58 1.47599 22.3 2.20799 22.616C3.28439 23.0799 4.20134 23.849 4.84558 24.8282C5.48982 25.8074 5.83314 26.9539 5.83314 28.126C5.83314 29.2981 5.48982 30.4446 4.84558 31.4238C4.20134 32.403 3.28439 33.1721 2.20799 33.636C1.84873 33.7909 1.54281 34.0478 1.32809 34.3749C1.11338 34.7019 0.999301 35.0848 0.999985 35.476V40.128C0.999985 45.82 5.34799 49.408 10.74 50.108C24.212 51.868 31.812 51.852 45.26 50.108C48.004 49.756 50.44 48.712 52.212 46.976C54.008 45.216 55 42.848 55 40.128V35.472C54.9999 35.0814 54.8854 34.6995 54.6708 34.3732C54.4561 34.0469 54.1506 33.7907 53.792 33.636C52.7156 33.1721 51.7986 32.403 51.1544 31.4238C50.5102 30.4446 50.1668 29.2981 50.1668 28.126C50.1668 26.9539 50.5102 25.8074 51.1544 24.8282C51.7986 23.849 52.7156 23.0799 53.792 22.616C54.1506 22.4613 54.4561 22.2051 54.6708 21.8788C54.8854 21.5525 54.9999 21.1706 55 20.78V16.128C55 10.384 50.312 6.86 45.28 6.148Z' fill='%23FFDBD4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.748 24.044C21.273 24.0608 21.7961 23.9718 22.2861 23.7825C22.7761 23.5932 23.2231 23.3072 23.6004 22.9418C23.9778 22.5763 24.2778 22.1387 24.4827 21.655C24.6876 21.1713 24.7932 20.6513 24.7932 20.126C24.7932 19.6007 24.6876 19.0807 24.4827 18.597C24.2778 18.1133 23.9778 17.6757 23.6004 17.3102C23.2231 16.9447 22.7761 16.6588 22.2861 16.4695C21.7961 16.2801 21.273 16.1912 20.748 16.208C19.7083 16.208 18.7113 16.621 17.9761 17.3561C17.241 18.0913 16.828 19.0883 16.828 20.128C16.828 21.1676 17.241 22.1647 17.9761 22.8999C18.7113 23.635 19.7083 24.044 20.748 24.044ZM35.252 40.124C35.7811 40.1479 36.3096 40.0644 36.8056 39.8783C37.3015 39.6923 37.7547 39.4077 38.1376 39.0418C38.5205 38.6758 38.8252 38.236 39.0335 37.7489C39.2417 37.2619 39.349 36.7377 39.349 36.208C39.349 35.6783 39.2417 35.1541 39.0335 34.6671C38.8252 34.18 38.5205 33.7402 38.1376 33.3742C37.7547 33.0082 37.3015 32.7237 36.8056 32.5376C36.3096 32.3516 35.7811 32.2681 35.252 32.292C34.2345 32.3245 33.2696 32.7515 32.5614 33.4828C31.8532 34.214 31.4572 35.192 31.4572 36.21C31.4572 37.228 31.8532 38.206 32.5614 38.9372C33.2696 39.6684 34.2345 40.0915 35.252 40.124ZM38.292 20.524C38.7089 20.0079 38.9037 19.3473 38.8336 18.6875C38.7634 18.0278 38.4341 17.4229 37.918 17.006C37.4019 16.5891 36.7413 16.3943 36.0815 16.4644C35.4218 16.5345 34.8169 16.8639 34.4 17.38C28.32 24.92 24.392 28.8 16.408 35.372C15.9135 35.7985 15.6055 36.4015 15.5498 37.0521C15.4942 37.7028 15.6953 38.3494 16.1102 38.8536C16.5251 39.3579 17.1208 39.6798 17.77 39.7505C18.4192 39.8212 19.0702 39.6351 19.584 39.232C27.8 32.472 31.972 28.356 38.292 20.524Z' fill='%23FF4141'/%3E%3C/svg%3E%0A") center no-repeat;
}

.promocodes-slider {
  min-height: 362px;
  border-radius: 1.5rem;
  background-color: #ffffff;
}
.promocodes-slider-wrapper {
  position: relative;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  width: 300px;
  left: 60px;
  bottom: 54px;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li {
  padding-left: 7px;
  padding-right: 7px;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li a {
  width: 8px;
  height: 8px;
  background-color: #D8E6ED;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li.active a, .promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #E84F35;
}
.promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg > li.active a {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.promocodes-slider-wrapper .lSSlideOuter .lSAction > a {
  bottom: 50px;
  width: 30px;
  height: 30px;
  opacity: 1;
}
.promocodes-slider-wrapper .lSSlideOuter .lSAction > .lSPrev {
  top: auto;
  left: 60px;
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9641 7.70801L10.6721 15' stroke='%23DEE7F3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6721 15L17.9641 22.292' stroke='%23DEE7F3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.promocodes-slider-wrapper .lSSlideOuter .lSAction > .lSNext {
  top: auto;
  right: auto;
  left: 330px;
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0359 22.292L19.3279 15' stroke='%23DEE7F3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.3279 14.9999L12.0359 7.70793' stroke='%23DEE7F3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}
.promocodes-slider-item {
  display: -ms-flexbox;
  display: flex;
  min-height: 362px;
}
.promocodes-slider-item__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 62px 47px 102px 60px;
}
.promocodes-slider-item__content .h1 {
  color: #172A3A;
}
.promocodes-slider-item__content .promocodes-slider-item__content-link {
  max-width: 287px;
}
.promocodes-slider-item__img {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: 32.75rem;
  aspect-ratio: 524/362;
  border-radius: 1.5rem;
  background-color: #E84F35;
  overflow: hidden;
}
.promocodes-slider-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.promocodes-hot__title {
  padding-left: 2.3125rem;
  background: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.05645 9.22788C7.92731 10.6054 7.83668 13.0432 8.65004 14.0809C8.65004 14.0809 8.26715 11.4029 11.6996 8.04296C13.0816 6.69038 13.4011 4.8507 12.9185 3.47093C12.6443 2.68929 12.1436 2.04359 11.7086 1.59273C11.4549 1.32765 11.6497 0.890383 12.019 0.906242C14.2529 1.00593 17.8734 1.62671 19.4118 5.48734C20.0869 7.18202 20.1368 8.93335 19.815 10.7141C19.6111 11.8515 18.8861 14.3799 20.54 14.6903C21.7204 14.9123 22.2914 13.9744 22.5474 13.2992C22.6539 13.0183 23.0232 12.948 23.2225 13.1723C25.2163 15.4402 25.3862 18.1114 24.9739 20.411C24.1764 24.8562 19.6746 28.0915 15.2022 28.0915C9.6152 28.0915 5.16778 24.8947 4.01457 19.1083C3.55012 16.7724 3.78575 12.1505 7.38809 8.88804C7.65543 8.64335 8.0927 8.86085 8.05645 9.22788Z' fill='url(%23paint0_radial_6_7748)'/%3E%3Cpath d='M17.2436 17.5405C15.1841 14.8897 16.1062 11.8651 16.6115 10.6598C16.6794 10.5012 16.4982 10.3516 16.3555 10.4491C15.4696 11.0517 13.6548 12.47 12.8098 14.466C11.6656 17.1644 11.7472 18.4852 12.4246 20.0984C12.8324 21.0703 12.3589 21.2765 12.121 21.3127C11.8899 21.349 11.6769 21.1949 11.507 21.0341C11.0183 20.5647 10.6699 19.9684 10.5011 19.3122C10.4648 19.1717 10.2813 19.1332 10.1975 19.2488C9.56311 20.1256 9.2346 21.5325 9.21874 22.5271C9.1689 25.6016 11.7087 28.0938 14.7808 28.0938C18.6528 28.0938 21.4735 23.8117 19.2487 20.232C18.603 19.1898 17.9958 18.5079 17.2436 17.5405Z' fill='url(%23paint1_radial_6_7748)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-15.9924 -0.0694069 -0.114026 26.2403 14.0956 28.1619)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.314' stop-color='%23FF9800'/%3E%3Cstop offset='0.662' stop-color='%23FF6D00'/%3E%3Cstop offset='0.972' stop-color='%23F44336'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_6_7748' cx='0' cy='0' r='1' gradientTransform='matrix(-0.169012 16.7322 12.5923 0.127178 14.9938 12.2476)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.214' stop-color='%23FFF176'/%3E%3Cstop offset='0.328' stop-color='%23FFF27D'/%3E%3Cstop offset='0.487' stop-color='%23FFF48F'/%3E%3Cstop offset='0.672' stop-color='%23FFF7AD'/%3E%3Cstop offset='0.793' stop-color='%23FFF9C4'/%3E%3Cstop offset='0.822' stop-color='%23FFF8BD' stop-opacity='0.804'/%3E%3Cstop offset='0.863' stop-color='%23FFF6AB' stop-opacity='0.529'/%3E%3Cstop offset='0.91' stop-color='%23FFF38D' stop-opacity='0.209'/%3E%3Cstop offset='0.941' stop-color='%23FFF176' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A") left center no-repeat;
}

.promocodes-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 20rem;
  height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.promocodes-card__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.promocodes-card__logo a {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: inherit;
  max-width: 100%;
  padding: 0.5rem 0;
  color: #172A3A;
  text-decoration: none;
}
.promocodes-card__logo img {
  max-width: 100%;
  max-height: 100%;
}
.promocodes-card__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.promocodes-card__content .promocodes-card__name {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.1428571;
  font-weight: 700;
  color: #172A3A;
  text-decoration: none;
}
.promocodes-card__content .promocodes-card__title {
  font-size: 1.375rem;
  line-height: 1.181819;
  font-weight: 700;
  color: #172A3A;
}
.promocodes-card__content .promocodes-card__info {
  line-height: 1.1875;
  color: #172A3A;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.promocodes-card__discount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 0.75rem;
}
.promocodes-card__discount .promocodes-card__discount-number {
  position: relative;
  margin-left: 0.75rem;
  margin-right: auto;
  padding: 0.1875rem 0.1875rem 0.125rem 0;
  font-size: 1.3125rem;
  line-height: 1.1904762;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.1875rem;
  background-color: #64B3F7;
}
.promocodes-card__discount .promocodes-card__discount-number::before {
  position: absolute;
  content: "";
  left: -0.75rem;
  top: 0;
  width: 0.75rem;
  height: 1.875rem;
  border: 0.875rem solid transparent;
  border-left-width: 0;
  border-right-color: #64B3F7;
  border-radius: 0.1875rem;
}
.promocodes-card__discount .promocodes-card__discount-number--top {
  background-color: #E84F35;
}
.promocodes-card__discount .promocodes-card__discount-number--top::before {
  border-right-color: #E84F35;
}
.promocodes-card__discount .promocodes-card__discount-date {
  margin-right: auto;
  padding: 0.125rem 0 0.125rem 1.125rem;
  line-height: 1.1875;
  color: #E84F35;
}
.promocodes-card__discount .promocodes-card__discount-date--hot {
  font-weight: 700;
  margin-right: 0;
  padding-left: 1.5rem;
}
.promocodes-card > .btn {
  padding: 0.375rem 1rem;
}

.promocodes-all {
  margin-top: 2.5rem;
}

.promocodes-search .form-input {
  height: 4.5rem;
  padding: 1.875rem 1rem 0.75rem 4.3125rem;
  background: #ffffff url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4103 23.8206C18.7121 23.8206 23.8207 18.712 23.8207 12.4103C23.8207 6.10856 18.7121 1 12.4103 1C6.10859 1 1 6.10856 1 12.4103C1 18.712 6.10859 23.8206 12.4103 23.8206Z' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M27.182 27.1818L20.4851 20.485' stroke='%23E84F35' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") left 1rem center no-repeat;
}
.promocodes-search .form-input:focus ~ .form-label, .promocodes-search .form-input.filled ~ .form-label {
  top: 0.5rem;
  font-size: 0.875rem;
}
.promocodes-search .form-label {
  width: auto;
  max-width: calc(100% - 5.625rem);
  left: 4.5rem;
  top: 1.375rem;
  font-size: 1.25rem;
}

.promocodes-card-modal .modal-content {
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(39, 97, 146, 0.15);
}
.promocodes-card-modal .modal-header {
  padding-bottom: 0;
  border-bottom-width: 0;
}
.promocodes-card-modal .modal-header .close {
  padding: 0.625rem 0.8125rem;
  opacity: 1;
}
.promocodes-card-modal .modal-body {
  padding: 0 1.5rem 1.5rem;
}
.promocodes-card-modal__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.promocodes-card-modal__logo a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  height: inherit;
  max-width: 100%;
  margin-inline: 0.75rem;
  padding: 0.5rem 0;
  color: #172A3A;
  text-decoration: none;
}
.promocodes-card-modal__logo a img {
  max-width: 100%;
  max-height: 100%;
}
.promocodes-card-modal .promocodes-card-modal__name {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.1428571;
  font-weight: 700;
  color: #172A3A;
  text-decoration: none;
}
.promocodes-card-modal .promocodes-card-modal__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #172A3A;
}
.promocodes-card-modal .promocodes-card-modal__info {
  font-size: 0.875rem;
}
.promocodes-card-modal__promocode {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 3.5rem;
  margin-bottom: 1rem;
  padding-right: 1.875rem;
  border-radius: 0.5rem;
  background-color: #F0FFF7;
  transition: background-color 0.4s ease-in-out;
}
.promocodes-card-modal__promocode span {
  font-size: 1.5rem;
  line-height: 1.166667;
  font-weight: 700;
  color: #172A3A;
}
.promocodes-card-modal__promocode a {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25 2.25C7.00736 2.25 6 3.25736 6 4.5V6H4.5C3.25736 6 2.25 7.00736 2.25 8.25V19.5C2.25 20.7426 3.25736 21.75 4.5 21.75H15.75C16.9926 21.75 18 20.7426 18 19.5V18H19.5C20.7426 18 21.75 16.9926 21.75 15.75V4.5C21.75 3.25736 20.7426 2.25 19.5 2.25H8.25ZM16.5 18V19.5C16.5 19.9142 16.1642 20.25 15.75 20.25H4.5C4.08579 20.25 3.75 19.9142 3.75 19.5V8.25C3.75 7.83579 4.08579 7.5 4.5 7.5H6V15.75C6 16.9926 7.00736 18 8.25 18H16.5ZM7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75H19.5C19.9142 3.75 20.25 4.08579 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5H8.25C7.83579 16.5 7.5 16.1642 7.5 15.75V4.5Z' fill='%230C6858'/%3E%3C/svg%3E") center no-repeat;
}
.promocodes-card-modal__promocode a:hover {
  cursor: pointer;
}
.promocodes-card-modal__promocode.copied {
  background-color: rgb(189, 255, 219.8);
}
.promocodes-card-modal__discount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-number {
  position: relative;
  margin-left: 0.75rem;
  margin-right: 1rem;
  padding: 0.1875rem 0.1875rem 0.125rem 0;
  font-size: 1.3125rem;
  line-height: 1.1904762;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.1875rem;
  background-color: #64B3F7;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-number::before {
  position: absolute;
  content: "";
  left: -0.75rem;
  top: 0;
  width: 0.75rem;
  height: 1.875rem;
  border: 0.875rem solid transparent;
  border-left-width: 0;
  border-right-color: #64B3F7;
  border-radius: 0.1875rem;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-number--top {
  background-color: #E84F35;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-number--top::before {
  border-right-color: #E84F35;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-date {
  padding: 0.125rem 0 0.125rem 1.125rem;
  line-height: 1.1875;
  color: #E84F35;
}
.promocodes-card-modal__discount .promocodes-card-modal__discount-date--hot {
  font-weight: 700;
  padding-left: 1.5rem;
}

@media screen and (max-width: 991px) {
  .promocodes {
    background-position: top 4.125rem center;
  }
  .promocodes-slider-wrapper .lSSlideOuter .lSPager.lSpg {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 30px;
  }
  .promocodes-slider-wrapper .lSSlideOuter .lSAction > a {
    bottom: 26px;
  }
  .promocodes-slider-wrapper .lSSlideOuter .lSAction > .lSPrev {
    left: calc(50% - 150px);
  }
  .promocodes-slider-wrapper .lSSlideOuter .lSAction > .lSNext {
    left: auto;
    right: calc(50% - 150px);
  }
  .promocodes-slider-item {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .promocodes-slider-item__img {
    -ms-flex-order: -1;
        order: -1;
    width: 100%;
  }
  .promocodes-slider-item__content {
    padding: 1.5rem;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .promocodes h1, .promocodes .h1 {
    font-size: 2rem;
  }
  .promocodes h2, .promocodes .h2 {
    font-size: 1.5rem;
  }
  .promocodes-container {
    padding-top: 1.125rem;
    padding-bottom: 2rem;
  }
  .promocodes-slider-item__content {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .promocodes-slider-item__content .promocodes-slider-item__content-link {
    max-width: none;
  }
}
/* Trader Page */
.trader-main {
  padding-right: 0.625rem;
}

.trader-card {
  display: -ms-flexbox;
  display: flex;
  min-height: 12.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.trader-card__logo {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 12.5rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.trader-card__logo a {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: inherit;
  max-width: 100%;
  padding: 0.5rem 0;
  color: #172A3A;
  text-decoration: none;
}
.trader-card__logo img {
  max-width: 100%;
  max-height: 100%;
}
.trader-card--current .trader-card__logo {
  -ms-flex-pack: center;
      justify-content: center;
}
.trader-card__content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 1rem 1.5rem 1rem 2rem;
}
.trader-card__content::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to top, rgba(222, 231, 243, 0) 50%, #DEE7F3 0%);
  background-position: top left;
  background-repeat: repeat-y;
  background-size: 1px 12px;
}
.trader-card__content .trader-card__name {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.1428571;
  font-weight: 700;
  color: #172A3A;
  text-decoration: none;
}
.trader-card__content .trader-card__title {
  font-size: 1.375rem;
  line-height: 1.181819;
  font-weight: 700;
  color: #172A3A;
  overflow-wrap: break-word;
}
.trader-card__content .trader-card__date {
  padding-left: 1.125rem;
  font-size: 0.875rem;
  line-height: 1.1428571;
  color: #7C9CAC;
}
.trader-card__content .trader-card__date--hot {
  padding: 0.1875rem 0 0.1875rem 1.625rem;
  padding-top: 0.25rem;
  line-height: 1.2857142;
  color: #E84F35;
}
.trader-card__content .trader-card__info {
  line-height: 1.1875;
  color: #172A3A;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
.trader-card__content .trader-card__btn {
  margin-top: auto;
  padding: 0.375rem 1.3125rem;
}
.trader-card__discount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 0.75rem;
}
.trader-card__discount .promocodes-card__discount-number {
  position: relative;
  margin-left: 0.75rem;
  margin-right: 4rem;
  padding: 0.1875rem 0.1875rem 0.125rem 0;
  font-size: 1.3125rem;
  line-height: 1.1904762;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.1875rem;
  background-color: #64B3F7;
}
.trader-card__discount .promocodes-card__discount-number::before {
  position: absolute;
  content: "";
  left: -0.75rem;
  top: 0;
  width: 0.75rem;
  height: 1.875rem;
  border: 0.875rem solid transparent;
  border-left-width: 0;
  border-right-color: #64B3F7;
  border-radius: 0.1875rem;
}
.trader-card__discount .promocodes-card__discount-number--top {
  background-color: #E84F35;
}
.trader-card__discount .promocodes-card__discount-number--top::before {
  border-right-color: #E84F35;
}
.trader-card__discount .promocodes-card__discount-date {
  margin-right: auto;
  padding: 0.125rem 0 0.125rem 1.125rem;
  line-height: 1.1875;
  color: #E84F35;
}
.trader-card__discount .promocodes-card__discount-date--hot {
  font-weight: 700;
  margin-right: 0;
  padding-left: 1.5rem;
}

@media screen and (max-width: 767px) {
  .trader-main h2, .trader-main .h2 {
    font-size: 1.25rem;
  }
  .trader-card:not(.trader-card--current) {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 1.5rem;
  }
  .trader-card:not(.trader-card--current) .trader-card__logo {
    width: 100%;
    height: 4.5rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  .trader-card:not(.trader-card--current) .trader-card__content {
    padding: 0;
  }
  .trader-card:not(.trader-card--current) .trader-card__content::before {
    display: none;
  }
  .trader-card--current {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .trader-card--current .trader-card__logo {
    width: 4.75rem;
    background-size: 2.75rem;
  }
  .trader-card--current .trader-card__content {
    padding: 0.5rem 1rem;
  }
  .trader-card--current .trader-card__content .trader-card__title {
    font-size: 1.25rem;
  }
  .trader-card .trader-card__btn {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .trader-card--current .trader-card__discount {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .trader-card--current .trader-card__discount .promocodes-card__discount-number {
    margin-right: auto;
  }
}
.trader-shops {
  margin-top: 2.5rem;
}

.shops-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  padding: 1.125rem 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.shops-card__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 4.375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.shops-card__logo a {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: inherit;
  max-width: 100%;
  padding: 0.5rem 0;
  color: #172A3A;
  text-decoration: none;
}
.shops-card__logo img {
  max-width: 100%;
  max-height: 100%;
}
.shops-card .shops-card__name {
  font-size: 1.125rem;
  line-height: 1.166667;
  color: #172A3A;
  overflow-wrap: break-word;
}
.shops-card .shops-card__offers {
  margin-top: auto;
  line-height: 1.1875;
  color: #7C9CAC;
}
.shops-card--main {
  padding: 1.5rem;
}
.shops-card--main .shops-card__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 4.5rem;
  padding: 0.5rem 0;
}
.shops-card--main .shops-card__name {
  font-size: 1.375rem;
  line-height: 1.181819;
  font-weight: 700;
}

.trader-info {
  margin-top: 4.5rem;
}

.promocodes .pagination .prev.disabled > span, .promocodes .pagination .next.disabled > span {
  position: relative;
  display: block;
  margin-left: -1px;
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.8125rem 1rem;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: #6c757d;
  border-radius: 0.5rem;
  background-color: #fff;
  pointer-events: none;
  cursor: auto;
  opacity: 0.75;
}
.promocodes .pagination .page-item:not(.prev):not(.next) .page-link {
  line-height: initial;
}
.promocodes .pagination-wrapper .btn.btn-more::after {
  margin-top: -13px;
}
.promocodes .pagination-wrapper .btn.btn-more.loading::after {
  -webkit-animation: more-loading infinite 0.75s linear;
          animation: more-loading infinite 0.75s linear;
}

@-webkit-keyframes more-loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes more-loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (max-width: 767px) {
  .promocodes .pagination li:nth-child(n+7):not(.next):not(.prev) {
    display: none; /* показати тільки перші 4 */
  }
  .promocodes .pagination .page-item {
    margin: 0 3px;
  }
}
@media screen and (min-width: 768px) {
  .promocodes .pagination li:nth-child(n+8):not(.next):not(.prev) {
    display: none; /* показати тільки перші 6 */
  }
}
.categories-menu {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
}
.categories-menu > li:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.categories-menu__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 3.125rem;
  border-radius: 0.5rem;
}
.categories-menu__link-icon {
  -ms-flex: 0 0 3.125rem;
      flex: 0 0 3.125rem;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.categories-menu__link-title {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: 0.625rem;
  padding-right: 0.5rem;
  font-size: 1.125rem;
  color: #172A3A;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.categories-menu__link:hover {
  text-decoration: none;
  background-color: #F0F5FA;
}
.categories-menu__link:active, .categories-menu__link.active {
  background-color: #FFE7E6;
}
.categories-menu__link:active .categories-menu__link-title, .categories-menu__link.active .categories-menu__link-title {
  color: #E84F35;
}/*# sourceMappingURL=promocodes.css.map */