.qr-banks-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.qr-header, .qr-footer {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.qr-main {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
}

.qr-header {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #EBF0F5;
}

.product-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: #E9F0F2;
}
.product-label__title {
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  color: #324454;
}
.product-label__icon {
  -ms-flex: 0 0 1.625rem;
      flex: 0 0 1.625rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  margin-left: 0.25rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.qr-main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.qr-main .qr-main__title {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #161D2F;
}
.qr-main .qr-main__subtitle {
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #7897B0;
}
.qr-main__search {
  width: 100%;
  max-width: 444px;
  margin-top: 2rem;
}
.qr-main__search .form-control {
  height: 2.5rem;
  padding: 0.6875rem 1rem 0.6875rem 2.625rem;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #324454;
  border-width: 0;
  border-radius: 0.5rem;
  background-color: #E5EEF2;
  background-image: url("../img/qr-banks/icon-search.svg");
  background-position: left 0.5rem center;
  background-repeat: no-repeat;
}
.qr-main__search .form-control::-webkit-input-placeholder {
  color: #7897B0;
}
.qr-main__search .form-control::-moz-placeholder {
  color: #7897B0;
}
.qr-main__search .form-control:-ms-input-placeholder {
  color: #7897B0;
}
.qr-main__search .form-control::-ms-input-placeholder {
  color: #7897B0;
}
.qr-main__search .form-control::placeholder {
  color: #7897B0;
}

.qr-banks {
  margin-top: 2rem;
}
.qr-banks.row {
  margin-left: -8px;
  margin-right: -8px;
}
.qr-banks.row [class^=col] {
  padding-left: 8px;
  padding-right: 8px;
}
.qr-banks.row [class^=col].inactive {
  display: none;
}

.qr-bank {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #CDE5F0;
  border-radius: 0.5rem;
}
.qr-bank:hover {
  text-decoration: none;
  border-color: transparent;
  box-shadow: 0 4px 5px rgba(23, 42, 58, 0.1);
}
.qr-bank img {
  max-width: 100%;
  max-height: 100%;
}

.qr-footer {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.qr-secured {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #3B566E;
}
.qr-secured > img {
  margin-left: 0.625rem;
}
.qr-secured > img:first-of-type {
  width: 62px;
}

@media screen and (max-width: 767px) {
  .qr-main {
    padding-bottom: 0;
  }
  .qr-main__search {
    max-width: none;
    margin-top: 1rem;
  }
  .qr-banks {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=qr-banks.css.map */