.landing-wrapper {
  padding-top: 1.75rem;
  padding-bottom: 2.5rem;
}

.landing-wrapper h1 {
  font-size: 2.625rem;
  color: #ffffff;
}

.landing-wrapper h2 {
  line-height: 1.3;
}

.landing-wrapper .btn-landing {
  max-width: 15.625rem;
  padding: 0.75rem 1rem;
  color: #ffffff;
  border-color: #E84F35;
  background-color: #E84F35;
}

@media screen and (max-width: 991px) {
  .landing-wrapper {
    padding-top: 1rem;
  }
  .landing-wrapper .btn-landing {
    display: block;
    max-width: none;
  }
  .landing-wrapper h1 {
    font-size: 1.75rem;
  }
  .landing-wrapper h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .landing-wrapper h1 {
    font-size: 1.5rem;
  }
  .landing-wrapper h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .landing-wrapper {
    padding-top: 0.875rem;
    padding-bottom: 2.5rem;
  }
  .landing-wrapper .btn-landing {
    max-width: none;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-size: 1rem;
  }
}

.landing-header {
  position: relative;
  max-width: 79.375rem;
  margin: auto;
  border-radius: 1.5rem;
  background-color: #172A3A;
  background: #172A3A url("data:image/svg+xml,%3Csvg width='42' height='26' viewBox='0 0 42 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.25 25.2495C19.0155 25.2495 24.5 19.765 24.5 12.9995C24.5 6.23402 19.0155 0.749512 12.25 0.749512C5.48451 0.749512 0 6.23402 0 12.9995C0 19.765 5.48451 25.2495 12.25 25.2495Z' fill='%23EA001B'/%3E%3Cpath d='M29.75 25.2495C36.5155 25.2495 42 19.765 42 12.9995C42 6.23402 36.5155 0.749512 29.75 0.749512C22.9845 0.749512 17.5 6.23402 17.5 12.9995C17.5 19.765 22.9845 25.2495 29.75 25.2495Z' fill='%23FFA200' fill-opacity='0.8'/%3E%3C/svg%3E") right 1.75rem bottom 1.75rem no-repeat;
  overflow: hidden;
  z-index: 2;
}

.landing-header::before, .landing-header::after {
  position: absolute;
  content: '';
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  z-index: -1;
}

.landing-header::before {
  top: 63px;
  right: -100px;
  border: 1px solid rgba(255, 181, 51, 0.25);
  background-color: rgba(255, 181, 51, 0.04);
}

.landing-header::after {
  right: 60px;
  bottom: -105px;
  border: 1px solid rgba(234, 0, 27, 0.25);
  background-color: rgba(234, 0, 27, 0.04);
}

.landing-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.landing-header__content p {
  font-size: 1.5rem;
  color: #ffffff;
}

.landing-header__content p.extra-small {
  font-size: 0.75rem;
}

.landing-header__content .landing-header__date {
  color: #E84F35;
  font-weight: 700;
}

.landing-header__content .landing-header__subtitle {
  max-width: 33.75rem;
}

.landing-header__img {
  margin-left: -5.625rem;
  padding-top: 5rem;
}

@media screen and (max-width: 991px) {
  .landing-header__content p {
    font-size: 1rem;
  }
  .landing-header__content .landing-header__date {
    font-size: 1.25rem;
  }
  .landing-header__img {
    margin-left: 0;
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .landing-header {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-position: right 0.625rem bottom 1.125rem;
  }
  .landing-header::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -270px;
  }
  .landing-header::after {
    display: none;
  }
  .landing-header__content .landing-header__date {
    font-size: 1rem;
  }
  .landing-header__img {
    padding-top: 2.75rem;
  }
  .landing-header__img img {
    max-width: 100%;
  }
}

.landing-conditions {
  padding-top: 2.5rem;
}

.landing-conditions__title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.landing-conditions__title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.landing-conditions p {
  font-size: 1.125rem;
  color: #172A3A;
}

.landing-conditions p.landing-conditions__subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.landing-conditions ul {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.landing-conditions ul li {
  position: relative;
  padding-left: 1.625rem;
  color: #172A3A;
}

.landing-conditions ul li::before {
  position: absolute;
  content: '';
  left: 12px;
  top: 8px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #172A3A;
}

.landing-conditions ul span {
  color: #E84F35;
  font-weight: 700;
}

.landing-conditions h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .landing-conditions {
    padding-top: 1.5rem;
  }
  .landing-conditions__title {
    margin-bottom: 1rem;
  }
  .landing-conditions p.landing-conditions__subtitle {
    margin-bottom: 1rem;
  }
  .landing-conditions h3:not(.h1) {
    font-size: 1.25rem;
  }
}

.landing-condition {
  padding-bottom: 2.5rem;
}

.landing-condition > span {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  line-height: calc(3rem + 1px);
  text-align: center;
  border-radius: 50%;
  background-color: #E84F35;
}

.landing-condition p {
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .landing-condition {
    padding-bottom: 0.875rem;
  }
  .landing-condition > span {
    margin-bottom: 1rem;
  }
}

.landing-promo {
  padding-top: 133px;
}

.landing-promo__card {
  border-radius: 1.25rem;
  background-color: #172A3A;
}

.landing-promo__img {
  position: relative;
  margin-top: -133px;
  margin-left: 100px;
}

.landing-promo__img .image-2 {
  position: absolute;
  left: -72px;
  bottom: -18px;
  -webkit-box-shadow: 0px 3.69172px 14.7669px rgba(97, 144, 183, 0.25);
          box-shadow: 0px 3.69172px 14.7669px rgba(97, 144, 183, 0.25);
  border-radius: 14.7669px;
}

.landing-promo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 2.0625rem;
  font-size: 1.5rem;
}

.landing-promo__text p {
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .landing-promo__text {
    padding-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .landing-promo {
    padding-top: 124px;
  }
  .landing-promo__img {
    margin-left: 0;
    margin-top: -110px;
    margin-bottom: 104px;
    text-align: center;
  }
  .landing-promo__img .image-2 {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -82px;
  }
  .landing-promo__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .landing-promo .btn-landing {
    margin-bottom: 2.125rem;
  }
}

.landing-bottom {
  padding-top: 3.625rem;
}

.landing-bottom .btn-landing {
  max-width: 21.875rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .landing-bottom {
    padding-top: 1.5rem;
  }
}
/*# sourceMappingURL=tripleCashback-landing.css.map */