/*-----------------------------------
UCP Header Text
-----------------------------------*/
.ucp-header {
  position: relative;
}
.ucp-header::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #F0F5FA;
}
.ucp-header__text, .ucp-header__imgs {
  position: relative;
  background-color: #ffffff;
}
.ucp-header__text {
  color: #172A3A;
}
.ucp-header__img--mastercard {
  margin-left: 0.375rem;
}

/*-----------------------------------
UCP Checking
-----------------------------------*/
.ucp-checking > p {
  color: #00112C;
}

.payment-method-clicktopay:disabled {
  pointer-events: none;
}

/*-----------------------------------
UCP Checkbox Add Card
-----------------------------------*/
.ucp-add-card {
  padding: calc(1rem - 2px) calc(1.5rem - 2px);
  border: 2px solid #64B3F7;
  border-radius: 0.5rem;
  background-color: #F9FCFF;
}
.ucp-add-card .checkbox-control {
  padding-left: 0;
  line-height: 0;
}
.ucp-add-card .checkbox-control::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 4.125rem;
  height: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  border-left: 1px solid #CDCDCD;
}
.ucp-add-card .checkbox-label {
  padding-left: 4.625rem;
  font-size: 0.875rem;
  line-height: 1.4285714;
  background: url("../img/ucp-payment/click-to-pay-icon.svg") left 1.75rem center no-repeat;
  background-size: 31px;
}
.ucp-add-card .checkbox-label::before, .ucp-add-card .checkbox-label::after {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.ucp-add-card__fields {
  padding-top: 0.625rem;
}
.ucp-add-card__fields > .row {
  margin-left: -5px;
  margin-right: -5px;
}
.ucp-add-card__fields > .row > [class^=col] {
  padding-left: 5px;
  padding-right: 5px;
}
.ucp-add-card__fields .form-group {
  margin-bottom: 0.75rem;
}
.ucp-add-card__fields .form-group.has-error {
  margin-bottom: 0.75rem;
}
.ucp-add-card__fields .form-group.has-error .help-block {
  position: static;
}
.ucp-add-card__fields .form-group.has-error .form-input:not([type=password]):not(.input-icon-right):not(.input-cvv) {
  padding-right: 2.25rem;
}
.ucp-add-card__fields .form-input {
  padding-left: 1.0625rem;
  padding-right: 2.25rem;
}
.ucp-add-card__fields-header {
  margin-bottom: 0.75rem;
}
.ucp-add-card__fields-footer a {
  color: #4D90E2;
}

/*-----------------------------------
UCP PENDING_CONSUMER_IDV
-----------------------------------*/
.ucp-pending-alert {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #F0F5FA;
}
.ucp-pending-alert .form-input {
  padding: 2.1875rem 3rem 0.9375rem 0.875rem;
}
.ucp-pending-alert .form-label {
  left: 1.5rem;
}
.ucp-pending-alert .help-block.visible {
  display: block;
  color: #E84F35;
}
.ucp-pending-alert .ucp-pending-send {
  display: inline-block;
  margin-top: 0.625rem;
}

.ucp-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 4.375rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(23, 42, 58, 0.1);
  cursor: pointer;
}
.ucp-card--active {
  background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.875 12.6211L8.7 16.4461C9.2775 17.0236 10.2225 17.0236 10.8 16.4461L19.125 8.12106' stroke='%2309BC8A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right 0.625rem center no-repeat;
}
.ucp-card__header {
  -ms-flex: 0 0 4.9375rem;
      flex: 0 0 4.9375rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
  border-radius: 0.1875rem;
  background-color: #27A379;
  overflow: hidden;
}
.ucp-card__header:not(.ucp-card__header--visa) {
  padding: 0.25rem;
}
.ucp-card__header--visa > img {
  max-width: 100%;
}
.ucp-card__header-type {
  height: 0.75rem;
  margin-top: auto;
  text-align: right;
  font-size: 0;
}
.ucp-card__header-type img {
  max-height: 100%;
  max-width: 100%;
}
.ucp-card__body {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 1rem;
}
.ucp-card__body .ucp-card__body-network {
  -ms-flex: 0 0 4rem;
      flex: 0 0 4rem;
  height: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
}
.ucp-card__body .ucp-card__body-network--visa {
  background-image: url(../img/ucp-payment/visa-icon.svg);
  background-size: 3.75rem;
}
.ucp-card__body .ucp-card__body-network--mastercard {
  background-image: url(../img/ucp-payment/mastercard-icon.svg);
  background-size: 2rem;
}
.ucp-card__body .ucp-card__body-mask {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.0625;
  letter-spacing: 1px;
  color: #374053;
}

.ucp-cards-select .ucp-card {
  padding-right: 4.875em;
}
.ucp-cards-select .ucp-card::after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 100%;
  top: 0;
  right: 0.625rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.14648 8.52237L10.0052 13.3837' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0054 13.3838L14.8641 8.52242' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  z-index: 10;
}
.ucp-cards-select[aria-expanded=true] .ucp-card::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ucp-cards .dropdown-menu .ucp-card {
  box-shadow: none;
}
.ucp-cards .dropdown-menu .ucp-card:not(:last-of-type) {
  border-bottom: 1px solid #F0F5FA;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ucp-cards .dropdown-menu .ucp-card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*-----------------------------------
Click to Pay Adding Success
-----------------------------------*/
.ucp-adding-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
}
.ucp-adding-modal .ucp-checking {
  max-width: 460px;
  padding-top: 5rem;
}

/*-----------------------------------
Click to Pay Empty Email
-----------------------------------*/
.ucp-empty-email {
  position: relative;
  padding: calc(1rem - 1px);
  padding-right: calc(5rem - 1px);
  border: 1px solid #FFD578;
  border-radius: 0.5rem;
  background-color: #FEF7E0;
}
.ucp-empty-email p {
  color: #172A3A;
}
.ucp-empty-email::before {
  position: absolute;
  content: "";
  right: 0.9375rem;
  top: 0.9375rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(232, 79, 53, 0.2) url("data:image/svg+xml,%3Csvg width='37' height='30' viewBox='0 0 37 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_377_8724)'%3E%3Crect x='3.60547' y='3.50024' width='27.6316' height='21' rx='2' fill='white'/%3E%3Cpath d='M5.81592 22.8423L17.4212 12.3423L29.0264 22.8423' stroke='%23DEE7F3' stroke-linecap='round'/%3E%3Cpath d='M29.7119 3.50024H5.1302C4.21068 3.50024 3.77858 4.63676 4.46584 5.24765L16.7567 16.1729C17.1356 16.5096 17.7065 16.5096 18.0854 16.1729L30.3763 5.24765C31.0635 4.63676 30.6314 3.50024 29.7119 3.50024Z' fill='white'/%3E%3Cpath d='M5.26318 6.81606L16.7878 16.2453C17.1562 16.5467 17.686 16.5467 18.0543 16.2453L29.579 6.81606' stroke='%23DEE7F3' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_377_8724' x='0.605469' y='0.500244' width='35.6313' height='29' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='1' dy='1'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_377_8724'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_377_8724' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
}

.modal-ucp-empty-email .modal-content {
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(39, 97, 146, 0.15);
}
.modal-ucp-empty-email .modal-header {
  padding: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-width: 0;
  overflow: hidden;
}
.modal-ucp-empty-email .modal-header img {
  max-width: 100%;
}
.modal-ucp-empty-email .modal-header .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 1;
}
.modal-ucp-empty-email .modal-body {
  padding: 1rem 1.5rem 1.5rem;
}
.modal-ucp-empty-email .modal-body p {
  font-size: 0.875rem;
  color: #172A3A;
}
@media screen and (min-width: 576px) {
  .modal-ucp-empty-email .modal-dialog {
    max-width: 630px;
  }
}
@media screen and (max-width: 767px) {
  .modal-ucp-empty-email .modal-dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 575px) {
  .modal-ucp-empty-email .modal-dialog {
    max-width: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}/*# sourceMappingURL=visa-ucp.css.map */